<section class="content">
  <div class="page-header" >
    <h1>Upload An Asset!</h1>
  </div>
  <div class="col-md-12">
    <div ng-controller="MediaController as vm">
      <md-button class="md-button md-raised md-primary" ngf-select="upload($files)" ngf-multiple="true">
        UPLOAD FILES
        <br><img src="lib/material-design-icons/file/1x_web/ic_cloud_upload_white_48dp.png"/></md-button>
      <h1 ng-show="vm.determinateValue">{{vm.determinateValue}}%</h1>
      <md-progress-linear md-mode="determinate"  value="{{vm.determinateValue}}" ng-show="vm.determinateValue"></md-progress-linear>
    </div>
  </div>
</section>
