{% extends 'layout.server.view.html' %}

<!-- HEAD - STYLES BLOCK -->
{% block head %}
    
    {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}">
    {% endfor %}
    
    <!-- EXTERNAL FONT LIBRARIES
      font-family:'Brandon Grot W01 Light';
      font-family:'Brandon Grot W01 Bold';
      font-family:'AvenirNextLTW01-Regular';
      font-family:'Avenir Next W01 Thin';
    -->
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/3b9063a6-07ec-42c2-ba02-c5e29f5b29f7.css">
    
    {% block extraStyles %}
    {% endblock %}

{% endblock %}

<!-- CONTENT BLOCK -->
{% block content %}
    
    <header ng-include="'/modules/core/client/views/nav.html'"></header>
    <section ui-view></section>

{% endblock %}

<!-- SCRIPTS BLOCK -->
{% block bodyend %}

    <script type="text/javascript">
        window.user = {{user | json | safe}};
        window.appSettings = {{ appSettings | json | safe }};
    </script>

    {% for jsFile in jsFiles %}
    <script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %}

    {% block extraScripts %}
    {% endblock %}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-lGWm77Yxx1dsuBobAJyLEIVAMnooRCc&libraries=places"></script>

{% endblock %}
