<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/"/>
  <!-- build:template
     <title><%= title %></title>
     /build -->

  <!-- build:remove -->
  <title>DASHBOARD DEV</title>
  <!-- /build -->
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">
  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">
  <script src='/socket.io/socket.io.js'></script>
  <link rel="stylesheet" href="dist/lib.min.css">


  <!-- build:css:prod dist/application.min.css -->
  {% for cssFile in cssFiles %}
  <link rel="stylesheet" href="{{cssFile}}">
  {% endfor %}
  <!-- /build -->


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!--<script type="text/javascript">getUser()</script>-->

  <script type="text/javascript">
    !function (a, b, c, d, e, f, g, h) {
      a.RaygunObject = e, a[ e ] = a[ e ] || function () {
          (a[ e ].o = a[ e ].o || []).push(arguments)
        }, f = b.createElement(c), g = b.getElementsByTagName(c)[ 0 ],
        f.async = 1, f.src = d, g.parentNode.insertBefore(f, g), h = a.onerror, a.onerror = function (b, c, d, f, g) {
        h && h(b, c, d, f, g), g || (g = new Error(b)), a[ e ].q = a[ e ].q || [], a[ e ].q.push({
          e: g
        })
      }
    }(window, document, "script", "//cdn.raygun.io/raygun4js/raygun.min.js", "rg4js");
  </script>

</head>

<body class="ng-cloak dashboard">
<header ng-include="'/modules/core/client/views/header.client.view.html'" style=""></header>

{% block content %}{% endblock %}
<script>

</script>
<script type="text/javascript">
  var user = {{user | json | safe}}
</script>


<script type="text/javascript">

  (function () {
    var w = window;
    var ic = w.Intercom;
    if (typeof ic === "function") {
      ic('reattach_activator');
      ic('update', intercomSettings);
    } else {
      var d = document;
      var i = function () {
        i.c(arguments)
      };
      i.q = [];
      i.c = function (args) {
        i.q.push(args)
      };
      w.Intercom = i;
      function l() {
        var s = d.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://widget.intercom.io/widget/ugnow3fn';
        var x = d.getElementsByTagName('script')[ 0 ];
        x.parentNode.insertBefore(s, x);
      }

      if (w.attachEvent) {
        w.attachEvent('onload', l);
      } else {
        w.addEventListener('load', l, false);
      }
    }
  })()
</script>
<!--Load The Socket.io File-->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<!--Minified Libraries (in production)-->
<!-- build:js:prod dist/lib.js -->
<!-- /build -->
<!--Application JavaScript Files-->
<!-- build:js:prod dist/application.min.js -->
{% for jsFile in jsFiles %}
<script type="text/javascript" src="{{jsFile}}"></script>
{% endfor %}
<script>console.log('THIS IS DEV ENV')</script>
<!-- /build -->


<script type="text/javascript">
  rg4js('apiKey', 'ZHPyJnDQHcXuYk51BE543w==');
  rg4js('options', {
    disableCrashReporting: false,
    disablePulse: false,
    excludedUserAgents: [ 'PhantomJS' ],
    excludedHostnames: [ '\.local', '\.dashdev', 'localhost' ]
  })
</script>
</body>

</html>
