<div class="common-sub-nav-bar">
  <div>Setup: </div>
  <div class="step">
    <div class="circle">
      <i class="fa fa-check"></i>
    </div>
    <div>Correct & Optimize Digital Listings</div>
  </div>
  <div class="step">
    <div class="circle">
      <i class="fa fa-check"></i>
    </div>
    <div>Setup Sellr Website</div>
  </div>
  <div class="step active">
    <div class="circle">
      3
    </div>
    <div>Connect Fabecook Page</div>
  </div>
  <div class="step">
    <div class="circle">
      4
    </div>
    <div>Choose Products to Promote</div>
  </div>
</div>
<div class="store-owner-home-view">
  <div class="welcome-text">Hi User! Welcome to the Sellr Dashboard.</div>
  <div class="welcome-sub-text">There’s just a few more steps to finish setting up your maketing manager?</div>
  <div class="top-white-boxes">
    <div class="top-white-box">
      <div class="icon"></div>
      <div class="text">Set up your<br>Sellr Website</div>
      <div class="common-btn-positive">Setup Website</div>
    </div>
    <div class="top-white-box">
      <div class="icon"></div>
      <div class="text">Start promoting<br>your facebook page</div>
      <div class="common-btn-positive">Connect to Facebook</div>
    </div>
    <div class="top-white-box">
      <div class="icon"></div>
      <div class="text">List your products online and<br>Choose Products to Promote</div>
      <div class="common-btn-positive">Choose Products</div>
    </div>
  </div>
  <div class="separator">
    <div class="line">&nbsp;</div>
    <div class="text">DASHBOARD</div>
    <div class="line">&nbsp;</div>
  </div>
  <div class="bottom-white-boxes">
    <div class="bottom-white-box-container">
      <div class="title">Store Listing Stats</div>
      <div class="bottom-white-box">
      </div>
    </div>
    <div class="bottom-white-box-container">
      <div class="title">Dashboard Overview</div>
      <div class="bottom-white-box">
      </div>
    </div>
    <div class="bottom-white-box-container">
      <div class="title">Another Stat or Call</div>
      <div class="bottom-white-box">
      </div>
    </div>
    <div class="bottom-white-box-container">
      <div class="title">Another Stat or Call</div>
      <div class="bottom-white-box">
      </div>
    </div>
  </div>
</div>