<div class="store-owner-home-view">
  <div class="common-top-bar">
    <div>&nbsp;</div>
    <div class="date-filter">
      <div class="common-btn-gray" ng-click="googleSessionNumber()">Weekly Report</div>
      <div class="common-btn-gray">Monthly Report</div>
      <div class="common-btn-gray active">Custom</div>
      <md-datepicker ng-model="ga.start" ng-change="googleSessionNumber()" md-hide-icons="triangle" md-min-date="ga.min" md-max-date="ga.max"></md-datepicker>
      <i class="fa fa-minus" style="margin-left: 15px; margin-right: 0;"></i>
      <md-datepicker ng-model="ga.end" ng-change="googleSessionNumber()" md-hide-icons="triangle" md-min-date="ga.min" md-max-date="ga.max"></md-datepicker>
    </div>
    <div>
      <div class="common-btn-positive has-left-icon autowidth"><div class="common-centered-content"><img src="/img/export-icon.png" alt="icon"> Download Report</div></div>
    </div>
  </div>
  <div class="main-content">
    <div class="main-left-column">
      <div class="common-white-box">
        <div class="title">Website visitors by source</div>
      </div>
      <div class="common-white-box">
        <div class="title">Website page views</div>
      </div>
      <div class="common-white-box top-products">
        <div class="title">Top Products</div>
        <div class="top-product" ng-mouseenter="ui.topHover1 = true" ng-mouseleave="ui.topHover1 = false">
          <div class="name">Jm Beam Kentucky Straight Bourbon Whiskey</div>
          <div ng-if="!ui.topHover1"><strong>312 clicks</strong></div>
          <div ng-if="ui.topHover1" class="view-prod">View Product <i class="fa fa-chevron-right"></i></div>
        </div>
        <div class="top-product" ng-mouseenter="ui.topHover2 = true" ng-mouseleave="ui.topHover2 = false">
          <div class="name">Domaine de la Chapelle des Bois</div>
          <div ng-if="!ui.topHover2"><strong>222 clicks</strong></div>
          <div ng-if="ui.topHover2" class="view-prod">View Product <i class="fa fa-chevron-right"></i></div>
        </div>
        <div class="top-product" ng-mouseenter="ui.topHover3 = true" ng-mouseleave="ui.topHover3 = false">
          <div class="name">Whiskey</div>
          <div ng-if="!ui.topHover3"><strong>33 clicks</strong></div>
          <div ng-if="ui.topHover3" class="view-prod">View Product <i class="fa fa-chevron-right"></i></div>
        </div>
        <div class="top-product" ng-mouseenter="ui.topHover4 = true" ng-mouseleave="ui.topHover4 = false">
          <div class="name">Domaine de la Chapelle des Bois</div>
          <div ng-if="!ui.topHover4"><strong>456 clicks</strong></div>
          <div ng-if="ui.topHover4" class="view-prod">View Product <i class="fa fa-chevron-right"></i></div>
        </div>
      </div>
    </div>
    <div class="main-right-column">
      <div class="top-stats">
        <div class="common-white-box">
          <div class="icon-container">
            <img src="/img/placeholdericon60x60.png" alt="icon">
          </div>
          <div class="info-container">
            <div class="number">{{websiteTraffic}} <span class="indicator"><i class="fa fa-chevron-circle-up"></i> 67%</span></div>
            <div class="text">Website visitors</div>
            <div class="test" ng-click="getSessionsFromGoole()">get visitors</div>
          </div>
        </div>
        <div class="common-white-box">
          <div class="icon-container">
            <img src="/img/facebook-icon.svg" alt="icon">
          </div>
          <div class="info-container">
            <div class="number">37 <span class="indicator"><i class="fa fa-chevron-circle-up"></i> 67%</span></div>
            <div class="text">NEW FACEBOOK LIKES</div>
          </div>
        </div>
        <div class="common-white-box">
          <div class="icon-container">
            <img src="/img/twitter-icon.svg" alt="icon">
          </div>
          <div class="info-container">
            <div class="number">18 <span class="indicator negative"><i class="fa fa-chevron-circle-down"></i> 67%</span></div>
            <div class="text">NEW TWITTER FOLLOWERS</div>
          </div>
        </div>
        <div class="common-white-box">
          <div class="icon-container">
            <img src="/img/subscribers-icon.svg" alt="icon">
          </div>
          <div class="info-container">
            <div class="number">8 <span class="indicator"><i class="fa fa-chevron-circle-up"></i> 67%</span></div>
            <div class="text">new subscribers</div>
          </div>
        </div>
      </div>
      <div class="common-white-box">
        <div class="title">Overview</div>
      </div>
    </div>
  </div>
</div>
