<div class="store-owner-listed-products-view has-subnav">
  <div ng-class="['left-side-content', {full: ui.display === 'fulltable'}]">
    <div class="title">All Listed Products</div>
    <!--  <div>
      <button ng-repeat="plan in plans" ng-click="selectPlan(plan)">{{ plan.label }}</button>
    </div> -->
    <div class=" main-table-header">
      <!--
      FILTER HEADER
      -->
      <div class="filter-header">
        <div class="left-filter">
          <div class="common-input-with-icon">
            <input type="text" placeholder="Search" ng-model="ui.searchText" class="common-input">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <div class="right-filter">
          <div class="common-btn-gray" ng-click="">Add Product</div>
          <div class="common-btn-black" ng-click="showUploadCsvDialog()"><div class="common-centered-content"><img src="/img/import-icon.png" alt="icon"> Import CSV</div></div>
        </div>
      </div>
      <!--
      COLUMNS HEADER
      -->
      <div class="columns-header">
        <div class="name-col" ng-click="reOrderList('name')"><span>Product Name</span> <i class="fa fa-sort"></i></div>
        <!--<div class="promoted-col" ng-click="reOrderList('promoted')"><span>Promoted</span> <i class="fa fa-sort"></i></div>-->
        <div class="sku-col" ng-click="reOrderList('sku')"><span>UPC</span> <i class="fa fa-sort"></i></div>
        <div class="size-col" ng-click="reOrderList('size')"><span>Size</span> <i class="fa fa-sort"></i></div>
        <div class="price-col" ng-click="reOrderList('price')"><span>Price</span> <i class="fa fa-sort"></i></div>
        <div class="sale-col" ng-click="reOrderList('sale')"><span>Sale Price</span> <i class="fa fa-sort"></i></div>
        <div class="type-col" ng-click="reOrderList('type')"><span>Type</span> <i class="fa fa-sort"></i></div>
      </div>
    </div>
    <div class="main-table">
      <!--
      COLUMNS DATA ROWS
      -->
      <div
        ng-class="['columns-data', {active: ui.activeIndex === $index}]"
        ng-repeat="product in selectedPlan.products | filterBy:['name']:ui.searchText |
        filterApproved track by $index"
        ng-click="openEditProduct(product, $index)">
        <div class="name-col">
          <img src="{{product.image}}" alt="product image">
          <span ng-bind-html="product.name | highlight:ui.searchText"></span>
        </div>
        <!--<div class="promoted-col">-->
        <!--<img ng-src="{{$even ? '/img/check-active.svg' : '/img/check-not-active.svg'}}" alt="icon">-->
        <!--</div>-->
        <div class="sku-col">{{product.skus[0 || '']}}</div>
        <div class="size-col">{{ product.prices[0].size || '' }}</div>
        <div class="price-col">{{ product.prices[0].oprice || '' }}</div>
        <div class="sale-col" class="nosale">{{ product.prices[0].price || '' }}</div>
        <div class="type-col">{{Types[product.productTypeId].name}}</div>
        <!-- <div class="type-col" ng-bind="product.productTypeId === 1 ? 'Wine' : product.productTypeId === 2 ? 'Beer' : product.productTypeId === 3 ? 'Spirit' : ''" ng-click="viewProduct(product)"></div> -->
      </div>
    </div>
  </div>
  <!--
  RIGHT SIDE
  -->
  <div class="right-side-content" ng-show="ui.display !== 'fulltable'">
    <div class="title">Save Product</div>
    <div class="side-panel">
      <div class="action-btns">
        <!--     <div class="common-btn-gray" ng-click="showPromoteProductDialog()" ng-if="!ui.promotedProduct">Promote Product</div>
        <div class="common-btn-black autowidth" ng-click="ui.promotedProduct = false" ng-if="ui.promotedProduct">Stop Promoting Product</div> -->
        <div>&nbsp;</div>
        <div class="common-btn-positive" ng-click="saveProduct()">Done Editing</div>
        <div>&nbsp;</div>
      </div>
      <div class="product-image-container">
        <product-image image-url="{{ ui.activeProduct.image ||  ui.activeProduct.images[0] || ui.activeProduct.researchImage }}"
        product-type="{{ ui.activeProduct.productTypeId }}"></product-image>
      </div>
      <div class="product-title" ng-bind="ui.activeProduct.name"></div>
      <div class="common-field-title">Product Id</div>
      <input type="text" class="common-input" name="name" disabled ng-model="ui.activeProduct.productId">
      <div class="columns">
        <div class="first-column">
          <div class="common-field-title">Type</div>
          <input type="text" class="common-input" name="name" disabled ng-model="Types[ui.activeProduct.productTypeId].name">
        </div>
        <div class="second-column" ng-hide="loading">
          <div class="common-field-title">Sub Type</div>
          <input type="text" class="common-input" name="name" disabled value="Subvalue">
        </div>
      </div>
      <div class="common-field-title">Shelf Tag</div>
      <selectize class="custom-selectize" config="slotSelectConfig" options="slotSelectOptions" ng-model="ui.activeProduct.slot">
      </selectize>
      <div class="common-field-title">Notes</div>
      <input type="text" class="common-input" name="name" ng-model="ui.activeProduct.notes">
      <div class="common-field-title">Product Description</div>
      <div class="product-description" ng-bind-html="ui.descriptionHTML"></div>
      <div class="separator"></div>
      <div class="common-field-title">Default Size</div>
      <div class="size-container">
        <div class="sub-title">Size</div>
        <div class="size-selector">
          <div ng-show="!ui.showCustomSize[0]">
            <selectize  class="custom-selectize" config="sizesSelectConfig" options="sizesSelectOptions" ng-model="ui.activeProduct.prices[0].size" ng-change="selectSizeHandler(0)">
            </selectize>
          </div>
          <div ng-show="ui.showCustomSize[0]" class="custom-size">
            <input type="text" class="common-input" name="size" ng-model="ui.activeProduct.prices[0].size" placeholder="Type a custom size">
            <i class="fa fa-times-circle" ng-click="resetSize(0)"></i>
          </div>
        </div>
        <!-- ONSALE -->
        <div class="columns" ng-if="ui.activeProduct.prices[0].onsale">
          <div class="first-column">
            <div class="sub-title">Price</div>
            <div class="price-box">
              <div class="dollar-sign">$</div>
              <input type="text" class="common-input" name="name" ng-model="ui.activeProduct.prices[0].oprice">
            </div>
          </div>
          <div class="second-column">
            <div class="sub-title">Sale Price</div>
            <div class="price-box">
              <div class="dollar-sign disabled">$</div>
              <input type="text" class="common-input" name="name" ng-model="ui.activeProduct.prices[0].price">
            </div>
          </div>
        </div>
        <!-- NOT ONSALE -->
        <div class="columns" ng-if="!ui.activeProduct.prices[0].onsale">
          <div class="first-column">
            <div class="sub-title">Price</div>
            <div class="price-box">
              <div class="dollar-sign">$</div>
              <input type="text" class="common-input" name="name" ng-model="ui.activeProduct.prices[0].price">
            </div>
          </div>
          <div class="second-column">
            <div class="sub-title">Sale Price</div>
            <div class="price-box">
              <div class="dollar-sign disabled">$</div>
              <input type="text" class="common-input" name="name" disabled value="">
            </div>
          </div>
        </div>
        <div class="set-on-sale-check">
          <input id="setOnSaleDefault" class="custom-checkbox" type="checkbox" ng-model="ui.activeProduct.prices[0].onsale" ng-change="onSaleHandler(0)" />
          <label for="setOnSaleDefault">Set On Sale</label>
        </div>
      </div>
      <div class="separator" ng-if="ui.activeProduct.prices.length > 1"></div>
      <div class="common-field-title" ng-if="ui.activeProduct.prices.length > 1">Additional Size</div>
      <div class="separator"></div>
      <div class="size-container">
        <div class="common-btn-gray autowidth full-width-btn"><i class="fa fa-plus"></i> Add new size</div>
      </div>
    </div>
  </div>
</div>