<div class="store-owner-listed-products-view has-subnav">
  <div ng-class="['left-side-content', {full: ui.display === 'fulltable'}]">
    <div class="title">All Listed Products</div>
    <div class="main-table-header">
      <!--
      FILTER HEADER
      -->
      <div class="filter-header">
        <div class="left-filter">
          <div class="common-input-with-icon">
            <input type="text" placeholder="Search" class="common-input">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <div class="right-filter">
          <div class="common-btn-gray" ng-click="">Add Product</div>
          <div class="common-btn-black" ng-click="showUploadCsvDialog()"><div class="common-centered-content"><img src="/img/import-icon.png" alt="icon"> Import CSV</div></div>
        </div>
      </div>
      <!--
      COLUMNS HEADER
      -->
      <div class="columns-header">
        <div class="name-col" ng-click="reOrderList('name')"><span>Product Name</span> <i class="fa fa-sort"></i></div>
        <div class="promoted-col" ng-click="reOrderList('promoted')"><span>Promoted</span> <i class="fa fa-sort"></i></div>
        <div class="sku-col" ng-click="reOrderList('sku')"><span>UPC</span> <i class="fa fa-sort"></i></div>
        <div class="size-col" ng-click="reOrderList('size')"><span>Size</span> <i class="fa fa-sort"></i></div>
        <div class="price-col" ng-click="reOrderList('price')"><span>Price</span> <i class="fa fa-sort"></i></div>
        <div class="sale-col" ng-click="reOrderList('sale')"><span>Sale Price</span> <i class="fa fa-sort"></i></div>
        <div class="type-col" ng-click="reOrderList('type')"><span>Type</span> <i class="fa fa-sort"></i></div>
      </div>
    </div>
    <div class="main-table">
      <!--
      COLUMNS DATA ROWS
      -->
      <div ng-class="['columns-data', {active: ui.activeIndex === $index}]" ng-repeat="i in [1, 2, 3, 4,5,6,78,34,9,0,234234]" ng-click="ui.activeIndex = $index">
        <div class="name-col">
          <img src="/img/wine.jpg" alt="product image">
          <!-- <span ng-bind-html="product.name | highlight:searchOptions.searchText"></span> -->
          <span>Domaine de la Chapelle des Bois</span>
        </div>
        <div class="promoted-col">
          <img ng-src="{{$even ? '/img/check-active.svg' : '/img/check-not-active.svg'}}" alt="icon">
        </div>
        <div class="sku-col" ng-click="viewProduct(product)">1234567893</div>
        <div class="size-col" ng-click="viewProduct(product)">750 ML</div>
        <div class="price-col" ng-click="viewProduct(product)">$15.99</div>
        <div class="sale-col" ng-click="viewProduct(product)" class="nosale">$12.99</div>
        <div class="type-col">Wine</div>
        <!-- <div class="type-col" ng-bind="product.productTypeId === 1 ? 'Wine' : product.productTypeId === 2 ? 'Beer' : product.productTypeId === 3 ? 'Spirit' : ''" ng-click="viewProduct(product)"></div> -->
      </div>
    </div>
  </div>
  <!--
  RIGHT SIDE
  -->
  <div class="right-side-content" ng-show="ui.display !== 'fulltable'">
    <div class="title">Edit Product</div>
    <div class="side-panel">
      <div class="action-btns">
        <div class="common-btn-gray">Promote Product</div>
        <div class="common-btn-positive">Done Editing</div>
      </div>
      <div class="product-image">
        <img src="/img/wine.jpg" alt="product image" >
      </div>
      <div class="product-title">
        Jim Beam Kentucky Straight Bourbon Whiskey
      </div>
      <div class="common-field-title">UPC</div>
      <input type="text" class="common-input" name="name">
      
      <div class="columns">
        <div class="first-column">
          <div class="common-field-title">Type</div>
          <selectize class="custom-selectize" config="productTypeConfig" options="ProductTypes" ng-model="pes.currentProduct.productTypeId">
          </selectize>
        </div>
        <div class="second-column" ng-hide="loading">
          <div class="common-field-title">Sub Type</div>
          <selectize class="custom-selectize" config="productTypeConfig" options="ProductTypes" ng-model="pes.currentProduct.productTypeId">
          </selectize>
        </div>
      </div>
      <div class="common-field-title">Shelf Tag</div>
      <selectize class="custom-selectize" config="productTypeConfig" options="ProductTypes" ng-model="pes.currentProduct.productTypeId">
      </selectize>
      <div class="common-field-title">Product Description</div>
      <medium-editor class="custom-medium-editor" ng-model="pes.currentProduct.description" bind-options="mediumEditorOptions">
      </medium-editor>
      <div class="separator"></div>
      <div class="common-field-title">Default Size</div>
      <div class="size-container">
        <div class="sub-title">Size</div>
        <div class="size-selector">
          <div class="selector">
            <selectize class="custom-selectize" config="productTypeConfig" options="ProductTypes" ng-model="pes.currentProduct.productTypeId">
            </selectize>
          </div>
          <div>
            <i class="fa fa-trash-o"></i>
          </div>
        </div>
        <div class="columns">
          <div class="first-column">
            <div class="sub-title">Price</div>
            <div class="price-box">
              <div class="dollar-sign">$</div>
              <input type="text" class="common-input" name="name">
            </div>
          </div>
          <div class="second-column" ng-hide="loading">
            <div class="sub-title">Sale Price</div>
            <div class="price-box">
              <div class="dollar-sign disabled">$</div>
              <input type="text" class="common-input" name="name" disabled>
            </div>
          </div>
        </div>
        <div class="set-on-sale-check">
          <input class="custom-checkbox" type="checkbox" id="setOnSale" ng-model="pes.currentProduct.verified" />
          <label for="setOnSale">Set On Sale</label>
        </div>
      </div>
      <div class="separator"></div>
      <div class="common-field-title">Additional Size</div>
      <div class="size-container">
        <div class="sub-title">Size</div>
        <div class="size-selector">
          <div class="selector">
            <selectize class="custom-selectize" config="productTypeConfig" options="ProductTypes" ng-model="pes.currentProduct.productTypeId">
            </selectize>
          </div>
          <div>
            <i class="fa fa-trash-o"></i>
          </div>
        </div>
        <div class="common-btn-gray autowidth full-width-btn">Set this size to default</div>
        <div class="columns">
          <div class="first-column">
            <div class="sub-title">Price</div>
            <div class="price-box">
              <div class="dollar-sign">$</div>
              <input type="text" class="common-input" name="name">
            </div>
          </div>
          <div class="second-column" ng-hide="loading">
            <div class="sub-title">Sale Price</div>
            <div class="price-box">
              <div class="dollar-sign">$</div>
              <input type="text" class="common-input" name="name">
            </div>
          </div>
        </div>
        <div class="set-on-sale-check">
          <input class="custom-checkbox" type="checkbox" id="setOnSale" ng-model="pes.currentProduct.verified" />
          <label for="setOnSale">Set On Sale</label>
        </div>
      </div>
      <div class="separator"></div>
      <div class="size-container">
        <div class="common-btn-gray autowidth full-width-btn"><i class="fa fa-plus"></i> Add new size</div>
      </div>
    </div>
  </div>
</div>