<div class="common-sub-nav-bar">
  <div class="nav-item" ui-sref="storeOwner.marketing.preview" ui-sref-active="active">
    <div class="coming-soon">
      <span>Channel Previews</span>
      <img src="/img/coming-soon-2.png" alt="icon" class="coming-soon-icon" style="left:22px;">
    </div>
  </div>
  <div class="nav-item" ui-sref="storeOwner.marketing.posts" ui-sref-active="active">
    <div class="coming-soon">
      <span>Scheduled Content</span>
      <img src="/img/coming-soon-2.png" alt="icon" class="coming-soon-icon" style="left:29px;">
    </div>
  </div>
  <div class="nav-item" ui-sref="storeOwner.marketing.settings" ui-sref-active="active">Channel Settings</div>
</div>
<div ui-view="pagecontent"></div>