<!-- <div class="store-owner-marketing-posts-view">
  <div class="email-column">
    <div class="title-container">
      <img src="/img/email-campaigns.svg" alt="icon">
      <div>Weekly Email Campaign</div>
    </div>
    <div class="white-column-box">
      <div class="card" ng-repeat="i in [1,2]">
        <div class="post-image-container"></div>
        <div class="title">
          Title of Email
        </div>
        <div class="info">
          <i class="fa fa-user"></i>
          Sending to 320 subscribers
        </div>
        <div class="info">
          <i class="fa fa-clock-o"></i>
          Monday, April 11
        </div>
      </div>
    </div>
  </div>
  <div class="twitter-column">
    <div class="title-container">
      <img src="/img/twitter-icon.svg" alt="icon">
      <div>Twitter Posts</div>
    </div>
    <div class="white-column-box">
      <div class="card" ng-repeat="i in [1]">
        <div class="post-image-container"></div>
        <div class="title">
          Title of Post
        </div>
        <div class="info">
          <i class="fa fa-clock-o"></i>
          Monday, April 11
        </div>
      </div>
    </div>
  </div>
  <div class="facebook-column">
    <div class="title-container">
      <img src="/img/facebook-icon.svg" alt="icon">
      <div>Facebook Posts</div>
    </div>
    <div class="white-column-box">
      <div class="card" ng-repeat="i in [1,2,3,4,5,6]">
        <div class="post-image-container"></div>
        <div class="title">
          Title of Post
        </div>
        <div class="info">
          <i class="fa fa-clock-o"></i>
          Monday, April 11
        </div>
      </div>
    </div>
  </div>
  <div class="pinterest-column">
    <div class="title-container">
      <img src="/img/pinterest-icon.svg" alt="icon">
      <div>Pinterest Posts</div>
    </div>
    <div class="white-column-box">
      <div class="card" ng-repeat="i in [1,2,3,4,5,6]">
        <div class="post-image-container"></div>
        <div class="title">
          Title of Post
        </div>
        <div class="info">
          <i class="fa fa-clock-o"></i>
          Monday, April 11
        </div>
      </div>
    </div>
  </div>
  <div class="ads-column">
    <div class="title-container">
      <img src="/img/digital-ads-icon.svg" alt="icon">
      <div>Digital Ads</div>
    </div>
    <div class="white-column-box">
      <div class="ad-preview" ng-repeat="i in [1,2,3,4,5,6,7]">Digital Ad Preview</div>
    </div>
  </div>
</div> -->
<img src="/img/scheduled-coming-soon.png" alt="coming-soon" class="coming-soon-screen">