<div class="store-owner-marketing-settings-view">
  <div class="column">

    <div class="white-box">
      <div class="title">Website</div>
      <div class="list-item">
        <div class="list-item-left">
          <div class="subtitle">
            Custom Domain
          </div>
          <div class="description">
            Visitors to your site wil see this URL. All domains associated with your site will redirect here.
          </div>
        </div>
        <div class="common-btn-gray-black autowidth" ng-click="scopeForNoah()">Connect</div>
      </div>
      <div class="list-item">
        <div class="list-item-left has-icon">
          <div class="icon-container">
            <img src="/img/google-analytics-icon.svg" alt="icon">
          </div>
          <div>
            <div class="subtitle">
              Google Analytics
            </div>
            <div class="description">
              Google Analytics enables us to track visitors to your website and generate reports to make your markeing more effective.
            </div>
          </div>
        </div>
        <div ng-if="account.preferences.analytics">
          <div class="common-btn-gray-black autowidth" ng-click="revokeGoogleAuth()">Disconnect</div>
        </div>
        <div ng-if="!account.preferences.analytics">
          <div class="common-btn-gray-black autowidth" ng-click="googleAuth()">Connect</div>
        </div>
      </div>
    </div>
    <div class="white-box">
      <div class="title">Online Sales</div>
      <div class="list-item">
        <div class="list-item-left has-icon">
          <div class="icon-container">
            <img src="/img/squarespace-icon.svg" alt="icon">
          </div>
          <div>
            <div class="subtitle">
              Squarespace
            </div>
            <div class="description">
              Connect to a squarespace site to sell your products online.
            </div>
          </div>
        </div>
        <div class="common-btn-gray-black autowidth">Connect</div>
      </div>
      <div class="list-item">
        <div class="list-item-left has-icon">
          <div class="icon-container">
            <img src="/img/stripe-icon.svg" alt="icon">
          </div>
          <div>
            <div class="subtitle">
              Stripe
            </div>
            <div class="description">
              Connect to a stripe account so you can get paid.
            </div>
          </div>
        </div>
        <div class="common-btn-gray-black autowidth">Connect</div>
      </div>
    </div>
    <div class="white-box">
      <div class="title">In-Store Marketing</div>
      <div class="list-item center-aligned">
        <div class="list-item-left has-icon center-aligned">
          <div class="icon-container">
            <img src="/img/digital-ads-icon.svg" alt="icon">
          </div>
          <div class="subtitle">
            TV's
          </div>
        </div>
        <div class="right-gray-text">You have 2 TV’s</div>
      </div>
      <div class="list-item center-aligned">
        <div class="list-item-left has-icon center-aligned">
          <div class="icon-container">
            <img src="/img/tablets-icon.svg" alt="icon">
          </div>
          <div class="subtitle">
            Tablets
          </div>
        </div>
        <div class="right-gray-text">You have 4 Tablets</div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="white-box">
      <div class="title">Email Campaigns</div>
      <div class="list-item">
        <div class="list-item-left has-icon">
          <div class="icon-container">
            <img src="/img/mailchimp-icon.svg" alt="icon">
          </div>
          <div>
            <div class="subtitle">
              Mailchimp
            </div>
            <div class="description">
              We use MailChimp to manage the campaigns we send out to all your email subscribers.
            </div>
          </div>
        </div>
        <div class="common-btn-gray-black autowidth">Connect</div>
      </div>
      <div class="list-item center-aligned">
        <div class="list-item-left">
          <div class="subtitle">
            Default <i>From email address</i>
          </div>
          <div class="description">
            This is the address people will reply to.
          </div>
        </div>
        <div>
          <input type="text" class="common-input" placeholder="storeemailaddress@email.com">
        </div>
      </div>
      <div class="list-item center-aligned">
        <div class="list-item-left">
          <div class="subtitle">
            Default <i>From name</i>
          </div>
          <div class="description">
            This is who your emails will come from. Use something they’ll instantly recognize, like your store name.
          </div>
        </div>
        <div>
          <input type="text" class="common-input" placeholder="Your beverage store">
        </div>
      </div>
    </div>
    <div class="white-box">
      <div class="title">Social Media</div>
      <div class="list-item">
        <div class="list-item-left has-icon">
          <div class="icon-container">
            <img src="/img/facebook-icon.svg" alt="icon">
          </div>
          <div>
            <div class="subtitle">
              Facebook
            </div>
            <div class="description">
              Connected since 1/14/17
            </div>
          </div>
        </div>
        <div class="common-btn-gray-black autowidth">Connect</div>
      </div>
      <div class="list-item">
        <div class="list-item-left has-icon">
          <div class="icon-container">
            <img src="/img/twitter-icon.svg" alt="icon">
          </div>
          <div>
            <div class="subtitle">
              Twitter
            </div>
            <div class="description">
              Connected since 1/14/17
            </div>
          </div>
        </div>
        <div class="common-btn-gray-black autowidth">Connect</div>
      </div>
      <div class="list-item">
        <div class="list-item-left has-icon">
          <div class="icon-container">
            <img src="/img/pinterest-icon.svg" alt="icon">
          </div>
          <div>
            <div class="subtitle">
              Pinterest
            </div>
            <div class="description">
              Connected since 1/14/17
            </div>
          </div>
        </div>
        <div class="common-btn-gray-black autowidth">Connect</div>
      </div>
    </div>
  </div>
</div>
