<div class="store-owner-reports-view">
  <div class="common-top-bar">
    <div>&nbsp;</div>
    <div class="date-filter">
      <div class="common-btn-gray">This Week</div>
      <div class="common-btn-gray">This Month</div>
      <div class="common-btn-gray active">Custom</div>
    </div>
    <div>
      <div class="common-btn-positive has-left-icon autowidth"><div class="common-centered-content"><img src="/img/export-icon.png" alt="icon"> Download Report</div></div>
    </div>
  </div>
  <div class="main-content"></div>
</div>
