<div class="store-owner-reports-view">
  <div class="common-top-bar">
    <div>&nbsp;</div>
    <div class="date-filter">
      <div class="common-btn-gray">This Week</div>
      <div class="common-btn-gray">This Month</div>
      <div class="common-btn-gray active">Custom</div>
      <md-datepicker ng-model="range.start" ng-change="init()" md-hide-icons="triangle" md-min-date="range.min" md-max-date="range.max"></md-datepicker>
      <i class="fa fa-minus" style="margin-left: 15px; margin-right: 0;"></i>
      <md-datepicker ng-model="range.end" ng-change="init()" md-hide-icons="triangle" md-min-date="range.min" md-max-date="range.max"></md-datepicker>
    </div>
    <div>
      <div class="common-btn-positive has-left-icon autowidth"><div class="common-centered-content"><img src="/img/export-icon.png" alt="icon"> Download Report</div></div>
    </div>
  </div>
  <div class="main-content">
    <div class="reports-info">
      <div class="common-white-box chart">
        <report-chart></report-chart>
      </div>
      <div class="common-white-box sources">
        <div class="row" ng-repeat="value in channels.all">
          <div class="name">{{value.source}}</div>
          <div class="visual">
            <div class="bar">
              <div class="progress" style="background: {{value.color}}; width: {{value.percent}}%;"></div>
            </div>
          </div>
          <div class="percent">{{value.percent}}%</div>
        </div>
      </div>
    </div>
  </div>
</div>
