
.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/

!public/lib/ace/
public/lib/
public/dist/

app/tests/coverage/
.bower-*/
.idea/
public/fw/prepros.cfg
public/fw/prepros.cfg
/*.log

/test/*.xml

public/build
.dist