<div class="login-text">Enter a new password</div>
<form name="resetpasswordform" ng-submit="submitResetPassword(resetpasswordform.$valid)" novalidate autocomplete="off">
  <div class="login-box">
    <div class="common-field-title">Password</div>
    <input type="password" class="common-input" name="newpassword" ng-model="ui.resetPassword.newPassword" required minlength="8">
    <input-error-msg form="resetpasswordform" field="newpassword" errors="{required: 'Password is required', minlength: 'The password must be at least 8 characters long'}"></input-error-msg>
    <div class="common-field-title">Confirm Password</div>
    <input type="password" class="common-input" name="verifypassword" ng-model="ui.resetPassword.verifyPassword" required minlength="8">
    <input-error-msg form="resetpasswordform" field="verifypassword" errors="{required: 'Password is required', minlength: 'The password must be at least 8 characters long'}"></input-error-msg>
    <div ng-if="ui.resetPassword.passwordDoNotMatch" class="common-input-error-msg">Passwords do not match</div>
  </div>
  <div class="login-buttons">
    <button class="common-btn-black" type="submit">Reset Password</button>
    <div class="forgot-pass" ui-sref="authentication.signin">Cancel and go to sign in</div>
  </div>
</form>