<div class="public-signin-view">
  <div class="left-column">
    <div>&nbsp;</div>
    <div class="left-content">
      <img src="/img/sellr-logo.svg" alt="icon">
      <div class="title">Welcome to Sellr Dashboard</div>
      <!--<div class="subtitle">Something about what Sellr is?</div>-->
    </div>
    <div class="left-footer">
      <a href="">About</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="">FAQ</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="">Contact Marketing Assistant</a>
    </div>
  </div>
  <div class="right-column">
    <div>&nbsp;</div>
    <div class="right-content">
      <div ui-view></div>
    </div>
    <div class="right-footer">
      Don’t have an account yet? <span ui-sref="getStarted">Sign Up</span>
    </div>
  </div>
</div>
<ng-include autoscroll src="'/modules/core/client/views/unprotected/mobile/authenticationMobile.html'"></ng-include>