<div class="login-text">Login to your account</div>
<form name="signinform" ng-submit="signin(signinform.$valid)" novalidate autocomplete="off">
  <div class="login-box">
    <div class="common-field-title">Email</div>
    <input type="email" class="common-input" name="email" ng-model="ui.credentials.email" required>
    <input-error-msg form="signinform" field="email" errors="{required: 'Email is required', email: 'Wrong email format'}"></input-error-msg>
    <div class="common-field-title">Password</div>
    <input type="password" class="common-input" name="password" ng-model="ui.credentials.password" required minlength="8">
    <input-error-msg form="signinform" field="password" errors="{required: 'Current Password is required', minlength: 'The password must be at least 8 characters long'}"></input-error-msg>
  </div>
  <div class="login-buttons">
    <button class="common-btn-black" type="submit">Sign In</button>
    <div class="forgot-pass" ui-sref="authentication.forgotPass">Forgot Password?</div>
  </div>
  <div class="login-buttons">
    <div class="common-btn facebook" ng-click="loginFacebookUser()">Facebook login</div>
    <div class="sign-up">Don't have an account? <span ui-sref="getStarted">Sign Up</span></div>
  </div>
</form>