<div class="get-started-page">
  <div class="screen-header">
    <img src="/img/logo_white.png" class="logo">
    <div class="pull-right">
      <a class="download-link" ng-href="{{data.appStoreLink}}" target="_blank"><img src="/img/navbar/apple-badge.svg"></a>
      <a class="download-link" ng-href="{{data.googlePlayLink}}" target="_blank"><img src="/img/navbar/playstore-badge.svg"></a>
    </div>
  </div>
  <div class="screen-content" ng-class="[fullscreen() ? 'nomargin' : '', 'step' + ui.step]" ng-disabled="ui.busy" ng-hide="ui.loading">
    <div class="header-custom" ng-show="ui.step > 0" ng-class="{ transparent: !fullscreen() }">
      <md-button type="button" class="md-icon-button back" ng-click="goPrevStep()" ng-if="ui.step != 4">
        <i class="fa fa-angle-left fa-2x"></i>
      </md-button>
      <div class="title">
        {{fullscreen() && ui.step == 2 ? 'Store Information' : ''}}
        {{fullscreen() && ui.step == 3 ? 'Select Categories' : ''}}
        <div class="breadcrumbs" ng-if="ui.step > 0" ng-hide="fullscreen() || ui.step == 4">
          <div ng-repeat="step in [1,2,3]">
            <a class="step-num" ng-class="stepClasses(step)">{{step}}</a>
            <hr ng-class="stepClasses(step)">
          </div>
        </div>
      </div>
    </div>
    <div class="step-container">
      <div class="step0" layout="column" ng-if="ui.step==0">
        <div layout="row">
          <img src="/img/sellr-icon-tooltip.png" class="sellr-logo" />
          <div>
            <h1>Hey, I'm <span>Sellr</span>.</h1>
            <div>I’m always a tap away to help you with anything. Let’s start setting up your Shoppr store!</div>
            <ul class="intro-steps">
              <li><span class="step-num">1</span> Create your account</li>
              <li><span class="step-num">2</span> Setup your store</li>
              <li><span class="step-num">3</span> Add products</li>
            </ul>
            <button class="get-started" ng-click="goNextStep()">Create Account with Email</button>
            <div class="btn-facebook" ng-click="createFacebookUser()">
              <div class="social-icon">
                <img src="img/fbicon.svg" alt="">
              </div>
              <div class="social-text">Continue with Facebook</div>
            </div>
          </div>
        </div>
        <div class="signin-container">
          <div>Already have a Sellr Account?</div>
          <a ui-sref="signin">Click Here</a> to sign in!
        </div>
      </div>
      <div class="step1" layout="column" ng-if="ui.step==1">
        <div class="logo-header" layout="row" ng-hide="!ui.alreadyRegistered && ui.hideDetails">
          <img src="/img/sellr-icon-tooltip.png" class="sellr-logo">
          <div ng-if="!ui.alreadyRegistered">
            <h2>Let’s begin!</h2>
            <div class="details" ng-hide="ui.hideDetails">First, create a personal account to access and manage your store anytime.</div>
          </div>
          <div class="details already-registered" ng-if="ui.alreadyRegistered" ng-hide="ui.hideDetails">
            <div>An account with that email already exists.</div>
            <div>Please <a ui-sref="signin({email:data.user.email})">click here</a> to sign in!</div>
          </div>
        </div>
        <div class="new-user" ng-include="'/modules/core/client/views/unprotected/getStartedUserForm.html'"></div>
        <div class="new-user" ng-include="'/modules/core/client/views/unprotected/getStartedUserForm.html'"></div>
      </div>
      <div class="step2" layout="column" ng-if="ui.step==2 && !ui.storeEditorView">
        <div class="logo-header" layout="row">
          <img src="/img/sellr-icon-tooltip.png" class="sellr-logo">
          <div>
            <h2>Let’s find your store.</h2>
            <div class="details">Type your store name below to instantly import your store info from Google.</div>
          </div>
        </div>
        <gplaces-autocomplete gplace-handler="gplaceHandler(gPlace)"></gplaces-autocomplete>
      </div>
      <div class="step2 store-details" layout="column" ng-if="ui.step==2 && ui.storeEditorView">
        <store-profile-form store="data.store" form="scope.storeForm"></store-profile-form>
      </div>
      <div class="step3" layout="column" ng-if="ui.step==3 && !ui.addProductsView">
        <div class="logo-header" layout="row">
          <img src="/img/sellr-icon-tooltip.png" class="sellr-logo">
          <div>
            <h2>Almost done!<br>Let’s add products.</h2>
            <div class="details">
              <p>I’ve created some popular categories with best selling products to help get you started. You’ll be able to change categories or products anytime.</p>
              <p>Let’s select some categories!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="step3" layout="column" ng-if="ui.step==3 && ui.addProductsView">
        <div class="list list-inset">
          <div class="list-item" ng-repeat="category in data.importCategories" ng-click="category.selected=!category.selected" ng-if="category.tag == 'top_selling'" layout="row">
            <div>
              <div class="toggle" ng-class="{ active: category.selected }"></div>
            </div>
            <div class="category" flex>{{category.label || 'Untitled Category'}}</div>
            <div class="stock">
              {{(category.products | filter:notPending).length}}
            </div>
          </div>
        </div>
      </div>
      <div class="step4" layout="column" ng-if="ui.step==4">
        <div class="logo-header" layout="row">
          <img src="/img/sellr-icon-tooltip.png" class="sellr-logo">
          <div>
            <h2>Congrats!</h2>
            <div class="details">Your store is now listed on Shoppr where customers can start browsing your store's products!</div>
            <p>
              <span class="call-to-action">Download the Sellr app</span>
              to manage your store and start accepting mobile orders.
            </p>
            <p>
              <a class="download-link" ng-href="{{data.appStoreLink}}" target="_blank"><img src="/img/navbar/apple-badge.svg"></a>
              <a class="download-link" ng-href="{{data.googlePlayLink}}" target="_blank"><img src="/img/navbar/playstore-badge.svg"></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-custom" ng-if="ui.step > 0">
      <div class="button-bar step1" ng-if="ui.step == 1">
        <button class="button button-balanced next" ng-disabled="!nextEnabled(ui.step)" ng-click="createUser()">Create Account</button>        
      </div>
      <div class="button-bar" ng-if="ui.step == 2">
        <button class="button transparent next" ng-disabled="!nextEnabled(ui.step)" ng-click="enterStore()" ng-if="!ui.storeEditorView">Enter Store Info Manually</button>
        <button class="button button-balanced next" ng-disabled="!nextEnabled(ui.step)" ng-click="goNextStep()" ng-if="ui.storeEditorView">Next</button>
      </div>
      <div class="button-bar" ng-if="ui.step == 3">
        <button class="button button-balanced next" ng-disabled="!nextEnabled(ui.step)" ng-click="goNextStep()" ng-if="!ui.addProductsView">Next</button>
        <button class="button button-balanced next" ng-disabled="!nextEnabled(ui.step)" ng-click="createStore()" ng-if="ui.addProductsView">Create Store</button>
      </div>
      <div class="button-bar" ng-if="ui.step == 4">
        <button class="button button-balanced next" ng-disabled="!nextEnabled(ui.step)" ng-click="openDashboard()">Take me to dashboard</button>
      </div>
    </div>
  </div>
</div>
