<div class="brand-plans-view">
  <div class="auto-save-box" ng-show="ui.display !== 'fulltable'">
    <i class="fa fa-circle"></i> Automatically Saved
  </div>
  <div ng-class="['left-side-content', {full: ui.display === 'fulltable'}]">
    <div class="title">All Plans</div>
    <div class="main-table">
      <!--
      FILTER HEADER
      -->
      <div class="filter-header">
        <div class="staus-filter">
          <div class="status-option active">
            <span>Active</span>
            <span class="status-count">32</span>
          </div>
          <div class="status-option-separator">&nbsp;</div>
          <div class="status-option">
            <span>Scheduled</span>
            <span class="status-count">4</span>
          </div>
          <div class="status-option-separator">&nbsp;</div>
          <div class="status-option">
            <span>Need Approval</span>
            <span class="status-count">13</span>
          </div>
          <div class="status-option-separator">&nbsp;</div>
          <div class="status-option">
            <span>Expired</span>
            <span class="status-count">5</span>
          </div>
        </div>
        <div class="common-input-with-icon">
          <input type="text" placeholder="Search" class="common-input">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <!--
      COLUMNS HEADER
      -->
      <div class="columns-header">
        <div class="name-col"><span>Store Name</span> <i class="fa fa-sort"></i></div>
        <div class="submitted-col"><span>Date Submitted</span> <i class="fa fa-sort"></i></div>
        <div class="promotion-col"><span>Promotion Name</span> <i class="fa fa-sort"></i></div>
        <div class="start-col"><span>Start Date</span> <i class="fa fa-sort"></i></div>
        <div class="member-col"><span>Team Member</span> <i class="fa fa-sort"></i></div>
      </div>
      <!--
      COLUMNS DATA ROWS
      -->
      <div class="columns-data" ng-click="ui.display = 'editPlan'">
        <div class="name-col">
          <div>Mac’s Beer Wine and Spirits</div>
          <div class="subname">City, State</div>
        </div>
        <div class="submitted-col">11/01/2017</div>
        <div class="promotion-col">March</div>
        <div class="start-col">11/01/2017</div>
        <div class="member-col">Michael Rhodes</div>
      </div>
      <div class="columns-data" ng-click="ui.display = 'editPlan'">
        <div class="name-col">
          <div>Mac’s Beer Wine and Spirits</div>
          <div class="subname">City, State</div>
        </div>
        <div class="submitted-col">11/01/2017</div>
        <div class="promotion-col">March</div>
        <div class="start-col">11/01/2017</div>
        <div class="member-col">Michael Rhodes</div>
      </div>
      <div class="columns-data active" ng-click="ui.display = 'editPlan'">
        <div class="name-col">
          <div>Mac’s Beer Wine and Spirits</div>
          <div class="subname">City, State</div>
        </div>
        <div class="submitted-col">11/01/2017</div>
        <div class="promotion-col">March</div>
        <div class="start-col">11/01/2017</div>
        <div class="member-col">Michael Rhodes</div>
      </div>
      <div class="columns-data" ng-click="ui.display = 'editPlan'">
        <div class="name-col">
          <div>Mac’s Beer Wine and Spirits</div>
          <div class="subname">City, State</div>
        </div>
        <div class="submitted-col">11/01/2017</div>
        <div class="promotion-col">March</div>
        <div class="start-col">11/01/2017</div>
        <div class="member-col">Michael Rhodes</div>
      </div>
      <div class="columns-data" ng-click="ui.display = 'editPlan'">
        <div class="name-col">
          <div>Mac’s Beer Wine and Spirits</div>
          <div class="subname">City, State</div>
        </div>
        <div class="submitted-col">11/01/2017</div>
        <div class="promotion-col">March</div>
        <div class="start-col">11/01/2017</div>
        <div class="member-col">Michael Rhodes</div>
      </div>
    </div>
  </div>
  <div class="right-side-content" ng-show="ui.display === 'editPlan'">
    <div class="title">Edit Plan</div>
    <div class="side-panel">
      <div class="common-field-title">Plan Name</div>
      <input type="text" class="common-input" placeholder="" value="December 2016">
      <div class="common-field-title">Select Store</div>
      <div class="common-select-container">
        <div ng-class="['common-select-trigger ignore-click-trigger', {active:ui.planStoresOptionsSelect}]" ng-click="openMenu('planStoresOptionsSelect')">
          <div class="store-logo ignore-click-trigger"></div>
          <div class="ignore-click-trigger">Mac's Beer and Wine</div>
        </div>
        <div class="common-select-options" ng-show="ui.planStoresOptionsSelect" ng-mouseleave="ui.planStoresOptionsSelect = false">
          <div class="common-select-option"><div class="store-logo"></div> <div>Susy Liquer</div></div>
          <div class="common-select-option"><div class="store-logo"></div> <div>Wasted Store</div></div>
          <div class="common-select-option"><div class="store-logo"></div> <div>Mac's Beer and Wine</div></div>
          <div class="common-select-option"><div class="store-logo"></div> <div>Rony Wines</div></div>
        </div>
      </div>
      <div class="date-inputs">
        <div class="start-date">
          <div class="common-field-title">Start Date</div>
          <input type="text" class="common-input" placeholder="" value="12/02/2016">
        </div>
        <div>
          <div class="common-field-title">End Date</div>
          <input type="text" class="common-input" placeholder="" value="01/02/2017">
        </div>
      </div>
      <div class="common-field-title">Products in Plan</div>
      <div class="upload-image-box"></div>
      <div class="common-field-title">Status</div>
      <div class="common-select-container">
        <div ng-class="['common-select-trigger ignore-click-trigger', {active:ui.planStatusOptionsSelect}]" ng-click="openMenu('planStatusOptionsSelect')">
          Approved
        </div>
        <div class="common-select-options" ng-show="ui.planStatusOptionsSelect" ng-mouseleave="ui.planStatusOptionsSelect = false">
          <div class="common-select-option">Needs Approval</div>
          <div class="common-select-option">Approved</div>
          <div class="common-select-option">Epired</div>
          <div class="common-select-option">Rejected</div>
        </div>
      </div>
      <div class="common-field-title">Related SKU’s</div>
      <textarea name="" id="" class="common-textarea"></textarea>
      <div class="common-btns-bar">
        <div class="common-btn-negative" ng-click="ui.display = 'fulltable'">Cancel</div>
        <div class="common-btn-positive">Update</div>
      </div>
    </div>
  </div>
</div>