<div class="brand-plans-view">
  <div class="title">All Plans</div>
  <div class="plans-table">
    <div class="filter-header">
      <div class="staus-filter">
        <div class="status-option active">
          <span>Active</span>
          <span class="status-count">32</span>
        </div>
        <div class="status-option-separator">&nbsp;</div>
        <div class="status-option">
          <span>Scheduled</span>
          <span class="status-count">4</span>
        </div>
        <div class="status-option-separator">&nbsp;</div>
        <div class="status-option">
          <span>Need Approval</span>
          <span class="status-count">13</span>
        </div>
        <div class="status-option-separator">&nbsp;</div>
        <div class="status-option">
          <span>Expired</span>
          <span class="status-count">5</span>
        </div>
      </div>
      <div class="input-filter">
        <input type="text" placeholder="Search">
        <i class="fa fa-search"></i>
      </div>
    </div>
    <div>Store Name</div>
  </div>
</div>