<div class="brand-products-view">
  <div class="auto-save-box">
    <i class="fa fa-circle"></i> Automatically Saved
  </div>
  <div class="left-side-content">
    <div class="title">All Products</div>
    <div class="main-table">
      <!--
      FILTER HEADER
      -->
      <div class="filter-header">
        <div class="left-filter">
          <div class="common-select-trigger">
            Choose Program
          </div>
          <div class="common-input-with-icon">
            <input type="text" placeholder="Search" class="common-input">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <div class="right-filter">
          <div class="common-btn-positive"><i class="fa fa-plus"></i> New Product</div>
        </div>
      </div>
      <!--
      COLUMNS HEADER
      -->
      <div class="columns-header">
        <div class="check-col"><div class="header-check"><input type="checkbox" class="common-checkbox"></div></div>
        <div class="name-col"><span>Product Name</span> <i class="fa fa-sort"></i></div>
        <div class="skus-col"><span>Related SKU’s</span> <i class="fa fa-sort"></i></div>
        <div class="plan-col"><span>Plan</span> <i class="fa fa-sort"></i></div>
      </div>
      <!--
      COLUMNS DATA ROWS
      -->
      <div class="columns-data">
        <div class="check-col"><input type="checkbox" class="common-checkbox"></div>
        <div class="name-col">Hornitos </div>
        <div class="skus-col">
          88857003382;88857003382;88857003344;88857003344;88857003306;88857003375;88857003306;88857003375;88857003306;88857003375;
        </div>
        <div class="plan-col">October</div>
      </div>
      <div class="columns-data">
        <div class="check-col"><input type="checkbox" class="common-checkbox"></div>
        <div class="name-col">Hornitos Spicy Cucumber Margarita</div>
        <div class="skus-col">
          88857003382;88857003382;
        </div>
        <div class="plan-col">October</div>
      </div>
      <div class="columns-data">
        <div class="check-col"><input type="checkbox" class="common-checkbox"></div>
        <div class="name-col">Hot Toddy</div>
        <div class="skus-col">
          88857003382
        </div>
        <div class="plan-col">October</div>
      </div>
    </div>
  </div>
  <div class="right-side-content">
    <div class="title">Add Product</div>
    <div class="side-panel">
      <div class="common-field-title">Picture</div>
      <div class="upload-picture-box"></div>
      <div class="common-field-title">Product Name</div>
      <input type="text" class="common-input" placeholder="" value="">
      <div class="common-field-title">Plan</div>
      <div class="common-select-trigger">
        October
      </div>
      <div class="common-field-title">Product Description</div>
      <textarea name="" id="" class="common-textarea"></textarea>
      <div class="common-field-title">Ingredients</div>
      <textarea name="" id="" class="common-textarea"></textarea>
      <div class="common-field-title">Instructions</div>
      <textarea name="" id="" class="common-textarea"></textarea>
      <div class="common-field-title">Related SKU’s</div>
      <textarea name="" id="" class="common-textarea"></textarea>
      <div class="common-btns-bar">
        <div class="common-btn-negative">Cancel</div>
        <div class="common-btn-positive">Add</div>
      </div>
    </div>
  </div>
</div>