
<div id="topNav" data-ng-controller="HeaderController" ng-hide="!authentication.user">
  <md-toolbar md-open="ui.toolbarOpened" count="ui.count" ng-class="{ 'md-is-open': ui.toolbarOpened }" >
      <md-toolbar class="md-toolbar-tools" data-ng-if="menu.shouldRender(authentication.user);">
        <div data-ng-repeat="item in menu.items "
             data-ng-if="item.shouldRender(authentication.user);"
             ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}"    >
            <div id="pagebutton" ng-repeat="subitem in item.items " ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
              <md-button ui-sref="{{subitem.state}}" ng-bind="subitem.title" aria-label="subitme.title"></md-button>
            </div>
        </div>

        <div flex></div>
        <div ng-class="{active: $uiRoute}" ng-if="isGranted('ManageUsers')">
          <md-button ui-sref="admin">Manage users/permissions</md-button>
        </div>
        <md-menu md-position-mode="target-right bottom" >
          <div id="profbutton">
          <md-button  ng-click="$mdOpenMenu($event)" aria-label="USER ACCOUNT DROPDOWN" >
            <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
            <span data-ng-bind="authentication.user.displayName"></span>
            <img src="lib/material-design-icons/navigation/1x_web/ic_arrow_downward_white_48dp.png">
          </md-button>
          </div>
          <md-menu-content width="3" id ="profmenu">
            <md-menu-item>
              <md-button ui-sref="settings.profile">Edit Profile</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ui-sref="settings.picture">Edit Profile Picture</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button href="/api/auth/signout" target="_self">SignOut</md-button>
            </md-menu-item>
          </md-menu-content>


        </md-menu>
      </md-toolbar>

  </md-toolbar>
</div>
