<div id="container" ng-cloak>

  <div id="popupContainer">
    <md-button class="md-button md-raised md-primary" ng-click="testFunction($event)">{{1+1}}</md-button>
    <md-button class="md-primary md-raised" ng-click="testFunction($event)" flex="100" flex-gt-md="auto">
      Alert Dialog
    </md-button>
    <md-input-container>
      <label>Street Name</label>
      <input>
    </md-input-container>
    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
      Checkbox 1: {{ data.cb1 }}
    </md-checkbox>
  </div>
  <h2 ng-if="userIsSupplier()">HI SUPPLIER</h2>
</div>
