<div ng-controller="AuthenticationController" ng-hide="authentication.user" >


  <div class="sign-in">
    <div class="shading">
    <div id="login-form" class="">
    <form  name="userForm" ng-submit="signin(userForm.$valid)"  novalidate autocomplete="off"  class="text-center md-whiteframe-18dp">
      <div class="logo"></div>
      <md-input-container class="md-block">

        <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
        <div ng-messages="userForm.username.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Username is required.</p>
        </div>
      </md-input-container>
      <md-input-container class="md-block" >

        <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
        <div ng-messages="userForm.password.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Password is required.</p>
        </div>
      </md-input-container>
      <div layout="row" layout-align="space-between center">
        <md-checkbox ng-model="user.rememberMe" ng-change="rememberMe()">Remember me?</md-checkbox>
        <md-button type="submit" class="  action">Sign in</md-button>
      </div>


    </form>
      <div class="alt-actions" layout="row" layout-align="space-between start">
      <div><a ng-click="reset = !reset">Forgot Password?</a></div>
      <div>Don't have an account? <a ui-sref="UserRegister">Sign Up</a></div>

    </div> <!-- END FORM CONTAINER -->
    <form id="reset-form" name="resetForm" ng-show="reset" layout="column" ng-submit="resetPassword(resetUser)" class="text-center"><img src="/assets/images/logo-300w.png"  class="logo"/>
      <md-input-container>
        <label>Email Address</label>
        <input type="text" ng-model="resetUser.email"/>
      </md-input-container><br/>
      <md-button type="submit" class="md-raised md-primary">Send Email</md-button><br/><a ng-click="reset = false">Cancel</a>
    </form>
  </div>




  <!--
    <form name="userForm" ng-submit="signin(userForm.$valid)"  novalidate autocomplete="off" class="text-center">
      <fieldset>
        <md-input-container >
          <label>Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </md-input-container>
        <md-input-container >
          <label >Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
          </div>
        </md-input-container>
        <div class="text-center">
          <md-button  class="btn btn-primary" type="submit">Sign in</md-button>
          <md-button  class="btn btn-primary" ui-sref="authentication.signup">Sign up</md-button >
        </div>
        <div class="text-center forgot-password">
          <a ui-sref="password.forgot">Forgot your password?</a>
        </div>
        <alert type="danger" ng-show="error" class="text-center text-danger">
          <span ng-bind="error"></span>
        </alert>
      </fieldset>
    </form>
 -->
</div>

</div>

