<div ng-controller="NavController" class="nav-container" ng-show="ui.shouldRenderWholeNav" on-click-anywhere>
  <div class="primary-nav" ng-if="ui.shouldRenderPrimaryNav">
    <div class="left-side">
      <ul>
        <!-- <li ng-class="{active: ui.primaryRoute === 'brand'}" ng-if="ui.shouldRenderBrandItem" ui-sref="brand.plans">Brand</li> -->
        <li ng-class="{active: ui.primaryRoute === 'supplier'}" ng-if="ui.shouldRenderSupplierItem" ui-sref="supplier.media">Supplier</li>
        <li ng-class="{active: ui.primaryRoute === 'admin'}" ng-if="ui.shouldRenderAdminItem" ui-sref="admin.users">Admin</li>
        <li ng-class="{active: ui.primaryRoute === 'editor'}" ng-if="ui.shouldRenderEditorItem" ui-sref="curator.store">Product Editor</li>
        <li ng-class="{active: ui.primaryRoute === 'store'}" ng-if="ui.shouldRenderOwnerItem" ui-sref="dashboard">Store Owner</li>
      </ul>
    </div>
    <div class="right-side">
      <div class="menu-select-trigger" ng-bind="accountsService.currentAccount ? (accountsService.currentAccount.name + (accountsService.currentAccount.address ? ': ' + accountsService.currentAccount.address : '')) : 'Select Account'" ng-click="openMenu('accountOptionsSelect')" ng-mouseover="openMenu('accountOptionsSelect', true)"></div>
    </div>
    <div class="accounts-selector-box" ng-show="ui.accountOptionsSelect">
      <div class="account-item account-search-input">
        <input type="text" ng-model="ui.accountFilter" ng-autofocus="true" placeholder="Search" id="account-search-input">
        <i class="fa fa-search"></i>
      </div>
      <div class="account-item" ng-repeat="account in accountsService.accounts | filter:ui.accountFilter | orderBy:['name', 'address'] track by account.accountId" ng-click="accountChangeHandler(account)" ng-bind="account.name + (account.address ? ': ' + account.address : '')"></div>
    </div>
  </div>
  <div class="secondary-nav">
    <div class="left-side">
      <div class="logo">
        <img src="/img/s-l-l-r-icon-green-square.png" alt="logo">
      </div>
      <ul>
        <!-- BRAND -->
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'brand'" ui-sref="brand.products">Products</li> 
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'brand'" ui-sref="brand.plans">Plans</li> 
        <!-- SUPPLIER -->
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'supplier'" ui-sref="supplier.media">Upload An Asset</li>
        <!-- EDITOR -->
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'editor' && ui.shouldRenderStoreManagerItem" ui-sref="curator.store">Store Management</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'editor' && ui.shouldRenderProductEditorItem" ui-sref="editor.products">Beer, Wine, Spirits</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'editor' && ui.shouldRenderProductHistoryItem" ui-sref="productHistory">Product History</li>
        <!-- ADMIN -->
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'admin'" ui-sref="admin.users">Manage Users</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'admin'" ui-sref="admin.accounts">Manage Accounts</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'admin'" ui-sref="storeOwner.inviteUser">Invite User</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'admin'" ui-sref="manager.stores">Stores Manager</li>
        <!-- STORE OWNER -->
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'store'" ui-sref="dashboard">Stats</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'store'" ui-sref="productsUploader">Products</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'store'" ui-sref="websiteBuilder">Website</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'store'" ui-sref="manager.ads">Ads</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'store'" ui-sref="storeOwner.orders">Orders</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'store'" ui-sref="settings">Account</li>
      </ul>
    </div>
    <div class="right-side">
     <!--  <div class="general-search-container">
        <input type="text" placeholder="Search">
        <i class="fa fa-search"></i>
      </div> -->
      <!--<div class="store-logo">logo</div>-->
      <div class="menu-select-trigger" ng-bind="Authentication.user.displayName" ng-click="openMenu('profileOptionsSelect')" ng-mouseover="openMenu('profileOptionsSelect', true)"></div>
    </div>
    <div class="account-options-box" ng-show="ui.profileOptionsSelect">
      <div class="account-option" ui-sref="editProfile" ng-click="ui.showAccountMenu = false"><i class="fa fa-user-o"></i> My Profile</div>
      <!-- <div class="account-option" ng-click="ui.showAccountMenu = false"><i class="fa fa-cog"></i> Manage Stores</div> -->
      <div class="account-option logout" ng-click="logout(); ui.showAccountMenu = false"><i class="fa fa-power-off"></i> Logout</div>
    </div>
  </div>
</div>
<!-- taken as is from old Menu nav -->
<div class="hide" data-ng-include="'/modules/core/client/views/validation-messages.client.view.html'"></div>
<!-- TODO: REVIEW CARDKIT MENU -->
<!--
<sd-cardkit-nav ng-if="$state.current.public || !authentication.user || cardkitNavLoaded" ng-show="$state.current.public || !authentication.user" ng-init="$parent.cardkitNavLoaded = true">
</sd-cardkit-nav> -->
