<div ng-controller="NavController" class="nav-container" ng-show="ui.shouldRenderWholeNav">
  <div class="primary-nav" ng-if="ui.shouldRenderPrimaryNav">
    <div class="left-side">
      <ul>
        <li ng-class="{active: ui.primaryRoute === 'admin'}" ng-if="ui.shouldRenderAdminItem" ui-sref="admin.users">Admin</li>
        <li ng-class="{active: ui.primaryRoute === 'editor'}" ng-if="ui.shouldRenderEditorItem" ui-sref="editor.storeManagement">Product Editor</li>
        <li ng-class="{active: ui.primaryRoute === 'store'}" ng-if="ui.shouldRenderOwnerItem"
            ui-sref="storeOwner.home">Store Owner
        </li>
        <!-- <li ng-class="{active: ui.primaryRoute === 'brand'}" ng-if="ui.shouldRenderBrandItem" ui-sref="brand.plans">Brand</li> -->
      </ul>
    </div>
    <div class="right-side">
      <div class="menu-select-trigger" ng-bind="accountsService.currentAccount ? (accountsService.currentAccount.name + (accountsService.currentAccount.address ? ': ' + accountsService.currentAccount.address : '')) : 'Select Account'" ng-click="openMenu('accountOptionsSelect')"></div>
    </div>
    <div class="accounts-selector-box" ng-show="ui.accountOptionsSelect" ng-mouseleave="ui.accountOptionsSelect = false">
      <div class="account-item account-search-input">
        <input type="text" ng-model="ui.accountFilter" ng-autofocus="true" placeholder="Search" id="account-search-input">
        <i class="fa fa-search"></i>
      </div>
      <div class="account-item" ng-repeat="account in accountsService.accounts | filter:ui.accountFilter | orderBy:['name', 'address'] track by account.accountId" ng-click="accountChangeHandler(account)" ng-bind="account.name + (account.address ? ': ' + account.address : '')"></div>
    </div>
  </div>
  <div class="secondary-nav">
    <div class="left-side">
      <div class="logo" ui-sref="storeOwner.home">
        <img src="/img/home-icon.svg" alt="logo">
      </div>
      <ul>
        <!-- ADMIN -->
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'admin'" ui-sref="admin.users">Manage Users</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'admin'" ui-sref="admin.accounts">Manage Accounts</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'admin'" ui-sref="admin.types">Product Types Manager</li>
        <!-- EDITOR -->
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'editor' && ui.shouldRenderStoreManagerItem" ui-sref="editor.storeManagement">Store Management</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'editor' && ui.shouldRenderProductEditorItem" ui-sref="editor.products">Products</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'editor' && ui.shouldRenderProductHistoryItem" ui-sref="editor.history">Product History</li>
        <!-- STORE OWNER -->
        <li ui-sref-active="{active: 'storeOwner.products'}" ng-if="ui.primaryRoute === 'store'" ui-sref="storeOwner.products.promoted">Products</li>
        <li ui-sref-active="{active: 'storeOwner.marketing'}" ng-if="ui.primaryRoute === 'store'" ui-sref="storeOwner.marketing.posts">Marketing Channels</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'store'" ui-sref="storeOwner.websiteEditor">Pages</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'store'" ui-sref="storeOwner.audience">Audience</li>
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'store'" ui-sref="storeOwner.reports.website">Reports</li>
        <!-- BRAND -->
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'brand'" ui-sref="brand.products">Products</li> 
        <li ui-sref-active="active" ng-if="ui.primaryRoute === 'brand'" ui-sref="brand.plans">Plans</li> 
      </ul>
    </div>
    <div class="right-side">
     <!--  <div class="general-search-container">
        <input type="text" placeholder="Search">
        <i class="fa fa-search"></i>
      </div> -->
      <!--<div class="store-logo">logo</div>-->
      <div class="menu-select-trigger" ng-bind="Authentication.user.displayName" ng-click="openMenu('profileOptionsSelect')"></div>
    </div>
    <div class="account-options-box" ng-show="ui.profileOptionsSelect" ng-mouseleave="ui.profileOptionsSelect = false">
      <div class="account-option" ng-click="showEditProfileDialog()"><i class="fa fa-user-o"></i> My Profile</div>
      <!-- <div class="account-option" ng-click="ui.showAccountMenu = false"><i class="fa fa-cog"></i> Manage Stores</div> -->
      <div class="account-option logout" ng-click="logout(); ui.showAccountMenu = false"><i class="fa fa-power-off"></i> Logout</div>
    </div>
  </div>
</div>
<!-- TODO: REVIEW CARDKIT MENU -->
<!--
<sd-cardkit-nav ng-if="$state.current.public || !authentication.user || cardkitNavLoaded" ng-show="$state.current.public || !authentication.user" ng-init="$parent.cardkitNavLoaded = true">
</sd-cardkit-nav> -->
