.cardkit {
  background: white;
}

md-input-container {
  label {
    position: relative !important;
  }
  .md-errors-spacer {
    display: none !important;
  }
}

.dark-theme md-input-container,
md-input-container.dark,
.input-container.dark {
  label, .label2 {
    font-size: 11px;
    font-weight: bold;
  }
}

md-dialog md-dialog-content {
  padding: 24px;
}

.dropzone {
  min-height: 175px !important;
  .overlay {
    min-height: 100px !important;
  }
}

#listPages.tiles .page .options ng-md-icon {
  margin-top: 1px !important;
}

#pageBuilder {
  padding-top: @nav-height;

  .busy-overlay {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }

  .page-body {
    height: calc(~"100vh - " (@nav-height + @subnav-height));
  }
}

.secondary-nav .logo {
  padding: 0 !important;
}

.custom-modal md-dialog-content {
  min-height: initial !important;
}
