.cardkit {
  background: white;
}

md-input-container {
  label {
    position: relative !important;
  }
  .md-errors-spacer {
    display: none !important;
  }
}

.dark-theme md-input-container,
md-input-container.dark,
.input-container.dark {
  label, .label2 {
    font-size: 11px;
    font-weight: bold;
  }
}

md-dialog md-dialog-content {
  padding: 24px;
}

.dropzone {
  min-height: 175px !important;
  .overlay {
    min-height: 100px !important;
  }
}

#listPages.tiles .page .options ng-md-icon {
  margin-top: 1px !important;
}
