.cardkit {
  background: white;
  min-height: calc(~"100vh - " @nav-height);
}

md-input-container {
  display: block;
  margin: 5px 0 20px 0;
  label {
    position: relative !important;
    margin: -10px 0 !important;
  }
  .md-input {
    min-height: 36px !important;
  }
  .md-errors-spacer {
    display: none !important;
  }
}

md-dialog md-dialog-content {
  padding: 24px;
}

.dropzone {
  height: auto !important;
}

#listPages.tiles .page .options ng-md-icon {
  margin-top: 1px !important;
}

#pageBuilder {
  padding-top: @nav-height;

  .busy-overlay {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }

  .page-body {
    height: calc(~"100vh - " (@nav-height + @subnav-height));
  }
}

.secondary-nav .logo {
  padding: 0 !important;
}

.custom-modal md-dialog-content {
  min-height: initial !important;
}

.md-tooltip {
  height: auto !important;
  font-size: 10px !important;
  padding: 0 10px !important;
}

.selectize-input {
  box-shadow: none !important;
}
