<section class="orders-view">

  <div layout class="">

    <div flex=70 class="orders-column">
      <div class="orders-title" layout layout-align="start end">
        <div flex>
          <div class="title">Today's Orders</div>
          <div class="today-count">3</div>
        </div>
        <div class="right-action" flex>See Past Orders (18)</div>
      </div>
      <div class="order-container" layout>
      <div flex=20 layout="column"  layout-align="end stretch">
          <div flex>TIME</div>
          <div flex=10>TIME</div>
        </div>
        <div flex=80> 
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
          asdas das <br> dasdad
        </div>
      </div>
    </div>
    <div flex=30 class="orders-stats">asd</div>
  </div>
</section>


