<section class="orders-view">

  <div layout class="">

    <div flex=65 class="orders-column">
     


      <div class="orders-title" layout layout-align="start end">
        <div flex>
          <div class="title">Today's Orders</div>
          <div class="today-count">3</div>
        </div>
        <div class="right-action" flex>See Past Orders (18)</div>
      </div>
      



      <div class="order-container" layout>
        <div class="checkmark"><i class="fa fa-check"></i></div>
        <div flex=20 layout="column"  layout-align="end stretch" class="align-center left-column">
          <div flex class="pickup-time">
            <div class="pickup-label">PICKUP</div>
            <div class="time">
              2
              <div class="subtime">PM</div>
            </div>
          </div>
          <div flex class="order-total" layout="column"   layout-align="end center">
            <div class="total">$122.99</div>
          </div>
        </div>
        <div flex=80 class="order-items"> 
          <div class="orders-user" layout layout-align="start end">
            <div flex>
              Bruce Van Zyl
            </div>
            <div class="date" flex>July 29, 2016 8:51 PM</div>
          </div>

          <div layout class="product-line" layout-align="start center">
            <div flex=10 class="align-center">
              <div class="item-slot">C2</div>
            </div>
            <div flex=10 class="item-qty align-center">x 3</div>
            <div flex>
              <div class="item-title">Chateau Mirefleur</div>
              <div class="item-description">$12.99</div>
            </div>          
          </div>  
          <div layout class="product-line" layout-align="start center">
            <div flex=10 class="align-center">
              <div class="item-slot">C2</div>
            </div>
            <div flex=10 class="item-qty align-center">x 3</div>
            <div flex>
              <div class="item-title">Chateau Mirefleur</div>
              <div class="item-description">$12.99</div>
            </div>          
          </div>  
          <div layout class="product-line" layout-align="start center">
            <div flex=10 class="align-center">
              <div class="item-slot">C2</div>
            </div>
            <div flex=10 class="item-qty align-center">x 3</div>
            <div flex>
              <div class="item-title">Chateau Mirefleur</div>
              <div class="item-description">$12.99</div>
            </div>          
          </div>  
          <div layout class="product-line" layout-align="start center">
            <div flex=10 class="align-center">
              <div class="item-slot">C2</div>
            </div>
            <div flex=10 class="item-qty align-center">x 3</div>
            <div flex>
              <div class="item-title">Chateau Mirefleur</div>
              <div class="item-description">$12.99</div>
            </div>          
          </div>




          
        </div>
      </div>
      <div class="order-container" layout>
        <div class="checkmark"><i class="fa fa-check"></i></div>
        <div flex=20 layout="column"  layout-align="end stretch" class="align-center left-column">
          <div flex class="pickup-time">
            <div class="pickup-label">PICKUP</div>
            <div class="time">
              2
              <div class="subtime">PM</div>
            </div>
          </div>
          <div flex class="order-total" layout="column"   layout-align="end center">
            <div class="total">$122.99</div>
          </div>
        </div>
        <div flex=80 class="order-items"> 
          <div class="orders-user" layout layout-align="start end">
            <div flex>
              Bruce Van Zyl
            </div>
            <div class="date" flex>July 29, 2016 8:51 PM</div>
          </div>

          <div layout class="product-line" layout-align="start center">
            <div flex=10 class="align-center">
              <div class="item-slot">C2</div>
            </div>
            <div flex=10 class="item-qty align-center">x 3</div>
            <div flex>
              <div class="item-title">Chateau Mirefleur</div>
              <div class="item-description">$12.99</div>
            </div>          
          </div>  
          <div layout class="product-line" layout-align="start center">
            <div flex=10 class="align-center">
              <div class="item-slot">C2</div>
            </div>
            <div flex=10 class="item-qty align-center">x 3</div>
            <div flex>
              <div class="item-title">Chateau Mirefleur</div>
              <div class="item-description">$12.99</div>
            </div>          
          </div>  
          <div layout class="product-line" layout-align="start center">
            <div flex=10 class="align-center">
              <div class="item-slot">C2</div>
            </div>
            <div flex=10 class="item-qty align-center">x 3</div>
            <div flex>
              <div class="item-title">Chateau Mirefleur</div>
              <div class="item-description">$12.99</div>
            </div>          
          </div>  
          <div layout class="product-line" layout-align="start center">
            <div flex=10 class="align-center">
              <div class="item-slot">C2</div>
            </div>
            <div flex=10 class="item-qty align-center">x 3</div>
            <div flex>
              <div class="item-title">Chateau Mirefleur</div>
              <div class="item-description">$12.99</div>
            </div>          
          </div>




          
        </div>
      </div>
      <div class="order-container" layout>
        <div class="checkmark"><i class="fa fa-check"></i></div>
        <div flex=20 layout="column"  layout-align="end stretch" class="align-center left-column">
          <div flex class="pickup-time">
            <div class="pickup-label">PICKUP</div>
            <div class="time">
              2
              <div class="subtime">PM</div>
            </div>
          </div>
          <div flex class="order-total" layout="column"   layout-align="end center">
            <div class="total">$122.99</div>
          </div>
        </div>
        <div flex=80 class="order-items"> 
          <div class="orders-user" layout layout-align="start end">
            <div flex>
              Bruce Van Zyl
            </div>
            <div class="date" flex>July 29, 2016 8:51 PM</div>
          </div>

          <div layout class="product-line" layout-align="start center">
            <div flex=10 class="align-center">
              <div class="item-slot">C2</div>
            </div>
            <div flex=10 class="item-qty align-center">x 3</div>
            <div flex>
              <div class="item-title">Chateau Mirefleur</div>
              <div class="item-description">$12.99</div>
            </div>          
          </div>  
          <div layout class="product-line" layout-align="start center">
            <div flex=10 class="align-center">
              <div class="item-slot">C2</div>
            </div>
            <div flex=10 class="item-qty align-center">x 3</div>
            <div flex>
              <div class="item-title">Chateau Mirefleur</div>
              <div class="item-description">$12.99</div>
            </div>          
          </div>  
          <div layout class="product-line" layout-align="start center">
            <div flex=10 class="align-center">
              <div class="item-slot">C2</div>
            </div>
            <div flex=10 class="item-qty align-center">x 3</div>
            <div flex>
              <div class="item-title">Chateau Mirefleur</div>
              <div class="item-description">$12.99</div>
            </div>          
          </div>  
          <div layout class="product-line" layout-align="start center">
            <div flex=10 class="align-center">
              <div class="item-slot">C2</div>
            </div>
            <div flex=10 class="item-qty align-center">x 3</div>
            <div flex>
              <div class="item-title">Chateau Mirefleur</div>
              <div class="item-description">$12.99</div>
            </div>          
          </div>




          
        </div>
      </div>



    </div>
    <div flex=35 class="orders-stats">
      <div class="stats-title" layout layout-align="start end">
        <div flex class="title">
          Order's Stats
        </div>
        <div class="right-action" flex>
          Last 7 days <i class="fa fa-chevron-down"></i>
        </div>
      </div>

      <div class="stat-count">
        18
      </div>
      <div class="stat-label">
        Online Orders
      </div>
      <div class="stat-count">
        15
      </div>
      <div class="stat-label">
        Online Shoppr
      </div>
      <div class="stat-count">
        $541
      </div>
      <div class="stat-label">
        Total Sales
      </div>

      

    </div>
  </div>
</section>


