<div class="store-owner-promoted-products-view">
  <div class="promoted-box">
    <div class="image-container">
    </div>
    <div class="name">Kim Bourbon</div>
    <div class="aux-text">Promoting this product on:</div>
    <div class="icons-container">
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
    </div>
    <div class="btns-container">
      <div class="common-btn-gray autowidth">End Promotion</div>
      <div class="trash"><i class="fa fa-trash-o"></i></div>
    </div>
  </div>
  <div class="promoted-box">
    <div class="image-container">
    </div>
    <div class="name">Kim Bourbon</div>
    <div class="aux-text">Promoting this product on:</div>
    <div class="icons-container">
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
    </div>
    <div class="btns-container">
      <div class="common-btn-gray autowidth">End Promotion</div>
      <div class="trash"><i class="fa fa-trash-o"></i></div>
    </div>
  </div>
  <div class="promoted-box">
    <div class="image-container">
    </div>
    <div class="name">Kim Bourbon</div>
    <div class="aux-text">Promoting this product on:</div>
    <div class="icons-container">
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
    </div>
    <div class="btns-container">
      <div class="common-btn-gray autowidth">End Promotion</div>
      <div class="trash"><i class="fa fa-trash-o"></i></div>
    </div>
  </div>
  <div class="promoted-box">
    <div class="image-container">
    </div>
    <div class="name">Kim Bourbon</div>
    <div class="aux-text">Promoting this product on:</div>
    <div class="icons-container">
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
    </div>
    <div class="btns-container">
      <div class="common-btn-gray autowidth">End Promotion</div>
      <div class="trash"><i class="fa fa-trash-o"></i></div>
    </div>
  </div>
  <div class="promoted-box">
    <div class="image-container">
    </div>
    <div class="name">Kim Bourbon</div>
    <div class="aux-text">Promoting this product on:</div>
    <div class="icons-container">
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
    </div>
    <div class="btns-container">
      <div class="common-btn-gray autowidth">End Promotion</div>
      <div class="trash"><i class="fa fa-trash-o"></i></div>
    </div>
  </div>
  <div class="promoted-box">
    <div class="image-container">
    </div>
    <div class="name">Kim Bourbon</div>
    <div class="aux-text">Promoting this product on:</div>
    <div class="icons-container">
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
    </div>
    <div class="btns-container">
      <div class="common-btn-gray autowidth">End Promotion</div>
      <div class="trash"><i class="fa fa-trash-o"></i></div>
    </div>
  </div>
  <div class="promoted-box">
    <div class="image-container">
    </div>
    <div class="name">Kim Bourbon</div>
    <div class="aux-text">Promoting this product on:</div>
    <div class="icons-container">
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
    </div>
    <div class="btns-container">
      <div class="common-btn-gray autowidth">End Promotion</div>
      <div class="trash"><i class="fa fa-trash-o"></i></div>
    </div>
  </div>
  <div class="promoted-box">
    <div class="image-container">
    </div>
    <div class="name">Kim Bourbon</div>
    <div class="aux-text">Promoting this product on:</div>
    <div class="icons-container">
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
      <div class="icon">
        <md-tooltip md-direction="top">Weekly email blast to all subscribers</md-tooltip>
        <img src="/img/placeholdericon60x60.png" alt="icon">
      </div>
    </div>
    <div class="btns-container">
      <div class="common-btn-gray autowidth">End Promotion</div>
      <div class="trash"><i class="fa fa-trash-o"></i></div>
    </div>
  </div>
  <div class="promoted-box add">
    <div><i class="fa fa-plus"></i></div>
    <div>Add Product to Promote</div>
  </div>
</div>