<div class="store-owner-reports-view">
  <div class="top-bar">
    <div>&nbsp;</div>
    <div class="date-filter">
      <div class="common-btn-gray">Weekly Report</div>
      <div class="common-btn-gray">Monthly Report</div>
      <div class="common-btn-gray active">Custom</div>
      <div class="common-btn-gray"><i class="fa fa-calendar"></i> Feb 27, 17</div>
      <i class="fa fa-minus"></i>
      <div class="common-btn-gray"><i class="fa fa-calendar"></i> Mar 19, 16</div>
    </div>
    <div>
      <div class="common-btn-positive has-left-icon autowidth"><i class="fa fa-download"></i> Download Report</div>
    </div>
  </div>
  <div class="main-content">
    YYY
  </div>
</div>