<div class="list" >
  <md-input-container>
    <label for="searchProduct">Filter Product List</label>
    <input id="searchProduct" type="text" ng-model="search.productList">
  </md-input-container>
  <p ng-show="(pes.productList|filter:search.productList).length==0">No products found that match: "{{ search.productList }}"</p>

  <div class="row " ng-repeat="product in pes.productList|filter:search.productList|limitTo:search.limit:sortBy:'productId'">
    <md-divider></md-divider>
    <div class="row" ui-sref="editor.products.detail({productId:product.productId})">
      <h5 id="sidebar-heading">{{ product.name }}</h5>
      <div ng-show="product.lastEdit" id="last-edited">Edited {{ product.lastEdit }}</div>
      <div ng-show="product.username"> by {{product.username}}</div>
      <div ng-if="product.status == 'inprogress'" class="label label-default">In Progress</div>
      <div ng-if="product.status !== 'inprogress'" class="label"
           ng-class="{'label-primary':product.status=='done','label-success':product.status=='approved'}">{{ product.status }}
      </div>
    </div>
    <div class="row" ng-if="permissions.editor || permissions.curator">
      <button class="btn btn-primary btn-sm" ng-click="viewProduct(product)">View</button>
      <button ng-show="product.status !=='done' && product.userId==userId" class="btn btn-info btn-sm" ng-click="editProduct(product)">Edit</button>
      <button ng-show="product.status !=='done' && product.userId==userId" class="btn btn-danger btn-sm" ng-click="removeClaim(product)">Unassign
      </button>
      <button ng-show="$state.includes('editor.products', { status: 'new' })" class="btn btn-info btn-sm" ng-click="claimProduct(product)">Claim</button>
    </div>
    <md-divider></md-divider>
    <button class="btn btn-large btn-info" ng-show="$last" ng-click="showMore()">More</button>
    <!--<div class="col-md-2  ">-->
    <!--<a class="btn btn-primary" data-toggle="modal">Add to my list</a>-->
    <!--</div>-->


    <div class="modal fade" id="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add to my list</h4>
          </div>
          <div class="modal-body">
            <p>By adding this to your list no other editor will be able to work on this product.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Never Mind</button>
            <button class="btn btn-primary btn-wide" ng-click="claimProduct()">Add to my list</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
