<div class="product-editor-list" ng-controller="productEditorController">

  <div class="list-container">


    <div layout class="search-box-container">
      <div flex=80>
      <!--   <md-input-container>
          <label for="searchProduct">search text</label>
          <input id="searchProduct" type="text"  ng-model="searchText">


        </md-input-container> -->
          <input id="searchProduct" class="search-input" placeholder="Search Text" type="text"  ng-model="searchText">
      </div>
      <div flex class="search-button" ng-click="searchProducts(searchText)">
        Search
        <md-menu md-offset="0 35">
          <i class="fa fa-chevron-down" md-menu-origin ng-click="$mdOpenMenu($event)"></i>
          <md-menu-content class="product-search-menu">
            <md-menu-item>
              <md-checkbox ng-model="isChecked" aria-label="Finished?" class="blue-check">
                Search All
              </md-checkbox>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-checkbox ng-model="isChecked" aria-label="Finished?" class="blue-check" md-menu-align-target>
                Title
              </md-checkbox>
            </md-menu-item>
            <md-menu-item>
              <md-checkbox ng-model="isChecked" aria-label="Finished?" class="blue-check">
                Description
              </md-checkbox>
            </md-menu-item>
            <md-menu-item>
              <md-checkbox ng-model="isChecked" aria-label="Finished?" class="blue-check">
                SKU
              </md-checkbox>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>




    <div class="product-table-container" ng-show="products">

      <div layout class="t-header" layout-align="start center">
        <div flex>
          <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" class="blue-check"></md-checkbox>
        </div>
        <div flex=45>{{products.length}} Products <i class="fa fa-sort-desc"></i></div>
        <div flex=15>Skus <i class="fa fa-sort-desc"></i></div>
        <div flex>Audio <i class="fa fa-sort-desc"></i></div>
        <div flex>Image <i class="fa fa-sort-desc"></i></div>
      </div>   

      <div layout class="t-body" layout-align="start center" ng-repeat="product in products|limitTo:searchLimit" ng-click="viewProduct(product)">
        <div flex>
          <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" class="blue-check"></md-checkbox>
        </div>
        <div flex=45>{{product.name}}</div>
        <div flex=15>{{product.sku_count}}</div>
        <div flex><i ng-class="{'fa fa-check': product.audio ==1, 'fa fa-times': product.audio ==0}"></i></div>
        <div flex><i ng-class="{'fa fa-check': product.image ==1, 'fa fa-times': product.image ==0}"></i></div>
      </div>


    </div>




  </div>


  <div ng-class="data.cb1 ? 'bottom-action-menu active' : 'bottom-action-menu'">
    <div class="action-btn">
      Merge 3 selected products
    </div>
  </div>
</div>
