<head>
  <link href="http://cdn.trumedia.io/static/flatui/bootstrap/css/bootstrap.css" rel="stylesheet">
  <!-- Loading Flat UI -->
  <link href="http://cdn.trumedia.io/static/flatui/css/flat-ui.css" rel="stylesheet">
  <!-- Load JS here for greater good =============================-->

</head>

<div class="productEditor" ng-controller="productEditorController">

  <div>
    <div ui-view="stats"></div>

    <div class="row productContent">
      <div ng-show="pes.show.loading" class="col-md-4 loading-anim">
        <div class='uil-ripple-css' style='transform:scale(0.81);'>
          <div></div>
          <div></div>
        </div>
      </div>
      <div ng-show="!pes.show.loading" class="col-md-4" ui-view="list"></div>
      <div class="col-md-8" ng-include="detail.template" style=""></div>
    </div>
  </div>
</div>

<script src="http://cdn.trumedia.io/static/flatui/js/jquery-1.8.3.min.js"></script>
<script src="http://cdn.trumedia.io/static/flatui/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="http://cdn.trumedia.io/static/flatui/js/bootstrap.min.js"></script>
