<head>

  <link href="https://s3.amazonaws.com/cdn.expertoncue.com/static/bootstrap.css" rel="stylesheet">
  <link href="https://s3.amazonaws.com/cdn.expertoncue.com/static/flat-ui.css" rel="stylesheet">

</head>

<div class="productEditor" ng-controller="productEditorController">

  <div>
    <div ui-view="stats"></div>

    <div class="row productContent">
      <div ng-show="pes.show.loading" class="col-md-4 loading-anim">
        <div class='uil-ripple-css' style='transform:scale(0.81);'>
          <div></div>
          <div></div>
        </div>
      </div>
      <div ng-show="!pes.show.loading" class="col-md-4" ui-view="list"></div>
      <div class="col-md-8" ng-include="detail.template"></div>
    </div>
  </div>
</div>

<script src="https://s3.amazonaws.com/cdn.expertoncue.com/static/jquery-1.8.3.min.js"></script>
<script src="https://s3.amazonaws.com/cdn.expertoncue.com/static/jquery-ui-1.10.3.custom.min.js"></script>
<script src="https://s3.amazonaws.com/cdn.expertoncue.com/static/bootstrap.min.js"></script>
