

  <link href="https://s3.amazonaws.com/cdn.expertoncue.com/static/bootstrap.css" rel="stylesheet">
  <link href="https://s3.amazonaws.com/cdn.expertoncue.com/static/flat-ui.css" rel="stylesheet">

    <div layout layout-align="space-between center">
      <div layout class="search-box-container" flex=40>
        <div flex=80>
          <input type="text" class="search-input">
        </div>
        <div flex class="search-button">
          Search
          <md-menu md-offset="0 35">
            <i class="fa fa-chevron-down" md-menu-origin ng-click="$mdOpenMenu($event)"></i>
            <md-menu-content class="product-search-menu">
              <md-menu-item>
                <md-checkbox ng-model="isChecked" aria-label="Finished?" class="blue-check">
                  Search All
                </md-checkbox>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-checkbox ng-model="isChecked" aria-label="Finished?" class="blue-check" md-menu-align-target>
                  Title
                </md-checkbox>
              </md-menu-item>
              <md-menu-item>
                <md-checkbox ng-model="isChecked" aria-label="Finished?" class="blue-check">
                  Description
                </md-checkbox>
              </md-menu-item>
              <md-menu-item>
                <md-checkbox ng-model="isChecked" aria-label="Finished?" class="blue-check">
                  SKU
                </md-checkbox>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
      <div class="merge-btn-container">
        <div class="action-btn md-whiteframe-5dp">
          Merge with Selected Products
        </div>
      </div>
    </div>
    <!-- grid start -->
    <div layout layout-wrap layout-align="center start" class="product-grid">

