
<head>

  <link href="https://s3.amazonaws.com/cdn.expertoncue.com/static/bootstrap.css" rel="stylesheet">
  <link href="https://s3.amazonaws.com/cdn.expertoncue.com/static/flat-ui.css" rel="stylesheet">

</head>

<div class="productEditor" ng-controller="productEditorController">
  <div layout>
    <div ng-show="pes.show.loading" flex=40 class="loading-anim">
      <div class='uil-ripple-css' style='transform:scale(0.81);'>
        <div></div>
        <div></div>
      </div>
    </div>
    <div ng-show="!pes.show.loading" flex=40 ui-view="list"></div>
    <div flex=60 ng-include="detail.template"></div>
  </div>
</div>
