<!--Left side account management-->
<!--Uses the AccountManager in accountManager.client.controller.js-->

<section class="content accountList">

  <div class="titlebar"><h1 class="md-display-2">Account Management</h1></div>

  <div class="pagecontent account-manager">
    <div layout="row">
      <div flex="45" flex-xs="100" flex-order-xs="2">
        <md-input-container class="md-block search">
          <label>SEARCH</label>
          <input ng-model="search">
        </md-input-container>
      </div>
      <div flex flex-xs="100" flex-order-xs="1">
        <md-button class="md-raised md-success create-btn" ng-click="createAccount()">Create Account</md-button>
      </div>
    </div>

    <div class="table">
      <div layout class="t-header" layout-align="start center">
        <div flex="5" ng-click="reOrderList('accountId')">ID <i class="fa fa-sort"></i></div>
        <div flex="20" ng-click="reOrderList('storeName')">Store Name <i class="fa fa-sort"></i></div>
        <div flex="20" ng-click="reOrderList('createdDateMoment')">Date Created <i class="fa fa-sort"></i></div>
        <div flex ng-click="reOrderList('usersNum')"># of Users <i class="fa fa-sort"></i></div>
        <div flex ng-click="reOrderList('ordersNum')"># of Total Orders <i class="fa fa-sort"></i></div>
        <div flex="20" ng-click="reOrderList('contactName')">Contact Name <i class="fa fa-sort"></i></div>
        <div flex="10" ng-click="reOrderList('stateName')">State <i class="fa fa-sort"></i></div>
        <div flex></div>
      </div>
      <div layout class="t-body" layout-align="start center"
           ng-repeat="account in accountsService.accounts | filterBy:['accountId','storeName','createdDateStr','contactName','stateName']:search | orderBy:sortExpression">
        <div flex="5">{{account.accountId}}</div>
        <div flex="20">
          <img ng-src="{{ account.logo }}" class="store-img" ng-if="account.logo">
          <div ng-bind-html="account.storeName | highlight:search"></div>
        </div>
        <div flex="20" ng-bind-html="account.createdDateStr | highlight:search"></div>
        <div flex>{{account.usersNum}}</div>
        <div flex>{{account.ordersNum}}</div>
        <div flex="20" ng-bind-html="account.contactName | highlight:search"></div>
        <div flex="10" ng-bind-html="account.stateName | highlight:search"></div>
        <div flex>
          <md-button class="md-secondary md-raised" ng-click="editAccount(account)">Edit</md-button>
        </div>
      </div>
    </div>

    <div class="md-dialog-container" ui-view></div>
  </div>

</section>

