<!--Left side account management-->
<!--Uses the AccountManager in accountManager.client.controller.js-->

<section class="content accountList">

  <div class="titlebar"><h1 class="md-display-2">Account Management</h1></div>

  <div class="pagecontent account-manager">

    <div layout="row"  layout-align="space-around start" layout-padding layout-xs="column" layout-align-xs="start stretch">
      <div flex="45" flex-xs="100" flex-order-xs="2">
        <md-input-container class="md-block">
          <label>SEARCH</label>
          <input ng-model="search">
        </md-input-container>
      </div>
      <div flex="45" flex-xs="100" flex-order-xs="1">
        <md-button class="md-raised md-success invite" ui-sref="admin.accounts.create">Create Account</md-button>
      </div>
    </div>

    <div layout="row"  layout-align="space-around start" layout-xs="column" layout-align-xs="start stretch" layout-padding>
      <div flex="45" flex-xs="100" flex-order-xs="2">
          <md-list>
            <md-list-item  class="md-3-line " ng-repeat="account in accountsService.accounts  | filter: search">
              <div class="md-list-item-text ">
                <img ng-src="{{ account.logo }}" height="25px">
                <!--<pre>{{ account.preferences }}</pre>-->
                <h3>{{account.name}} </h3>
              </div>
              <md-button class="md-secondary md-raised" ng-click="editAccount(account)">Edit</md-button>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
      </div>

      <div flex-xs="100" flex-order-xs="1" flex="45" class="locationbox md-whiteframe-5dp" ui-view>
        <h3 class="md-headline" layout-align="center center">Select an account from the list</h3></div>
    </div>
  </div>

</section>

