<!--Right Side view for editing accounts-->
<!--Uses AccountManagerController in accountManager.client.controller.js-->
<md-dialog id="EditAccountDialog">
<div class="inner">
    <h1>Editing Account: {{ original.editAccount.name }}</h1>
    <form name="editForm" novalidate ng-submit="updateAccount(editForm.$valid)">
        <div layout-xs="column" layout-sm="column" layout-align="space-between center">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input name="name" ng-model="accountsService.editAccount.name" required autofocus>
                <div ng-messages="editForm.name.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Account name is required.</p>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Contact Name</label>
                <input name="contactName" ng-model="accountsService.editAccount.contactName" required>
                <div ng-messages="editForm.contactName.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Account Contact Name is required.</p>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Address</label>
                <input name="address" ng-model="accountsService.editAccount.address" required>
                <div ng-messages="editForm.address.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Account address is required.</p>
                </div>
            </md-input-container>
            <div layout="row" class="city-state-zip-container">
                <md-input-container class="md-block city" flex-gt-sm>
                    <label>City</label>
                    <input name="city" ng-model="accountsService.editAccount.city" required>
                    <div ng-messages="editForm.city.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Account city is required.</p>
                    </div>
                </md-input-container>
                <md-input-container class="md-block state" flex-gt-sm>
                    <label>State</label>
                    <md-select name="state" ng-model="accountsService.editAccount.state" required>
                        <md-option ng-repeat="state in states" ng-value="state.abbreviation">
                            {{state.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="editForm.state.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Account state is required.</p>
                    </div>
                </md-input-container>
                <md-input-container class="md-block zip" flex-gt-sm>
                    <label>Zip Code</label>
                    <input name="zipCode" ng-model="accountsService.editAccount.zipCode" required>
                    <div ng-messages="editForm.zipCode.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Account zipcode is required.</p>
                    </div>
                </md-input-container>
            </div>
        </div>
        <div>
            <md-button class="md-button md-raised upload"
                       ngf-select="upload($files, accountsService.editAccount.accountId)" ngf-multiple="false">
                Upload Logo Image
            </md-button>
        </div>
        <md-progress-linear md-mode="determinate" value="{{determinateValue}}"
                            ng-show="determinateValue"></md-progress-linear>
        <div class="logo-container" ng-if="accountsService.editAccount.logo || currentAccountLogo">
            <img ng-src="{{ accountsService.editAccount.logo || currentAccountLogo }}" class="logo-img" height="100">
        </div>
        <div layout="row" class="shoppr-container">
            <md-checkbox ng-model="accountsService.editAccount.shoppr">Shoppr</md-checkbox>
        <md-checkbox ng-model="accountsService.editAccount.website">Website</md-checkbox>
            <md-input-container>
                <label>Remaining Orders</label>
                <input ng-model="accountsService.editAccount.preferences.plan.remainingOrders" type="number">
            </md-input-container>
        </div>
        <div layout="row" class="authcode-container">
            <label>Device Authentication Code: </label>
            <p class="value"><strong>{{ accountsService.editAccount.authCode || 123456 }}</strong></p>
            <md-button class="md-button md-raised md-accent"
                       ng-click="accountsService.generateAuthCode(accountsService.editAccount.authCode)">Generate New
                Code
            </md-button>
        </div>
        <div class="toolbar">
            <md-button type="submit" class="md-raised md-primary update-btn">Update</md-button>
            <md-button class="md-button md-raised md-warn" ng-click="confirmDeleteAccount(accountsService.editAccount)">
                Remove Account
            </md-button>
            <md-button ng-click="cancelDialog()">Cancel</md-button>
        </div>
        <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
        </div>
    </form>
</div>
</md-dialog>
