<md-dialog id="CreateAccountDialog">
<div class="inner">
  <h1>Create an Account</h1>
  <form name="accountForm" ng-submit="saveNewAccount()" novalidate layout="column">
    <div layout-xs="column" layout-sm="column" layout-align="space-between center">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Account Name</label>
        <input ng-model="account.name" autofocus>
        <div ng-messages="accountForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">account name is required.</p>
        </div>
      </md-input-container>
      
      <md-input-container class="md-block" flex-gt-sm>
        <label>Primary Contact Name</label>
        <input ng-model="account.contactName">
        <div ng-messages="accountForm.contactName.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Account contactName is required.</p>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="account.email">
        <div ng-messages="accountForm.email.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Account email is required.</p>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Address</label>
        <input ng-model="account.address">
        <div ng-messages="accountForm.address.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Account address is required.</p>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>City</label>
        <input ng-model="account.city">
        <div ng-messages="accountForm.city.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Account city is required.</p>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>State</label>
        <md-select ng-model="account.state">
          <md-option ng-repeat="state in states" ng-value="state.abbreviation">
            {{state.name}}
          </md-option>
        </md-select>
        <div ng-messages="accountForm.state.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Account state is required.</p>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Zip Code</label>
        <input ng-model="account.zipCode">
        <div ng-messages="accountForm.zipCode.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Account Zip Code is required.</p>
        </div>
      </md-input-container>
    </div>
    <div class="toolbar">
      <md-button class="md-button md-raised md-primary" type="submit">Create</md-button>
      <md-button ng-click="cancelDialog()">Cancel</md-button>
    </div>
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
  </form>
</div>
</md-dialog>
