<section class="content dashboard" >

<!-- START DEVICES -->
<div>
  <h1 class="md-display-2" data-ng-init="init()">Devices</h1>
  <small ng-show="accountsService.currentAccount.accountId == selectAccountId">Authentication Code: {{ accountsService.currentAccount.authCode
    }}
  </small>
  <md-divider></md-divider>
  <div class="devices " ng-repeat="location in locations">
    <h1>{{location.name}} - {{location.address}}</h1>
    <div class="device" ng-repeat="device in location.devices">
      <div class="icon" ng-class="{error:device.unhealthy}">
        <i class="fa fa-desktop"></i></div>
      <p>{{device.name}}</p>
      <small>Last online {{device.moment}}</small>
    </div>
  </div>
</div>
<!-- END DEVICES -->

</section>
