<!--Right Side view for editing users-->
<!--Uses UserController in user.client.controller.js-->
<md-dialog id="EditUserDialog">
  <h1>Editing User: {{original.user.firstName}} {{original.user.lastName}}</h1>
  <md-button  class="md-button md-raised md-primary"  ng-click="remove();" ng-if="user._id !== authentication.user._id">
    Remove User
  </md-button>
  
  <form name="userForm" ng-submit="update(userForm.$valid)" novalidate>

    <div layout-xs="column" layout-sm="column" layout-align="space-between stretch">

     <div layout="row" class="name-fields">
      <md-input-container class="md-block" flex>
        <label>First Name</label>
        <input ng-model="user.firstName" required autofocus>
        <div ng-messages="userForm.firstName.$error" role="alert">
          <p class="help-block error-text" ng-message="required">First name is required.</p>
        </div>
      </md-input-container>

      <md-input-container class="md-block" flex>
        <label>Last Name</label>
        <input ng-model="user.lastName" required>
        <div ng-messages="userForm.lastName.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Last name is required.</p>
        </div>
      </md-input-container>
     </div>

      <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="user.email">
        <div ng-messages="userForm.email.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Email is required.</p>
        </div>
      </md-input-container>

    </div>

    <div>
      <label class="control-label">Roles</label>
    </div>

    <div class="controls">
      <div id="checks" ng-repeat="role in roles | orderBy:'text'">
        <md-checkbox ng-model="role.selected">
          {{role.text}}
        </md-checkbox>
        <div ng-messages="userForm.roles.$error" role="alert">
          <p class="help-block error-text" ng-message="required">At least one role is required.</p>
        </div>
      </div>

      <div ng-show="error" class="text-danger">
        <strong ng-bind="error"></strong>
      </div>

      <div layout-xs="column" layout-align="space-between stretch">
        
        <md-button class="md-button md-raised md-primary" type="submit">
          Update
        </md-button>
        <md-button class="md-button md-raised" ng-click="resetPassword()">
          Reset Password
        </md-button>

        <md-button class="md-button" ng-click="cancel()">Cancel</md-button>

        <div class="temp-password" ng-show="data.tempPassword !== ''">Temporary Password: <span ng-bind="data.tempPassword"></span></div>

      </div>
    </div>

  </form>
</md-dialog>
