<section class="inner">

  <h1>Invite A User</h1>

  <form name="userForm" ng-submit="invite(userForm.$valid)" novalidate>


    <md-input-container class="md-block">
      <label>Name</label>
      <input ng-model="user.name">
      <div ng-messages="userForm.contactName.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Name is required.</p>
      </div>
    </md-input-container>


    <md-input-container class="md-block">
      <label>Email</label>
      <input ng-model="user.email">
      <div ng-messages="userForm.email.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Email is required.</p>
      </div>
    </md-input-container>

    <div class="form-group" show-errors>
      <label>User Role</label>
      <div id="checks" ng-repeat="role in roles">
        <md-checkbox ng-click="toggleRole(role.id)">{{role.text}}
      </div>
      <div ng-messages="userForm.userRole.$error" role="alert">
        <p class="help-block error-text" ng-message="required">User Role is required.</p>
      </div>
    </div>

    <div class="form-group" ng-show="myPermissions.indexOf(1004) > -1 || authentication.user.roles.indexOf('admin') > -1">
      <label>Account: </label>
      <select ng-model="user.accountId">
        <option ng-repeat="account in accountsService.accounts" value="{{ account.accountId}}">{{ account.name }}:{{ account.address }}</option>
      </select>
    </div>


    <!--<div ng-repeat="location in locations">-->
    <!--<md-input-container class="md-block">-->
    <!--<label ng-show="$first" id="location">Locations</label>-->
    <!--<br>-->
    <!--<input ng-model="location.name">-->

    <!--<md-button class="md-button md-raised md-primary" ng-show="$last" ng-click="addNewLocation(locs)">Add Another Location</md-button>-->
    <!--<md-button class="md-button md-raised md-primary" ng-show="removeLocationBox" ng-click="removeLocation()">Remove Location</md-button>-->
    <!--</md-input-container>-->
    <!--</div>-->


    <md-button type="submit" class="md-raised md-primary">Send Invite</md-button>


    <!--<div ng-show="error" class="text-danger">-->
    <!--<strong ng-bind="error"></strong>-->
    <!--</div>-->

  </form>
</section>


