<section class="inner">

  <h1>Invite A User</h1>

  <form name="userForm" ng-submit="invite(userForm.$valid)" novalidate>


    <md-input-container class="md-block">
      <label>Name</label>
      <input ng-model="user.name">
      <div ng-messages="userForm.contactName.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Name is required.</p>
      </div>
    </md-input-container>


    <md-input-container class="md-block">
      <label>Email</label>
      <input ng-model="user.email">
      <div ng-messages="userForm.email.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Email is required.</p>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Set User Password</label>
      <input ng-model="user.password">
      <div ng-messages="userForm.password.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Password is required.</p>
      </div>
    </md-input-container>

    <div class="form-group" show-errors>
      <label>User Role</label>

      <md-radio-group ng-model="selected" class="md-primary" >
        <md-radio-button ng-repeat="role in roles" ng-value="role.id"  aria-label="{{ role.text }}" md-no-ink  required>
          {{ role.text }}
        </md-radio-button>
      </md-radio-group>

      <div ng-messages="selected" role="alert">
        <p class="help-block error-text" ng-message="required">User Role is required.</p>
      </div>
    </div>

    <div class="form-group" ng-show="myPermissions.indexOf(1004) > -1 || authentication.user.roles.indexOf('admin') > -1">
      <label>Account: </label>
      <md-select ng-model="user.accountId">
        <md-option ng-repeat="account in accountsService.accounts" value="{{ account.accountId}}">{{ account.name }}:{{ account.address }}</md-option>
      </md-select>
    </div>

    <md-button type="submit" class="md-raised md-primary">Send Invite</md-button>


  </form>
</section>


