<!--Left side user management-->
<!--Uses the UserListController in list-user.client.controller.js-->

<section class="content">
  <div class="titlebar"><h1 class="md-display-2">User Management</h1></div>

  <div class="pagecontent user-management">
    <div layout="row">
      <div flex="45" flex-xs="100" flex-order-xs="2">
        <md-input-container class="md-block">
          <label>SEARCH</label>
          <input ng-model="search">
        </md-input-container>
      </div>
      <div flex flex-xs="100" flex-order-xs="1">
        <md-button class="md-raised md-success invite" ng-click="inviteStoreView()">Invite User</md-button>
      </div>
    </div>

    <div class="table">
      <div layout class="t-header" layout-align="start center">
        <div ng-click="reOrderList('displayName')" flex="25">Name <i class="fa fa-sort"></i></div>
        <div ng-click="reOrderList('email')" flex="25">Email <i class="fa fa-sort"></i></div>
        <div ng-click="reOrderList('store')" flex="20">Store <i class="fa fa-sort"></i></div>
        <div ng-click="reOrderList('topRole')" flex>Role <i class="fa fa-sort"></i></div>
        <div></div>
      </div>
      <div layout class="t-body" layout-align="start center"
         ng-repeat="user in CurrentUserService.userList | filterBy:['displayName', 'email', 'store', 'topRole']:search | orderBy:sortExpression">
        <div flex="25" ng-bind-html="user.displayName | highlight:search"></div>
        <div flex="25" ng-bind-html="user.email | highlight:search"></div>
        <div flex="20" ng-bind-html="user.store | highlight:search"></div>
        <div flex ng-bind-html="user.topRole | highlight:search"></div>
        <div>
          <md-button class="md-secondary md-raised" ng-click="userEditView(user)">Edit</md-button>
        </div>
      </div>
    </div>

    <div class="md-dialog-container" ui-view></div>
  </div>

</section>

