<section class="content userList">

  <div layout="row"  layout-align="space-between start" >
    <div>
      <h1>USER MANAGEMENT</h1>
      <md-input-container class="md-block">
        <label>SEARCH</label>
        <input ng-model="search" ng-change="figureOutItemsToDisplay()">
      </md-input-container>
    </div>
    <div>
      <md-button class="md-raised md-success invite" ng-click="inviteStoreView()">Invite User</md-button>
    </div>

  </div>

<div layout="row"  layout-align="space-between start" >
  <div flex="50">




  <div layout-gt-sm="row">



  </div>
  <md-content layout="row" layout-align="space-between none">
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="user in users" ng-click="userEditView({userId: user._id,userName:user.username})">

        <img alt="{{ user.profileImageURL }}" ng-src="{{  user.profileImageURL }}" class="md-avatar" />
        <div class="md-list-item-text">
          <h3>{{user.firstName}} {{user.lastName}}</h3>
          <p>{{user.username}} | {{user.email}}</p>
        </div>
        <div class="buttons">
          <md-button class="md-raised">Edit</md-button>
        </div>

      </md-list-item>
      <md-divider></md-divider>


    </md-list>
  </md-content>
  </div>
  <div flex="5"></div>
    <div flex="40" ui-view></div>

</div>
</section>

