<md-content layout="row" layout-align="space-between none">
  <md-list>
    <md-list-item class="md-3-line" ng-repeat="user in users" ng-click="getLocation(user.username)">
      <div class="md-list-item-text" layout="column">
        <p ng-bind="user.username"></p>
        <h4 ng-bind="user.roles"></h4>
        <h3 ng-bind="user.email"></h3>
      </div>
    </md-list-item>
    <label ng-repeat="items in list_categories.data">{{items.address}}</label>
    <md-divider></md-divider>
  </md-list>

</md-content>
