<div class="common-modal-dialog">
  <div class="dialog-title">Manage Stores</div>
  <div class="main-container">
    <div class="left-side">
      <div class="store-list">
        <div class="store-item">
          <div class="store-name">Alcohol Store 34</div>
          <div class="store-counter">55</div>
        </div>
        <div class="store-item">
          <div class="store-name">That Other Alcohol Store</div>
          <div class="store-counter">44</div>
        </div>
        <div class="store-item active">
          <div class="store-name">Bruces Bubbly Beverages</div>
          <div class="store-counter">22</div>
        </div>
      </div>
      <div class="add-store">
        <i class="fa fa-plus"></i>
      </div>
    </div>
    <div class="right-side">Y</div>
  </div>
</div>