<section class="pricingcalc">

  <div layout="row" layout-align="center center" >

    <md-button ng-click="addPackage(3)">3 Unit Package</md-button>
    <md-button ng-click="addPackage(5)">5 Unit Package</md-button>
    <md-button ng-click="addPackage(7)">7 Unit Package</md-button>
    <md-button ng-click="addPackage(10)">10 Unit Package</md-button>
  </div>
  <div class="toprow">

    <div class="pccol">
      <h1>{{pricing.pricelist.totalDevices}}</h1>
      <h4>Devices </h4>

      <div class="select">
        <div class="item" ng-repeat="item in pricing.pricelist.devices">
          <span class="title" >{{item.name}} : ${{item.price}}({{item.qty}})</span>
          <span class="btn add" ng-click="addItem(item, 'device')">+</span>
          <span class="btn remove" ng-click="removeItem(item, 'device')">-</span>
        </div>
      </div>
    </div>
    <div class="plus">
      +
    </div>
    <div class="pccol">
      <h1>{{pricing.pricelist.totalApps}}</h1>
      <h4>App</h4>
      <div class="select">
        <div class="item" ng-repeat="item in pricing.pricelist.apps">
          <!--<input type="checkbox" id="appcheck" name="appcheck" ng-model="appcheck" data-ng-change="appcheck ? addItem(item) : removeItem(item)" />-->
          <span class="title">{{item.name}} : ${{item.price}}({{item.qty}})</span>
          <span class="btn add" ng-click="addItem(item , 'apps')">+</span>
          <span class="btn remove" ng-click="removeItem(item, 'apps')">-</span>
        </div>

      </div>
    </div>
    <div class="plus">
      +
    </div>
    <div class="pccol">
      <h1>{{pricing.pricelist.totalAccessories}}</h1>
      <h4>Accessories</h4>
      <div class="select">
        <div class="item"  ng-repeat="item in pricing.pricelist.accessories">
          <span class="title">{{item.name}} : ${{item.price}}({{item.qty}})</span>
          <span class="btn add" ng-click="addItem(item , 'accessories')" >+</span>
          <span class="btn remove" ng-click="removeItem(item, 'accessories')">-</span>
        </div>
    </div>
  </div>
  </div>

  <div class="bottomrow">
    <div class="discount">
      <div id="deviceImg" ng-repeat="source in images" >
      <img  ng-if="source.name == 'iPad'"src="{{source.fileName}}"  />
        <img  ng-if="source.name == 'iPad Pro'"src="{{source.fileName}}"  />
      </div>
      <select  data-ng-change="addDiscount(amountDiscount)"ng-model="amountDiscount" ng-options="i.amount as i.name for i in discounts">
      </select>

      <h4>Discount </h4>

    </div>
    <div class="total" >
      <h1 >${{formatNumber(priceTotal - (priceTotal * currentDiscount))}}</h1>
      <h4>Total Price</h4>
    </div>

    <div class="total monthly" >
      <h1 >${{formatNumber((priceTotal - (priceTotal * currentDiscount))/12)}}</h1>
      <h4>Monthly Price (12 Month Lease)</h4>
    </div>
  </div>

</section>

