<div layout="column" style="height:100vh" class="match">
    <div flex="30" class="current-item-container" ng-controller="StoreDbDetailController">
        <div layout="row" layout-align="space-between">
            <md-button class="md-raised" ng-click="searchDatabase()"><i class="fa fa-search"></i>Search Database
            </md-button>

            <md-button class="md-raised" ng-show="orderDataService.selected.length>0" ng-click="matchProduct($event)">
                <i class="fa fa-link"></i>
                Save & Match
            </md-button>
            <md-button class="md-raised" ng-click="decreaseIndex()"><i class="fa fa-arrow-left"></i></md-button>
            <md-button class="md-raised" ng-click="increaseIndex()"><i class="fa fa-arrow-right"></i></md-button>
            <md-button class="md-raised md-warn" ng-click="deleteCurrentItem()"><i class="fa fa-trash-o"></i></md-button>

        </div>
        <div layout="row">
            <div>
                <p style="color:white;">Product {{ orderDataService.currentIndex+1 }}/{{
                    orderDataService.allItems.length }}</p>
                <p style="color:white;">Name: {{ orderDataService.currentItem.name }}</p>
                <p style="color:white;">Sku: {{ orderDataService.currentItem.upc }}</p>
                <p style="color:white;">Type: {{ orderDataService.currentItem.type }}</p>
                <span>ProductID: {{ orderDataService.currentItem.productId }} <i class="fa fa-check" ng-show="orderDataService.currentItem.productId"></i></span>
            </div>
            <a ng-href="{{ orderDataService.currentItem.publicUrl }}" target="_blank"
               ng-show="orderDataService.currentItem.publicUrl">
                <img ng-src="{{ orderDataService.currentItem.publicUrl }}" class="match-image"></a>
        </div>

    </div>
    <div flex="70" style="border:2px solid darkslategray;overflow: scroll;border-radius:5px;">
        <div ui-view="rightSide"></div>
    </div>
</div>
