<div layout="row" style="margin-top:20vh">
  <div flex="50" style="width:40vw">
    <div ng-include="'modules/users/client/views/productEditor/productEditor.list.html'">

      <!--this will include the template from the product editor list/search grid.-->
      <!--TODO: fix styling for this half of the screen to match product editor list search page-->
    </div>
  </div>

  <div flex="50" style="border: 2px solid red;">
    <!--TODO: build store order match page here-->
    <h1>STORE ORDER MATCH PAGE</h1>
  </div>

</div>
