<div layout class="order-match-page">
  <div flex="40">
    <div ng-include="'modules/users/client/views/productEditor/productEditor.list.html'">
    </div>
  </div>

  <div flex="60">
    <div class="match-title">Match Found!</div>
    <div class="match-number"><span>231230493439434034949394</span></div>
    <div class="match-image"><img src="img/match.jpg" alt=""></div>
    <div class="match-buttons" layout  layout-align="center center">
      <div class="custom-btn">Merge with Selected Product</div>
      <div class="custom-btn">Create new Product</div>
    </div>

  </div>

</div>
