<div class="store-client-view">
  <div class="header" ng-hide="storeImport">
    <md-button class="md-button upload-csv" ng-click="selectCsvImport('#storeCsv')">
      + Upload
    </md-button>
    <ng-csv-import id="storeCsv"
                   result="storeImport"
                   header="true"
                   separator="','"
                   accept="'.csv'"
                   acceptSize="4194304"
                   callback="selectStore"></ng-csv-import>
  </div>
  <form class="header" ng-show="storeImport" ng-disabled="storeSubmitBusy" novalidate autocomplete="off">
    <selectize config="selectStoreConfig" options="ordersDropdown" ng-model="selectedStore" placeholder="Select or create store"></selectize>
    <md-button class="md-button upload-csv" ng-click="!storeSubmitBusy && submitStore(selectedStore)">Submit</md-button>
    <md-button class="md-button md-warn cancel" ng-click="!storeSubmitBusy && cancelCsvImport('#storeCsv')">Cancel</md-button>
  </form>

    <div layout class="orders-header">
        <div flex=10 class="align-center">#</div>
        <div flex=30>Account</div>
        <div flex=10 class="align-center">Received</div>
        <div flex=10 class="align-center">Processed</div>
        <div flex=10 class="align-center">Done</div>
        <div flex=10 class="align-center">Approved</div>
        <div flex=10 class="align-center">Total</div>
        <div flex=10 class="align-center">Status</div>
    </div>
    <div layout layout-align="center center" class="orders-body"
         ng-repeat="store in orders | orderBy:'-status.received'"
         ng-click="goToMatch(store.storeId)">
        <div flex=10 class="align-center">{{store.storeId}}</div>
        <div flex=30>{{store.name}}</div>
        <div flex=10 class="align-center">{{store.status.received}}</div>
        <div flex=10 class="align-center">{{store.status.processed}}</div>
        <div flex=10 class="align-center">{{store.status.done}}</div>
        <div flex=10 class="align-center">{{store.status.approved}}</div>
        <div flex=10 class="align-center">{{store.status.total}}</div>
        <div flex=10 class="align-center">
            <div ng-class="'status-bar ' + store.status.barClass"></div>
        </div>
    </div>
</div>
