<div layout="column" style="height:100vh" class="match">
    <div flex="25" class="current-item-container" ng-controller="StoreDbDetailController">
        <div layout="row">
            <md-button class="md-raised" ng-click="increaseIndex()">Next</md-button>
            <md-button class="md-raised" ng-show="orderDataService.selected.length>0" ng-click="matchProduct()">Match
                Product
            </md-button>
            <md-button class="md-raised" ng-click="searchDatabase()">Search Database</md-button>
            <span>Item Processed: <i class="fa fa-check"
                                     ng-show="orderDataService.currentItem.productId != '0'"></i></span>
        </div>
        <div layout="row">
            <div><p>Product {{ orderDataService.currentIndex+1 }}/{{ orderDataService.allItems.length }}</p>
                <h3>Name: {{ orderDataService.currentItem.name }}</h3>
                <h3>Sku: {{ orderDataService.currentItem.upc }}</h3>
            </div>
            <a ng-href="{{ orderDataService.currentItem.url }}" target="_blank"
               ng-show="orderDataService.currentItem.url">
                <img ng-src="{{ orderDataService.currentItem.url }}" class="match-image"></a>
        </div>

    </div>
    <div flex="75" style="border:2px solid darkslategray;overflow: scroll;border-radius:5px;">
        <div ui-view="rightSide"></div>
    </div>
</div>