<div class="users-manager-view large-sidebar">
  <div class="auto-save-box" ng-show="ui.display !== 'fulltable'">
    <i class="fa fa-circle"></i> Automatically Saved
  </div>
  <div ng-class="['left-side-content', {full: ui.display === 'fulltable'}]">
    <div class="title">All Users</div>
    <div class="main-table">
      <!--
      FILTER HEADER
      -->
      <div class="filter-header">
        <div class="left-filter">
          <div class="common-input-with-icon">
            <input type="text" placeholder="Search" class="common-input" ng-model="ui.search">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <div class="right-filter">
          <div class="common-btn-black" ng-click="openInviteUserSidebar()">New User</div>
        </div>
      </div>
      <!--
      COLUMNS HEADER
      -->
      <div class="columns-header">
        <div class="name-col" ng-click="reOrderList('displayName')"><span>Name</span> <i class="fa fa-sort"></i></div>
        <div class="email-col" ng-click="reOrderList('email')"><span>Email</span> <i class="fa fa-sort"></i></div>
        <div class="store-col" ng-click="reOrderList('store')"><span>Store</span> <i class="fa fa-sort"></i></div>
        <div class="role-col" ng-click="reOrderList('topRole')"><span>Role</span> <i class="fa fa-sort"></i></div>
      </div>
      <!--
      COLUMNS DATA ROWS
      -->
      <div class="columns-data" ng-click="openEditUserSidebar()" ng-repeat="user in CurrentUserService.userList | filterBy:['displayName','email','store','topRole']:ui.search | orderBy:ui.sortExpression track by user.userId">
        <div class="name-col" ng-bind-html="user.displayName | highlight:ui.search">Name</div>
        <div class="email-col" ng-bind-html="user.email | highlight:ui.search">Email</div>
        <div class="store-col" ng-bind-html="user.store | highlight:ui.search">Store</div>
        <div class="role-col" ng-bind-html="user.topRole | highlight:ui.search">Role</div>
      </div>
    </div>
  </div>
  <!--
  USER RIGHT SIDE
  -->
  <div class="right-side-content" ng-show="ui.display !== 'fulltable'" ng-switch="ui.display">
    <div class="title" ng-switch-when="inviteUser">Invite A New User</div>
    <div class="title" ng-switch-when="editUser">Edit User</div>
    <form name="userForm" ng-submit="saveUsers(ui.display)" novalidate>
      <div class="side-panel">
        <div class="columns">
          <div class="first-column">
            <div class="common-field-title">First Name</div>
            <input type="text" class="common-input" name="firstname" ng-model="ui.currentUser.firstname" required>
            <input-error-msg form="userForm" field="firstname" errors="{required: 'First name is required'}"></input-error-msg>
            <div class="common-field-title">Last Name</div>
            <input type="text" class="common-input" name="lastname" ng-model="ui.currentUser.lastname" required>
            <input-error-msg form="userForm" field="lastname" errors="{required: 'Last name is required'}"></input-error-msg>
            <div class="common-field-title">Email</div>
            <input type="email" class="common-input" name="email" ng-model="ui.currentUser.email" required>
            <input-error-msg form="userForm" field="email" errors="{required: 'Email is required', email: 'Wrong email format'}"></input-error-msg>
            <div class="common-field-title" ng-bind="ui.display === 'inviteUser' ? 'Set Password' : 'Reset Password'"></div>
            <input type="text" class="common-input" name="password" ng-model="ui.currentUser.password" required>
            <input-error-msg form="userForm" field="password" errors="{required: 'Password is required'}"></input-error-msg>
          </div>
          <div class="second-column">
            <div class="common-field-title">Store</div>
            <div class="common-select-container">
              <div ng-class="['common-select-trigger ignore-click-trigger', {active:ui.storesOptionsSelect}, {error: ui.stateError}]" ng-click="openMenu('storesOptionsSelect')" ng-bind="ui.currentUser.stateName || 'Select Store'"></div>
              <div class="common-select-options" ng-show="ui.storesOptionsSelect" ng-mouseleave="ui.storesOptionsSelect = false">
                <div class="common-select-option" ng-repeat="store in stores" ng-bind="store.name" ng-click="setStore(store)"></div>
              </div>
              <div class="common-input-error-msg" ng-show="ui.storeError">Store is required</div>
            </div>
            <div class="common-field-title">Select Role</div>
            <div class="common-select-container">
              <div ng-class="['common-select-trigger ignore-click-trigger', {active:ui.rolesOptionsSelect}, {error: ui.roleError}]" ng-click="openMenu('rolesOptionsSelect')" ng-bind="ui.currentUser.stateName || 'Select Role'"></div>
              <div class="common-select-options" ng-show="ui.rolesOptionsSelect" ng-mouseleave="ui.rolesOptionsSelect = false">
                <div class="common-select-option" ng-repeat="role in roles" ng-bind="role.name" ng-click="setRole(role)"></div>
              </div>
              <div class="common-input-error-msg" ng-show="ui.roleError">Role is required</div>
            </div>
            <div class="common-field-title has-info"><span>Message</span> <span class="info">max. 40 characters</span></div>
            <textarea name="" id="" class="common-textarea"></textarea>
          </div>
        </div>
        <div class="action-footer">
          <div class="common-btn-negative small has-left-icon" ng-if="ui.display === 'editUser'"><i class="fa fa-trash-o"></i> <span>Delete</span></div>
          <div>&nbsp;</div>
          <div>
            <div class="common-btn-gray small" ng-click="ui.display = 'fulltable'">Cancel</div>
            <div class="common-btn-positive small" ng-bind="ui.display === 'inviteUser' ? 'Create' : 'Update'"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>