.location-manager,
.account-manager{
  .create-btn{
    @media @small-only {
      width: 100%;
      margin: 0px;
    }
  }
  .edit-box {
    padding: 20px;
    .md-button{
      @media @small-only {
        width: 100%;
        margin: 0px;
      }
    }
    .upload-btn{
      text-align: center;
    }
    .update-btn{
      margin-top: 20px;
    }
    .logo-container{
      text-align: center;
      margin: 30px auto;
    }
    md-input-container{
      width: 100%;
    }
    .logo-img,
    .store-img{
      max-width: 100%;
    }
  } 
}
