.brand-plans-view{
  background-color: #eff3f6;
  padding: 4vh 3vw 10vh 3vw;
  color: #354052;
  .title{
    font-size: 24px;
  }
  .plans-table{
    margin-top: 30px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e6eaee;
    .filter-header{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .staus-filter{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        .status-option{
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          padding: 20px 30px;
          &.active{
            border-bottom: 3px solid #2bbf88;
          }
          .status-count{
            margin-left: 15px;
            font-size: 14px;
            color: #7f8fa4;
          }
        }
        .status-option-separator{
          border-left: 1px solid #dfe3e9;
        }
      }
      .input-filter{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-right: 30px;
        input{
          font-family: @avenir;
          border-radius: 4px;
          background-color: #ffffff;
          border: solid 1px #dfe3e9;
          width: 220px;
          color: #354052;
          font-weight: bold;
          outline: none;
          padding-left: 13px;
          padding-right: 40px;
          height: 36px;
          line-height: 36px;
          font-size: 14px;
          box-sizing: border-box;
          .placeholder({ color: #a1a7af; });
        }
        .fa{
          color: #a1a7af;
          position: absolute;
          top: 8px;
          right: 14px;
        }
      }
    }
  }
}

.brand-products-view{
  background-color: yellow; 
}