// 
// PLANS
// 
.brand-plans-view{
  .common-view-layout;
  .left-side-content{
    .main-table{
      .filter-header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        .staus-filter{
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          .status-option{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            padding: 20px 1.5vw;
            cursor: pointer;
            &.active{
              border-bottom: 3px solid #2bbf88;
            }
            .status-count{
              margin-left: 15px;
              font-size: 14px;
              color: #7f8fa4;
            }
          }
          .status-option-separator{
            border-left: 1px solid #dfe3e9;
          }
        }
        .common-input-with-icon{
          margin-right: 1.5vw;
        }
      }
      .columns-header,
      .columns-data{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        .name-col{
          width: 30%;
        }
        .submitted-col,
        .promotion-col,
        .start-col,
        {
          width: 15%;
        }
        .member-col{
          width: 25%;
        }
      }
      .columns-header{
        background-color: #f5f8fa;
        border-top: solid 1px #e6eaee;
        border-bottom: solid 1px #e6eaee;
        color: #7f8fa4;
        padding: 10px 40px;
        .fa{
          margin-left: 10px;
        }
      }
      .columns-data{
        padding: 30px 40px;
        border-bottom: 1px solid #e6eaee;
        &:last-child{
          border-bottom: none;
        }
        &.active{
          background-color: rgba(215,251,232,0.2);
        }
        &:hover{
          background-color: rgba(215,251,232,0.2);
        }
        .name-col{
          .subname{
            font-size: 12px;
            color: #7f8fa4;
            font-weight: normal;
            margin-top: 3px;
          }
        }
      }
    }
  }
  .right-side-content{
    .side-panel{
      .field-title{
        font-size: 12px;
        font-weight: bold;
        color: #7f8fa4;
        opacity: .5;
        margin-top: 30px;
        margin-bottom: 10px;
      }
      .date-inputs{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        .start-date{
          margin-right: 25px;
        }
        input{
          max-width: 120px;
        }
      }
      .products-box{
        width: 100%;
        background-color: rgba(223,227,233,0.3);
        height: 340px;
      }
    }
  }
}

.brand-products-view{
  .common-view-layout;
  .left-side-content{
    .main-table{
      padding: 15px;
      .filter-header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        .left-filter{
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          .common-input-with-icon{
            margin-left: 20px;
          }
        }
      }
      .columns-header,
      .columns-data{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        .check-col{
          width: 4%;
          padding-right: 2%;
        }
        .name-col{
          width: 30%;
          padding-right: 2%;
        }
        .skus-col{
          width: 45%;
          padding-right: 2%;
        }
        .plan-col{
          width: 15%;
        }
      }
      .columns-header{
        color: #7f8fa4;
        padding: 30px 0 10px 0;
        .header-check{
          width: 30px;
          height: 30px;
          border-radius: 4px;
          background-image: linear-gradient(to top, #f2f4f7, #ffffff);
          border: solid 1px #ced0da;
          text-align: center;
          line-height: 30px;
          box-sizing: border-box;
          padding-top: 3px;
        }
      }
      .columns-data{
        padding: 10px 0;
        border-top: 1px solid #e6eaee;
        font-size: 14px;
        font-weight: normal;
        align-items: flex-start;
        &.active{
          background-color: rgba(215,251,232,0.2);
        }
        &:hover{
          background-color: rgba(215,251,232,0.2);
        }
        .check-col{
          input{
            margin-left: 7px;
          }
        }
        .skus-col{
          word-wrap: break-word;
        }
      }
    }
  }
}

