.common-view-layout{
  background-color: #eff3f6;
  min-height: 90vh;
  padding: 4vh 3vw 10vh 3vw;
  color: #354052;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  .title{
    font-size: 24px;
  }
  .auto-save-box{
    position: absolute;
    top: 4vh;
    right: 3vw;
    font-size: 12px;
    font-weight: bold;
    color: #7f8fa4;
    .fa{
      margin-right: 7px;
      color: #37b148;
    }
  }
  .left-side-content{
    &.full{
      width: 100%;
    }
    width: 58vw;
    .main-table{
      margin-top: 30px;
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px #e6eaee;
    }
  }
  .right-side-content{
    width: 32vw;
    .side-panel{
      margin-top: 30px;
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px #e6eaee;
      padding: 0 30px 30px 30px;
      .date-inputs{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        .start-date{
          margin-right: 25px;
        }
        input.common-input{
          min-width: auto;
          max-width: 120px;
        }
      }
      .products-box{
        width: 100%;
        background-color: rgba(223,227,233,0.3);
        height: 340px;
      }
    }
  }
}

.common-input,
.common-textarea{
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dfe3e9;
  outline: none;
  opacity: .5;
  font-size: 14px;
  font-weight: bold;
  color: #354052;
  padding: 0px 13px;
  font-family: @avenir;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
  .placeholder({ color: #a1a7af; });
}
.common-input{
  min-width: 250px;
}

.common-input-with-icon{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;  
  input{
    padding-right: 40px;
  }
  .fa{
    color: #a1a7af;
    position: absolute;
    top: 8px;
    right: 14px;
  }
}

.common-textarea{
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dfe3e9;
  outline: none;
  opacity: .5;
  font-size: 14px;
  font-weight: bold;
  color: #354052;
  padding: 0px 13px;
  font-family: @avenir;
  box-sizing: border-box;
  min-height: 150px;
  width: 100%;
  resize: none;
  .placeholder({ color: #a1a7af; });
}

.common-checkbox{
  width: 16px;
  height: 16px;
  border-radius: 4px;
  cursor: pointer;
  background-image: linear-gradient(to top, #f2f4f8, #feffff);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #ced0da;
}

.common-select-arrow{
  cursor: pointer;
  background: transparent url('/img/angle-arrow-down.svg') no-repeat;
  background-size: 7px;
  background-position: right center;
}

.common-select-container{
  position: relative;
  .store-logo{
    width: 40px;
    height: 28px;
    border-radius: 4px;
    background-color: gray;
    margin-right: 12px;
  }
  .common-select-trigger{
    cursor: pointer;
    border-radius: 4px;
    background-image: linear-gradient(to top, #f2f4f7, #ffffff);
    border: solid 1px #ced0da;
    font-size: 14px;
    font-weight: bold;
    color: #354052;
    padding: 0px 36px 0 13px;
    font-family: @avenir;
    height: 36px;
    line-height: 36px;
    position: relative;
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; 
    transition: all ease .2s;       
    &:after{
      transition: all ease .2s;       
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 36px;
      width: 36px;
      cursor: pointer;
      background: transparent url('/img/angle-arrow-down.svg') no-repeat;
      background-size: 7px;
      background-position: center center;
    }
    &.active{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      &:after{
        transform: rotate(180deg);
      }
    }
  }
  .common-select-options{
    position: absolute;
    top: 36px;
    left: 0;
    background-color: #fff;
    border: solid 1px #ced0da;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 8;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    box-sizing: border-box;
    // Approximately the height of the box
    max-height: 160px;
    .common-accordion-animation;
    .common-select-option{
      height: 37px;
      line-height: 37px;
      min-width: 243px;
      font-size: 14px;
      font-weight: 600;
      padding: 0 20px;
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      .ellipsized;
      border-bottom: 1px solid #ced0da;
      &:last-child{
        border-bottom: none;
      }
      &:hover{
        color: #29b575;
        background-color: #f1f4f8;
      }
    }
  }
}

.common-field-title{
  font-size: 12px;
  font-weight: bold;
  color: #7f8fa4;
  opacity: .5;
  margin-top: 30px;
  margin-bottom: 10px;
}

.common-btns-bar{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.common-btn-positive,
.common-btn-negative{
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  height: 36px;
  line-height: 36px;
  width: 150px;
  cursor: pointer;
}

.common-btn-positive{
  background-image: linear-gradient(to top, #259d71, #2bbf88);
}

.common-btn-negative{
  background-image: linear-gradient(to bottom, #a80000, #cf1010);
}

.common-accordion-animation{
  &.ng-hide{
    max-height: 0;
    overflow: hidden;
  }
  &.ng-hide-add{
    webkit-transition: max-height ease-in 0.2s; 
    -moz-transition: max-height ease-in 0.2s; 
    -ms-transition: max-height ease-in 0.2s; 
    -o-transition: max-height ease-in 0.2s; 
    transition: max-height ease-in 0.2s; 
  }
  &.ng-hide-remove{
    webkit-transition: max-height ease-out 0.3s; 
    -moz-transition: max-height ease-out 0.3s; 
    -ms-transition: max-height ease-out 0.3s; 
    -o-transition: max-height ease-out 0.3s; 
    transition: max-height ease-out 0.3s;  
  }
}