// CHECKBOX
// CHECKBOX
// CHECKBOX
/* Base for label styling */
.custom-checkbox[type="checkbox"]:not(:checked),
.custom-checkbox[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.custom-checkbox[type="checkbox"]:not(:checked) + label,
.custom-checkbox[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: @avenir;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #354052;
}

/* checkbox aspect */
.custom-checkbox[type="checkbox"]:not(:checked) + label:before,
.custom-checkbox[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0; 
  width: 16px; 
  height: 16px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
.custom-checkbox[type="checkbox"]:checked + label:before {
  border: none;
  background-image: linear-gradient(to top, #259d71, #2bbf88);
}
/* checked mark aspect */
.custom-checkbox[type="checkbox"]:not(:checked) + label:after,
.custom-checkbox[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 10px;
  font-weight: normal;
  line-height: 0.8;
  color: #fff;
  transition: all .2s;
}
/* checked mark aspect changes */
.custom-checkbox[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.custom-checkbox[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
/* disabled checkbox */
/* disabled checkbox */

// GRAY DISABLED
// .custom-checkbox[type="checkbox"]:disabled:not(:checked) + label:before,
// .custom-checkbox[type="checkbox"]:disabled:checked + label:before {
//   box-shadow: none;
//   border-color: #bbb;
//   background-color: #ddd;
// }
// .custom-checkbox[type="checkbox"]:disabled:checked + label:after {
//   color: #999;
// }
// .custom-checkbox[type="checkbox"]:disabled + label {
//   color: #aaa;
// }

// GREEN DISABLED
.custom-checkbox[type="checkbox"]:disabled:not(:checked) + label:before{
  border: 1px solid #ccc;
  background: #fff;
}
.custom-checkbox[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border: none;
  background-image: linear-gradient(to top, #259d71, #2bbf88);
}
.custom-checkbox[type="checkbox"]:disabled:checked + label:after {
  color: #fff;
}
.custom-checkbox[type="checkbox"]:disabled + label {
  color: #354052;
  cursor: default;
  font-weight: normal;
}

/* hover style just for information */
.custom-checkbox[type="checkbox"]label:hover:before {
  border: 1px solid #4778d9 !important;
}

// RADIO
// RADIO
// RADIO
.custom-radio[type="radio"] {
  display:none;
}
.custom-radio[type="radio"] + label {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: @avenir;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #354052;
  position: relative;
}
.custom-radio[type="radio"] + label span {
  display:inline-block;
  width:16px;
  height:16px;
  margin:-1px 10px 0 0;
  vertical-align:middle;
  cursor:pointer;
  -moz-border-radius:  50%;
  border-radius:  50%;
}
.custom-radio[type="radio"] + label span {
  background-image: linear-gradient(to top, #f2f4f8, #feffff);
  border: solid 1px #ced0da;
}

.custom-radio[type="radio"]:checked + label span{
  background-image: linear-gradient(to bottom, #2ea77a, #32a279);
  border: solid 1px #27aa11;
}

.custom-radio[type="radio"] + label span,
.custom-radio[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

/* checked mark aspect */
.custom-radio[type="radio"]:not(:checked) + label span:after,
.custom-radio[type="radio"]:checked + label span:after {
  content: '\2022';
  position: absolute;
  top: 1px;
  left: 4px;
  font-size: 20px;
  line-height: 0.8;
  color: #fff;
  transition: all .2s;
}
/* checked mark aspect changes */
.custom-radio[type="radio"]:not(:checked) + label span:after {
  opacity: 0;
  transform: scale(0);
}
.custom-radio[type="radio"]:checked + label span:after {
  opacity: 1;
  transform: scale(1);
}

// SELECTIZE
// SELECTIZE
// SELECTIZE
.custom-selectize{
  font-size: 14px !important;
  font-weight: bold !important;
  color: rgba(53, 64, 82, 0.5) !important;
  .selectize-input{
    height: 36px;
    border-radius: 4px;
    background-image: linear-gradient(to top, #f2f4f7, #ffffff) !important;
    border-color: #ced0da !important;
  }
  .item{
    color: rgba(53, 64, 82, 0.5) !important;
    font-size: 14px !important;
  }
  input{
    .placeholder({ font-size: 13px !important; font-weight: bold !important; color: rgba(53, 64, 82, 0.5) !important; });
  }
}


// MEDIUM EDITOR
// MEDIUM EDITOR
// MEDIUM EDITOR
.custom-medium-editor{
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dfe3e9;
  min-height: 150px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  color: rgba(53, 64, 82, 0.5);
  display: block;
  padding: 0px 13px;
  box-sizing: border-box;
}

// MD-DATEPICKER
// MD-DATEPICKER
// MD-DATEPICKER
.custom-md-datepicker{
  .md-datepicker-triangle-button.md-button.md-icon-button,
  .md-datepicker-button{
    display: none !important;
  }
  .md-icon-button+.md-datepicker-input-container {
    margin-left: 0px;
    border: none;
  }
  .md-datepicker-input {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #dfe3e9;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    color: #354052;
    padding: 0px 13px;
    font-family: @avenir;
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    width: 150px;
    .placeholder({ color: #a1a7af; });
  }
}

// TOASTR
// TOASTR
// TOASTR
#toast-container{
  .toast{
    width: 520px;
    border-radius: 4px;
    font-family: @avenir;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 10px 10px 10px 39px;
    box-shadow: 0px 0px 8px #999 !important;
    background-position: 11px center, center;
  }
  &>.toast-success{
    background-image: url('/img/success.png'), linear-gradient(to top, #088456, #079560) !important;
  }
  &>.toast-info{
    background-image: url('/img/info.png'), linear-gradient(to top, #e1e4e9, #f3f7fa) !important;
    color: #252e3e;
  }
  &>.toast-error{
    background-image: url('/img/error.png'), linear-gradient(to top, #f5515f, #9f031b) !important;
  }
}

// MD-TOOLTIP
// MD-TOOLTIP
// MD-TOOLTIP
.md-tooltip{
  font-size: 14px;
  font-weight: bold;
  background-color: #313d4f !important;
  padding: 10px 15px;
  &.md-show{
    opacity: 1 !important;
  }
}