.dashboard {

  .topten{
    md-list {
      padding-top: 0;
    }
   md-toolbar {
     background-color: @dark-grey;
     color: @light-grey;
   }
  }
  .leadgen {
    margin-top: 20px;
    background: @med-grey;
    color: white;
    width: 38%;
    text-align: left;

    &:hover {
      background-color: @darkest-grey;
      color: white;
    }
    img {
      top: 12px;
      position: absolute;
      left: 13px;
      max-height: 35px;
    }
    .number {
      font-size: 30px;
      line-height: 60px;
      left: 65px;
      position: inherit;
      text-transform: initial;
    }
  }


}
