.main-content {
  padding-top: 0;
  position: relative;

  @media @large-up {
    &.top-menu-shown {
      top: @topnavheight;
    }

    &.main-menu-shown {
      top: @mainnavheight;
    }

    &.main-menu-shown.top-menu-shown {
      top: @topnavheight + @mainnavheight;
    }

    &.cardkit-menu-shown {
      top: @cardkitnavheight;
    }
  }
}

.clearfix-container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.hide-xs{
  @media @small-only {
    display: none !important;
  }
}
.show-xs{
  display: none !important;
  @media @small-only {
    display: block !important;
  }
}

div.custom-btn{
  color: #fff;
  background-color: @green;
  cursor: pointer;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  &:hover{
    background-color: darken(@green, 10%);
  }
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
}

.spinner-container{
  margin: 30px auto;
  text-align: center;
  .fa{
    color: @grey-dark-text;
  }
}

.align-center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  &[disabled] {
    .md-button, button {
      pointer-events: none;
      background: @med-grey !important;
      color: @white !important;
    }
  }

  &.nomargin {
    border: none;
    margin: 0;
    padding: 0;
  }
}

md-input-container {
  ng-messages, [ng-messages] {
    display: none;
  }

  &.md-input-invalid {
    ng-messages, [ng-messages] {
      display: block;
    }
  }
}

form.ng-pristine {
  ng-messages, [ng-messages] {
    display: none !important;
  }
}

#loading-bar {
  .bar {
    background: @sellrgreen;
    height: 5px;
  }
}

#loading-bar-spinner {
  background: rgba(0,0,0,0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 95;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;

  @loading-size: 96px;
  .spinner-icon {
    border-left-color: @sellrgreen;
    border-top-color: @sellrgreen;
    border-width: 5px;
    height: @loading-size;
    left: 50%;
    margin-left: -@loading-size / 2;
    margin-top: -@loading-size / 2;
    position: fixed;
    top: 50%;
    width: @loading-size;
  }
}

body.loading .main-content {
  pointer-events: none;
}

// Adds an ellipses at the end of overflowing strings
.ellipsized() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
