html, body{
  overflow-y: auto !important;
}

body {
  background: @back-default;
  height: auto;
  font-size: 15px;

  .content {
    position: absolute;
    width: 100vw;

    .titlebar {
      background: @dark-grey;
      padding: 20px 30px;

      h1 {
        margin: 0 auto;
        color: white;
        max-width: @globalwidth;

      }
    }
    .pagecontent {
      margin: 2vh auto 0;
      max-width: @globalwidth;
      padding: 0 @globalhpad;
      padding-bottom: 5vh;
    }
  }

  a {
    color: @sellrgreen;
    text-decoration: none;
    &:hover {
      color: @darkest-grey;
    }
  }

  md-list .md-subheader {
    font-size: 24px;
  }

  button,
  .md-button,
  input,
  [ng-click] {
    &:focus {
      outline: none; /* overrides chrome default focus outline */
    }
  }
}

.main-content {
  padding-top: 0;
  position: relative;
}

@media @large-up {
  .top-main-content;

  .main-content.cardkit-menu-shown {
    top: @cardkitnavheight;
  }
}

.top-main-content(@padding: 0) {
  .main-content.top-menu-shown & {
    top: @topnavheight + @padding;
  }

  .main-content.main-menu-shown & {
    top: @mainnavheight + @padding;
  }

  .main-content.top-menu-shown.main-menu-shown & {
    top: @topnavheight + @mainnavheight + @padding;
  }
}

.clearfix-container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.hide-xs{
  @media @small-only {
    display: none !important;
  }
}
.show-xs{
  display: none !important;
  @media @small-only {
    display: block !important;
  }
}

div.custom-btn{
  color: #fff;
  background-color: @green;
  cursor: pointer;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  &:hover{
    background-color: darken(@green, 10%);
  }
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
}

.spinner-container{
  margin: 30px auto;
  text-align: center;
  .fa{
    color: @grey-dark-text;
  }
}

.align-center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  &[disabled] {
    .md-button, button {
      pointer-events: none;
      background: @med-grey !important;
      color: @white !important;
    }
  }

  &.nomargin {
    border: none;
    margin: 0;
    padding: 0;
  }
}

md-input-container {
  ng-messages, [ng-messages] {
    display: none;
  }

  &.md-input-invalid {
    ng-messages, [ng-messages] {
      display: block;
    }
  }
}

form.ng-pristine {
  ng-messages, [ng-messages] {
    display: none;
  }
}

#loading-bar {
  .bar {
    background: @sellrgreen;
    height: 5px;
  }
}

#loading-bar-spinner {
  background: rgba(0,0,0,0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 95;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;

  @loading-size: 96px;
  .spinner-icon {
    border-left-color: @sellrgreen;
    border-top-color: @sellrgreen;
    border-width: 5px;
    height: @loading-size;
    left: 50%;
    margin-left: -@loading-size / 2;
    margin-top: -@loading-size / 2;
    position: fixed;
    top: 50%;
    width: @loading-size;
  }
}

body.loading .main-content {
  pointer-events: none;
}

.md-dialog-container {
  z-index: 100;
}

.table {
  .t-body,
  .t-header{
    border-bottom: 1px solid  @grey-dark-text;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: @grey-dark-text;
    font-size: 16px;
    div{
      padding: 0px 3px;
      line-height: 20px;
      @media @small-only {
        word-wrap: break-word;
      }
      md-checkbox{
        margin: 0 auto;
      }

      .fa-sort-asc,
      .fa-sort-desc{
        cursor: pointer;
      }
    }
  }
  .t-header{
    font-weight: bold;

    div{
      cursor: pointer;
    }
  }
  .t-body{
    outline: none;
    margin-bottom: 0px;
    padding-bottom: 15px;
    border-bottom: none;
    color: @black-text;

    .highlighted {
      background: @bright-blue;
    }

    & > div{
      overflow-wrap: break-word;
      &.grey-text          {
        color: @grey-dark-text;
      }
      &.product-name{
        cursor: pointer;
      }
      .fa-check{
        color: @green;
      }
      .fa-times{
        color: @red;
      }
    }
  }
}

.btn-facebook{
  height: 54px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #3b5998;
  margin: 0;
  padding: 0;
  font-family: @avenir;
  font-size: 20px;
  .social-icon{
    margin-right: 20px;
  }
}