
.sign-in {
  @media @medium-up {
    background-image: url(@home_bg);
    background-size: cover;
    background-position: center;
  }
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-repeat: no-repeat;


  .shading {
    width: 100vw;
    min-height: 100vh;
    top: 0;
    position: absolute;
    @media @medium-up {
      background: rgba(0,0,0,.3);
      background: -moz-linear-gradient(45deg, @gradient-top  @gradient-start, @gradient-bottom @gradient-stop);
      background: -webkit-linear-gradient(45deg, @gradient-top @gradient-start,  @gradient-bottom @gradient-stop);
      background: linear-gradient(45deg, @gradient-top @gradient-start,  @gradient-bottom @gradient-stop);
    }
  }

  #login-form,
  #reset-form {
    max-width: 580px;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    @media @small-only {
      margin-top: 0vh;
    }

    .alt-actions  {
      margin-top: 2vh;
      font-size: 13px;
      color: #efefef;
      @media @small-only {
        color: #4b4e53;
        padding: 0px 20px 20px 20px;
      }
      a {
        color: @brand-primary;
        font-weight: bold;
        cursor: pointer;
        transition: all .5s;

        &:hover {
          color: white;
          transition: all .5s;
        }

      }

    }
    form {
      background: white;
      padding: 50px 100px;
      @media @small-only {
        padding: 50px 20px;
      }
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      border-color: #333;
    }

    .logo {
      margin: 1vh auto 4vh auto;
      display: block;
      background-image: url( @logo );
      background-size: contain;
      min-height: 130px;
      max-height: 15vh;
      background-position: center;
      background-repeat-x: no-repeat;
      background-repeat: no-repeat;
    }

    input[type=text] {
      height: 42px;
      border-radius: 0px;
      font-weight: 200;
      font-size: 19px;
      max-width: 100%;
      margin: 10px auto;
    }

    input[type=password] {
      height: 42px;
      border-radius: 0px;
      font-weight: 200;
      font-size: 19px;
      max-width: 100%;
      margin: 10px auto;
    }

    input[type=username] {
      width: 0;
      height: 0;
      padding: 0;
      opacity: 0;
      margin-bottom: -5px;
    }

    label {
      display: inline-block;
    }

    input[type=password]:focus {
      background-color: @white;
    }

    input[type=text]:focus {
      background-color: @white;
    }

    input[type=checkbox] {
      margin-left: 5px;
    }

    .action {
      background-color: @brand-primary;
      color: white;
      max-width: 100%;
      font-weight: 800;
      text-transform: uppercase;
      padding: 10px;
      margin: 30px 0 30px;

      &:hover {
        background-color: @brand-dark;
        color: @brand-light;
      }
    }

    #remember {
      margin-right: 8px;
      margin-left: 32px;
    }
  }
  
  #signupForm {
    input[type=text],
    input[type=password] {
      margin: 0 auto !important;
    }

    .payment.md-button {
      margin: 10px 0;
      width: 100%;
    }
  }
  .reset-form{
    @media @small-only {
      box-shadow: none; 
    }
    .error-text{
      font-size: 12px;
      color: red;
    }
    .requirements{
      color:white; 
      white-space:nowrap;
    }
  }

  @media (max-width: 767px) {
    form#login-form {
      img {
        margin-top: 0;
      }
    }
  }
}
