.orders-view{
  padding: 10vh 15vw;
  .orders-stats,
  .orders-column{
    padding: 0 1vw;
  }
  .orders-column{
    .orders-title{
      color: @sellrdark;
      font-family: @brandon;
      padding-bottom: 0.5vh;
      border-bottom: 1px solid @sellrdark;      
      .title,
      .today-count{
        float: left;
      }
      .title{
        font-size: 42px;
      }
      .today-count{
       font-size: 24px;
       width: 30px;
       height: 30px;
       border-radius: 100%;
       line-height: 30px;
       text-align: center;
       background-color: @red;
       color: #fff;
     }
     .right-action{
      text-align: right;
      font-size: 22px;
    }
  }
}
}