.productEditor {
  margin-top: 6vw;
  height: 100vh;
  width: 100vw;
  .stats {
    text-align: center;
    background: #111921;
    width: 100vw;
    display: table;
    color: white;

    -webkit-box-shadow: inset 0px 0px 30px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 30px 5px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 30px 5px rgba(0, 0, 0, 1);
  }
  .stats h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
  }
  .stats span {
    font-size: 14px;
    padding-bottom: 25px;
    display: block;
  }
  .stats a:hover {
    text-decoration: none;

  }
  .stats .grey a {
    color: #888;
  }
  .stats .orange a {
    color: #E67E22;
  }
  .stats .white a {
    color: #fff;
  }
  .stats .green a {
    color: #3CD669;
  }
  .stats .active {
    background: rgba(255, 255, 255, .22);
    color: #111921;
  }
  .reference {
    max-width: 33%;

  }

  .sidebar-entry {
    margin-bottom: 30px;
  }
  .sidebar-entry a {
    color: #333;

  }

  #sidebar-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 900;
  }

  #last-edited {
    font-size: 12px;
  }

  label {
    opacity: .7;
  }

  #note {
    position: fixed;
    z-index: 101;
    top: 0px;
    color: white;
    right: 0px;
    left: 0px;
    height: 55px;
    font-size: 19px;
    opacity: 0.85;
    width: 100vw;
    background: #00AB51;
    text-align: center;
    line-height: 2.7;
    overflow: hidden;
    display: none;
    transition: display .3s;
    animation: note 0.5s 1;
    -webkit-animation: note 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay: 4s;
    -webkit-animation-delay: 4s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
  }

  @keyframes note {
    from {
      opacity: .85;
    }
    to {
      opacity: 0;
    }
  }

  @-webkit-keyframes note {
    from {
      opacity: .85;
    }
    to {
      opacity: 0;
    }
  }
  .list {
    height: 75vh;

  }

}
