.productEditor {
  margin-top:  @navheight + @subnavheight;

  .stats {
    text-align: center;
    background: @brand-dark;
    width: 100vw;
    z-index: 50;
    min-height: @subnavheight;
    color: white;
    position: fixed;
    top: @navheight;
    -webkit-box-shadow: inset 0px 0px 30px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 30px 5px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 30px 5px rgba(0, 0, 0, 1);
    #searchStore {
      margin-top: 10%;
      width: 160px;
    }
    .status {
      &:hover {
        cursor: pointer;
        background: rgba(137, 137, 137, 0.89);
        transition: all .5s ease;
      }
      &:focus {
        outline: 0;
      }

      &.active {
        background: white;
        color: @sellrgreen;
      }
    }
    .btn-group {
      top: 33px;
    }
    h1 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 0px;
    }
    span {
      font-size: 14px;
      padding-bottom: 25px;
      font-weight: bold;
      display: block;
    }
    a:hover {
      text-decoration: none;

    }
    .grey a {
      color: #888;
    }
    .orange a {
      color: #E67E22;
    }
    &:nth-child(1) a {
      color: #fff;
    }
    &:nth-child(3) a {
      color: #3CD669;
    }

    md-progress-circular {
      margin:0 auto;
    }

    .progressCirculardemoBasicUsage .visible {
      border-color: @sellrgreen }

  }

  .productContent {

  }

  .reference {
    max-width: 33%;

  }

  .sidebar-entry {
    margin-bottom: 30px;
  }
  .sidebar-entry a {
    color: #333;

  }

  #sidebar-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 900;
  }

  #last-edited {
    font-size: 12px;
  }

  label {
    opacity: .7;
  }

  #note {
    position: fixed;
    z-index: 101;
    top: 0px;
    color: white;
    right: 0px;
    left: 0px;
    height: 55px;
    font-size: 19px;
    opacity: 0.85;
    width: 100vw;
    background: #00AB51;
    text-align: center;
    line-height: 2.7;
    overflow: hidden;
    display: none;
    transition: display .3s;
    animation: note 0.5s 1;
    -webkit-animation: note 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay: 4s;
    -webkit-animation-delay: 4s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
  }

  @keyframes note {
    from {
      opacity: .85;
    }
    to {
      opacity: 0;
    }
  }

  @-webkit-keyframes note {
    from {
      opacity: .85;
    }
    to {
      opacity: 0;
    }
  }
  .list {
    padding: 5vh 0 0 5vw ;
    height: 80vh;
    overflow-y: scroll;
    background: #f5f5f5;

    .btn-primary {
      background: @sellrgreen;
    }

  }
  .loading-anim {
    //margin-left: 40%;
    //width: 100%;
    @-webkit-keyframes uil-ripple {
      0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
      }
      33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
      }
      100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
      }
    }
    @-webkit-keyframes uil-ripple {
      0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
      }
      33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
      }
      100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
      }
    }
    @-moz-keyframes uil-ripple {
      0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
      }
      33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
      }
      100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
      }
    }
    @-ms-keyframes uil-ripple {
      0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
      }
      33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
      }
      100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
      }
    }
    @-moz-keyframes uil-ripple {
      0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
      }
      33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
      }
      100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
      }
    }
    @-webkit-keyframes uil-ripple {
      0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
      }
      33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
      }
      100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
      }
    }
    @-o-keyframes uil-ripple {
      0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
      }
      33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
      }
      100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
      }
    }
    @keyframes uil-ripple {
      0% {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0 0 0 0;
      }
      33% {
        width: 44%;
        height: 44%;
        margin: -22% 0 0 -22%;
        opacity: 1;
      }
      100% {
        width: 88%;
        height: 88%;
        margin: -44% 0 0 -44%;
        opacity: 0;
      }
    }
    .uil-ripple-css {
      background: none;
      position: relative;
      width: 200px;
      height: 200px;
    }
    .uil-ripple-css div {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      width: 0;
      height: 0;
      opacity: 0;
      border-radius: 50%;
      border-width: 12px;
      border-style: solid;
      -ms-animation: uil-ripple 2s ease-out 5;
      -moz-animation: uil-ripple 2s ease-out 5;
      -webkit-animation: uil-ripple 2s ease-out 5;
      -o-animation: uil-ripple 2s ease-out 5;
      animation: uil-ripple 2s ease-out 5;
    }
    .uil-ripple-css div:nth-of-type(1) {
      border-color: #2dc89a;
    }
    .uil-ripple-css div:nth-of-type(2) {
      border-color: #142332;
      -ms-animation-delay: 1s;
      -moz-animation-delay: 1s;
      -webkit-animation-delay: 1s;
      -o-animation-delay: 1s;
      animation-delay: 1s;
    }
  }

  medium-editor, [medium-editor] {
    height: auto;
    min-height: 150px;

    a {
      cursor: pointer;
      pointer-events: none;
    }

    .medium-insert-buttons {
      display: none;
      margin-left: -55px;

      a {
        pointer-events: auto;
      }
    }

    img { pointer-events: none; }

    .image.uploading {
      position: relative;
      vertical-align: top;

      img {
        opacity: 0.3;
      }

      .progress {
        background: transparent;
        box-shadow: none;
        color: darkgrey;
        font-size: 16pt;
        height: 30px;
        left: 10px;
        position: absolute;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        top: 5px;
        width: 200px;
      }
    }
  }

  .feedback.alert {
    background-color: @alert-info;
    border: none;
    color: @white;
  }
}

body.editor-products-detail {
  .medium-editor-toolbar {
    margin-top: -(@navheight + @subnavheight);
  }
}
