.settings-container {
  @padding: 30px;
  @menu-width: 220px;

  &, a, textarea, input, .md-input {
    color: #555;
  }

  h1 {
    color: @green;
    font-weight: bold;
    font-size: 12pt;
    padding: 8px 0;
    margin: 0;
  }

  .header-bar {
    background: #eeeeee;
    padding: 0 35px;

    .md-toolbar-tools {
      padding: 0;
    }
  }

  .md-button {
    border-radius: 0;

    &.green {
      background: @green !important;
      color: @white;

      &[disabled] {
        background-color: @light-grey !important;
      }
    }
  }

  textarea.block {
    border: 1px solid @light-grey;
    height: auto !important;
    background: none;
    margin-top: 5px;
    padding: 10px;
    width: 96%;

    &:focus {
      border-color: @med-grey;
      outline: none;
    }
  }

  .settings-view {
    padding: @padding;

    &:before {
      content: '';
      width: @menu-width;
    }
  }

  .account-menu {
    position: fixed !important;
    left: @padding;
    top: @topnavheight + @padding;
    padding: 0 10px;
    width: @menu-width;

    .main-content.main-menu-shown & {
      top: @topnavheight + @mainnavheight + @padding;
    }

    md-sidenav {
      background: @back-default;
      padding: 16px 24px;
      width: auto;

      > * {
        padding: 8px 0;
      }

      md-divider {
        margin: 12px 0;
        padding: 0;
      }
    }

    a {
      cursor: pointer;

      &.active {
        font-weight: bold;
        color: @darkest-grey;
      }
    }
  }

  .view-container {
    margin-left: 30px;
    max-width: 70vw;
    padding: 0;
  }

  .view {
    padding: 10px 35px;

    md-input-container,
    .input-container {
      padding: 2px 0;

      label {
        font-weight: bold;
        color: @dark-grey;
      }
    }
  }

  .my-profile,
  .change-password {
    fieldset {
      max-width: 350px;
      margin-top: 30px;
    }

    .md-button {
      margin-left: 0;
    }
  }

  .change-password {
    margin-bottom: 30px;
  }

  .store-profile {
    background-color: @back-default;
    z-index: 1;

    .chars-counter {
      color: @med-grey;
      font-size: 8pt;
      text-align: right;
    }

    .upload {
      margin: 15px 0;
      padding: 6px 20px;
    }

    .store-image {
      display: block;
      margin: 10px 0 20px;
      max-height: 100px;
    }

    table {
      width: 100%;

      thead {
        color: @dark-grey;
        font-weight: bold;
        margin-bottom: 10px;
        td { padding-bottom: 10px; }
      }

      tbody {
        td { vertical-align: top; }
      }
    }

    table.work-schedule {
      margin-top: 20px;

      td.divider {
        width: 10%;
      }

      input[type="time"] {
        min-width: 110px;
      }

      md-switch,
      md-input-container {
        margin: 0;
      }

      md-switch {
        .md-thumb {
          background-color: @light-grey;
          box-shadow: none !important;
        }

        &.md-checked {
          .md-thumb {
            background-color: @green;
          }

          .md-bar {
            background-color: lighten(@green, 30%);
          }
        }
      }

      .md-errors-spacer {
        display: none;
      }
    }
  }

  .shoppr-listing-preview {
    height: 140%;
    left: 65%;
    overflow-y: auto;
    padding: 0 30px;
    position: fixed;
    text-align: center;
    top: @topnavheight + @padding;
    transform-origin: 0 0;
    transform: scale(0.6);

    .iphone {
      max-width: 200px;
      max-height: 450px;
      object-fit: contain;
    }

    * {
      font-size: 17pt;
    }

    h3 {
      color: @darkest-grey;
      margin: 20px 0 7px 0;
    }
  }
}
