//
// OLD HOME
//
.common-sub-nav-bar{
  font-size: 14px;
  font-weight: bold;
  color: #848c98;
  .step{
    margin-left: 15px;
  }
}

// 
// TOP BAR
// 
.store-owner-home-view,
.store-owner-reports-view {
  .top-bar{
    background-color: #fff;
    height: 60px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    .date-filter{
      width: 60%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      .fa-minus{
        margin-right: 15px;
        color: #7383a1;
        font-size: 10px;
      }
      .common-btn-gray{
        margin-right: 15px;
        &:last-child{
          margin-right:0px;
        }
        &.active{
          background-image: linear-gradient(to bottom, #2ea77a, #32a279);
          border-color: #2bbf88;
          color: #fff;
        }
      }
    }
  }
}
.store-owner-OLD-home-view {
  text-align: center;
  padding: 4vh 10vw 10vh 10vw;
  box-sizing: border-box;
  color: #354052;
  .welcome-text{
    font-size: 22px;
    font-weight: bold;
  }
  .welcome-sub-text{
    font-size: 18px;
    color: #7f8fa4;
    margin-top: 15px;
  }
  .top-white-boxes,
  .bottom-white-boxes{
  }
}

// 
// HOME VIEW
// 
.store-owner-home-view {
  .has-mobile-view;
  .main-content{
    padding: 30px 3vw 10vh 3vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    .main-left-column{
      width: 25%;
      .top-products{
        padding: 25px 0 0 0;
        .top-product{
          border-top: 1px solid #dfe2e5;
          padding: 15px 15px 15px 30px;
          font-size: 14px;
          color: #354052;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          .name{
            .ellipsized;
            margin-right: 10px;
          }
          .view-prod{
            color: #29b575;
          }
          &:hover{
            background-color: #fafbfc;
          }
        }
      }
      
    }
    .main-right-column{
      width: 73%;
      .top-stats{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
        .common-white-box{
          width: 23%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          padding: 25px 15px 25px 30px;
          .icon-container{
            margin-right: 15px;
            width: 60px;
            height: 60px;
            img{
              width: 60px;
              height: 60px;
            }
          }
          .info-container{
            .number{
              font-size: 28px;
              line-height: 28px;
              color: #354052;
            }
            .indicator{
              font-size: 12px;
              font-weight: bold;
              vertical-align: super;
              color: #2bbf88;
              &.negative{
                color: #c10101;
              }
            }
            .text{
              font-size: 12px;
              font-weight: bold;
              color: #7f8fa4;
              text-transform: uppercase;
              margin-top: 5px;
              text-transform: uppercase;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
// 
// HOME MOBILE
// 
.store-owner-home-view-mobile{
  .is-mobile-view;
  .main-container{
    .tab-filter{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      height: 44px;
      .tab{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 33.33%;
        font-size: 13px;
        &.active{
          border-bottom: 2px solid #2bbf88;
        }
      }
    }
    .month-filter{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      height: 44px;
      background-color: #f8f8f8;
      .arrow-left,
      .arrow-right{
        width: 10%;  
        box-sizing: border-box;   
        color: #b8b8b8;  
        font-size: 20px;
      }
      .arrow-left{
        padding-left: 10px;
      }
      .arrow-right{
        text-align: right;
        padding-right: 10px;
      }
      .month{
        width: 80%;  
        text-align: center;
        font-size: 20px;     
      }
    }
    .square-indicators{
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      .subscribers-square,
      .facebook-square,
      .twitter-square,
      .website-square{
        width: 50%;
        height: 100px;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        color: #fff;
        .icon{
          position: absolute;
          bottom: 7px;
          left: 7px;
          width: 30px;
          height: 30px;
        }
        .title{
          font-size: 12px;
          text-transform: uppercase;
        }
        .indicators{
          font-size: 44px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          .percentage{
            font-size: 14px;
            margin-left: 8px;
          }
        }
      }
      .subscribers-square{
        background-color: #313d4f;
        border-right: 1px solid #dfe3e9;
      }
      .facebook-square{
        background-color: #3b5998;
      }
      .twitter-square{
        background-color: #2daae1;
      }
      .website-square{
        background-color: #2bbf88;
        border-right: 1px solid #dfe3e9;
      }
    }
    .info-box{
      border-top: 1px solid #dfe3e9;
      border-bottom: 1px solid #dfe3e9;
      padding-bottom: 20px;
      .title{
        font-size: 18px;
        text-align: center;
        margin: 20px auto;
      }
    }
    .top-products-list{
      padding: 0 15px;
      .item{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 7px 0;
        .clicks{
          color: #2bbf88;
        }
      }

    }
  }
}


//
// MARKETING CHANNELS
//
.store-owner-marketing-channels-view {
  background-color: #eff3f6;
  padding: 4vh 10vw 0px 10vw;
  color: #354052;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  .left-column,
  .right-column{
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #e6eaee;
  }
}

// 
// PROMOTED PRODUCTS
// 
.store-owner-promoted-products-view {
  padding: 0 3vw;
  .main-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    color: #354052;
    max-height: 75vh;
    min-height: 75vh;
    overflow: auto;
    padding-bottom: 2vw;
    box-sizing: border-box;
    .promoted-box{
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px #e6eaee;
      padding: 10px 15px 0px 15px;
      margin-left: 1vw;
      margin-right: 1vw;
      margin-top: 2vw;
      box-sizing: border-box;
      width: 300px;
      &.active{
        border-color: #354052;
      }
      &.add{
        color: #fff;
        background-color: #ccd3da;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        min-height: 260px;
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        .fa{
          font-size: 34px;
          margin-bottom: 15px;
        }
      }
      .image-container{
        width: 100%;
        height: 100px;
        border-radius: 4px;
        background-color: #f8f9fb;
        margin-bottom:25px;
      }
      .name{
        font-weight: bold;
        width: 100%;
        line-height: 20px;
        font-size: 16px;
        height: 40px;
        overflow: hidden;
        margin-bottom:10px;
      }
      .aux-text{
        font-size: 12px;
        color: #7f8fa4;
        width: 100%;
        margin-bottom:15px;
      }
      .icons-container{
        margin-bottom: 20px;
        .tooltip-container{
          height: 0px;
          max-height: 0px;
          width: 100%;
        }
        .icons{
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          .icon{
            width: 30px;
            height: 30px;
            margin-right: 7px;
            &:last-child{
              margin-right: 0px;
            }
            &.add{
              background-color: #7F8FA4;
              border-radius: 30px;
              line-height: 30px;
              text-align: center;
              color: #fff;
              .fa{
                font-size: 14px;
              }
            }
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .btns-container{
        text-align: center;
        width: 100%;
        height: 36px;
        margin-bottom: 15px;
        .common-btn-gray{
          margin: 0 auto;
        }
      }
    }
  }
}

// 
// LISTED PRODUCTS
// 
.store-owner-listed-products-view {
  .has-mobile-view;
  .common-view-layout;
  .left-side-content{
    .main-table-header,
    .main-table{
      .columns-header,
      .columns-data{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        .check-col{
          width: 5%;
          padding-right: 1%;
          text-align: center;         
        }   
        .name-col{
          width: 20%;
          padding-right: 1%;         
        } 
        // .promoted-col{
        //   width: 9%;
        //   padding-right: 1%;
        //   text-align: center;
        // } 
        .category-col{
          width: 17%;
          padding-right: 1%;
          .ellipsized;
        } 
        .sku-col{
          width: 11%;
          padding-right: 1%;
          .ellipsized;

        } 
        .size-col{
          width: 11%;
          padding-right: 1%;
          .ellipsized;
        }
        .price-col{
          width: 9%;
          padding-right: 1%;
          .ellipsized;
        }
        .sale-col{
          width: 9%;
          padding-right: 1%;
          .ellipsized;
        }
        .type-col{
          width: 11%;
          .ellipsized;
        }
      }
    }
    .main-table-header{
      .filter-header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        .left-filter{
          width: 69%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          .store-filter-container,
          .plan-filter-container{
            margin-right: 10px;
            height: 36px;
            min-width: 200px;
          }
        }
        .right-filter{
          width: 29%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          align-items: center;
          .common-btn-gray{
            margin-right: 10px;
          }
        }
      }
      .columns-header{
        color: #7f8fa4;
        // add 17 for scrolling
        padding: 30px 32px 10px 15px;
        box-sizing: border-box;
        height: 74px;
        .check-col{
          .common-btn-gray,
          .common-btn-positive,
          .common-btn-negative{
            display: none;
            height: 34px;
            line-height: 32px;
            font-size: 12px;
            margin-right: 12px; 
          }
          .selected-count{
            display: none;
            font-size: 12px;
            color: #7f8fa4;
            border-left: 1px solid #dfe3e9;
            padding: 8px 8px 8px 12px;
          }      
          &.productsactionsbar{
            width: 98%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            background: transparent;
            .header-check{
              width: 5%;
              padding-right: 1%;
              text-align: center;
            }
            .common-btn-black,
            .selected-count{
              display: block;
            }
          }
        }
      }
    }
    .main-table{
      max-height: 60vh;
      min-height: 60vh;
      .columns-data{
        padding: 12px 15px;
        font-size: 14px;
        align-items: center;
        border-bottom: 1px solid #dfe2e5;
        &:last-child{
          border-bottom: none;
        }
        &.active{
          background-color: rgba(215,251,232,0.2);
        }
        &:hover{
          background-color: rgba(215,251,232,0.2);
        }
        .name-col{
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          .product-image-container{
            width: 20%;
            .common-product-image{
              height: 36px;
            }
          }
          span{
            width: 79%;
            .ellipsized;
          }
        } 
      }
    }
  }
  .right-side-content{
    .side-panel{
      max-height: 72vh;
      min-height: 72vh;
      overflow: auto;
      .action-btns{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
      }
      .product-image-container{
        margin: 40px auto 30px auto;
        text-align: center;
      }
      .product-title{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        width: 60%;
        margin: auto;
      }
      .product-description{
        font-size: 14px;
      }
      .size-container{
        width: 50%;
        margin: auto;
        .sub-title{
          font-size: 14px;
          font-weight: bold;
          color: #7f8fa4;
          margin: 20px 0 5px 0;
        }
        .size-selector{
          .custom-size{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            .fa{
              margin-left: 15px;
              cursor: pointer;
              color: @oFive;
              font-size: 20px;
            }
          }
        }
        .error {
          border: solid 1px #d40000;
        } 
        .size-action-btns{
          text-align: center;
          margin: 20px 0;
        }
        .full-width-btn{
          margin: 20px 0;
          width: 100%;
        }
        .price-box{
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          .dollar-sign{
            width: 36px;
            height: 36px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            background-image: linear-gradient(to top, #f2f4f7, #ffffff);
            border: solid 1px #c2d5f1;
            line-height: 36px;
            text-align: center;
            box-sizing: border-box;
            border-right: none;
            &.disabled{
              background-image: linear-gradient(to top, #f8f9fb, #f8f9fb);

            }
          }
          .common-input{
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;

          }
        }
        .set-on-sale-check{
          margin: 20px 0 5px 0;
          font-size: 14px;
          color: #354052;
        }
      }
    }
  }
}
// 
// LISTED PRODUCTS MOBILE
// 
.store-owner-listed-products-view-mobile {
  .is-mobile-view;
  .plan-list{
    .item{
      border-bottom: 1px solid #dfe3e9;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 15px 10px;
      .name{
        font-size: 16px;
      }
      .fa{
        font-size: 24px;
      }
    }
  }
  .product-grid{
    background: #f8f9fb;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .product-card{
      margin: 0.5%;
      display: inline-block;
      position: relative;
      background-color: #fff;
      width: 49%;
      .top-part{
        position:relative;
        min-height: 150px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: #fff;
        padding: 5px 0vh 10px 0vh;
        .price{
          position: absolute;
          top: 8px;
          left: 8px;
          font-family: @avenir;
          font-size: 14px;
          font-weight: bold;
          .sale-price{
            color: #f21e1e;
            line-height: 1em;
          }
        }
        .slot{
          position: absolute;
          top: 0;
          right: 0;
          font-size: 18px;
          min-width: 30px;
          height: 30px;
          line-height: 30px;
          background-color: #f21e1e;
          color: #fff;
          padding: 0 5px;
        }
      }
      .bottom-part{
        font-size: 1.3rem;
        padding: 5px;
        line-height: 18px;
        text-align: left;
        // Override Fix
        justify-content: flex-start;
        font-family: @avenir;
        font-size: 14px;
      }
    }    
  }
  .product-detail{
    background: #f8f9fb;
    padding-bottom: 5px;
    .image-title-container{
      background-color: #FFF;
      padding: 20px 0;
      width: 100%;
      .image-container{
        margin: 0 auto 20px auto;
        text-align: center;
      }
      .title-container{
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        width: 70vw;
      }
    }
    .info-box{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      height: 55px;
      margin: 5px 0 0 0;
      padding: 0 12vw;
      background-color: #FFF;
      font-size: 16px;
      &.as-columns{
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        height: auto;
        padding-top: 16px;
      }
      .product-description{
        font-size: 14px;
      }
      .info-title{
        font-weight: bold;
        color: #000;
      }
      .info-value{
        color: #5e5e5e;
        &.has-selectize{
          height: 34px;
        }
        &.has-input{
          margin-left: 20px;
          width: 100%;
          input{
            width: 100%;
            text-align: right;
          }
        } 
      }
    }
  }
  .right-column{
    width: 69%;
    height: 68vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 144px;
    color: #ebebeb;
  }
}

//
// MARKETING CHANNELS SETTINGS
//
.store-owner-marketing-settings-view {
  background-color: #eff3f6;
  padding: 4vh 10vw 4vh 10vw;
  color: #354052;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  .column{
    box-sizing: border-box;
    width: 48%;
    .white-box{
      padding: 25px 0 0 0;
      width: 100%;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px #e6eaee;
      margin-bottom: 30px;
      &:last-child{
      }
    }

    .sizes-title-box{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      height: 62px;
      margin: 0;
      padding: 0 12vw;
      color: #5e5e5e;
      font-weight: bold;
    }
    .size-info-list{
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: #FFF;
      margin-bottom: 5px;
      &.nomargin{
        margin-bottom: 0px;
      }
      li{
        padding: 0 12vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 45px;
        border-top: 1px solid #efefef;
        position: relative;
        &:first-child{
          border-top: none;
        }        
        .title{
          font-weight: bold;
          color: #000;
          min-width: 80px;
          &.delete{
            color: #d0021b;
          }
          &.set-default{
            color: #2bbf88;
          }
        }
        .value{
          color: #5e5e5e;
          &.li-input{
            color: #142332;
            width: 100%;
            margin-left: 20px;
            input{
              width: 100%;
              color: #142332;
              border: none;
              text-align: right;
            }
            select{
              color: #142332;
              direction: rtl !important;
              option{
                direction: ltr !important;
              }
            }
          }
        }
        &.notonsale{
          .value,
          .title{
            color: #c7c7c7;
            font-weight: normal;
          }
        }
        &.error{
          border-top: 1px solid #f21e1e;
          border-bottom: 1px solid #f21e1e;
          .title{
            color: #f21e1e;
          }
        }  
        .reset-size{
          position: absolute;
          top: 50%;
          right: 5vw;
          margin-top: -10px;
          font-size: 20px;
          color: #142332;
          opacity: 0.8;
        }
      }
    }
    .add-size-btn{
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: 55px;
      margin: 5px 0 0 0;
      background-color: #FFF;
      color: #2bbf88;
      font-weight: bold;
    }
  }
}

//
// MARKETING POSTS
//
.store-owner-marketing-posts-view {
  background-color: #eff3f6;
  padding: 4vh 5vw 0px 5vw;
  color: #354052;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  .email-column,
  .twitter-column,
  .facebook-column,
  .pinterest-column,
  .ads-column{
    width: 17vw;
    .title-container{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      img{
        margin: 0 10px;
      }
      font-size: 16px;
      font-weight: bold;
    }
    .white-column-box{
      border-radius: 4px;
      background-color: #f7f9fb;
      border: solid 1px #e6eaee;
      padding: 10px 10px 0px 10px;
      max-height: 68vh;
      overflow: auto;
      .ad-preview{
        height: 130px;
        background-color: #fff;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: #c3c5d1;
        margin-bottom: 15px;
      }
      .card{
        background-color: #fff;
        padding-bottom: 10px;
        margin-bottom: 15px;
        .post-image-container{
          height: 130px;
          background-color: #e8eaf1;
          width: 100%;
        }
        .title{
          padding: 10px 15px;
          font-size: 14px;
          font-weight: bold;
        }
        .info{
          padding: 5px 15px;
          font-size: 12px;
          color: #7f8fa4;
          .fa{
            margin-right: 5px;
          }
        }
      }
    }
  }
  .email-column{
    .white-column-box{
      border-top: 4px solid #313d4f;
    }
  }
  .twitter-column{
    .white-column-box{
      border-top: 4px solid #1da1f2;
    }
  }
  .facebook-column{
    .white-column-box{
      border-top: 4px solid #3b5998;
    }
  }
  .pinterest-column{
    .white-column-box{
      border-top: 4px solid #cb1f27;
    }
  }
  .ads-column{
    .white-column-box{
      border-top: 4px solid #7f8fa4;
    }
  }
}

//
// AUDIENCE
//
.store-owner-audience-view {
  .common-view-layout;
  padding: 4vh 10vw 10vh 10vw;
  .left-side-content{
    .main-table-header,
    .main-table{
      .columns-header,
      .columns-data{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 40px;
        .email-col{
          width: 34%;
          padding-right: 1%;
        }
        .date-col
        {
          width: 19%;
          padding-right: 1%;
        }
        .campaign-col{
          width: 19%;
          padding-right: 1%;
        }
        .action-col{
          width: 25%;
          text-align: center;
        }
      }
    }
    .main-table-header{
      margin-top: 0px;
      .main-header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        padding: 0px 37px 0 20px;
        .title-container{
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          .title{
            font-size: 24px;
            font-weight: normal;
            padding: 20px 10px 20px 0;
          }
          .separator{
            border-left: 1px solid #dfe3e9;
          }
          .email-count{
            margin-left: 10px;
            font-size: 14px;
            color: #7f8fa4;
          }
        }
        .header-right{
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          .common-input-with-icon{
            margin-right: 20px;
          }
        }
      }
      .columns-header{
        background-color: #f5f8fa;
        border-top: solid 1px #e6eaee;
        color: #7f8fa4;
        .fa{
          margin-left: 10px;
        }
      }
    }
    .main-table{
      .columns-data{
        border-bottom: 1px solid #e6eaee;
        &:last-child{
          border-bottom: none;
        }
        &:hover{
          background-color: rgba(215,251,232,0.2);
        }
        .campaign-col,
        .date-col{
          font-weight: normal;
        }
      }
    }
  }
  .email-column{
    .white-column-box{
      border-top: 4px solid #313d4f;
    }
  }
  .twitter-column{
    .white-column-box{
      border-top: 4px solid #1da1f2;
    }
  }
  .facebook-column{
    .white-column-box{
      border-top: 4px solid #3b5998;
    }
  }
  .pinterest-column{
    .white-column-box{
      border-top: 4px solid #cb1f27;
    }
  }
  .ads-column{
    .white-column-box{
      border-top: 4px solid #7f8fa4;
    }
  }
}

//
// PROMOTED PRODUCTS
//
.store-owner-promoted-products-view {
  padding: 4vh 3vw 0px 3vw;
  .main-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    color: #354052;
    max-height: 75vh;
    min-height: 75vh;
    overflow: auto;
    .promoted-box{
    }
  }
}

// 
// MARKETING CHANNELS SETTINGS
// 
.store-owner-marketing-settings-view {
  background-color: #eff3f6;
  padding: 4vh 10vw 4vh 10vw;
  color: #354052;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  .column{
    box-sizing: border-box;
    width: 48%;
    .white-box{
      padding: 25px 0 0 0;
      width: 100%;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px #e6eaee;
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0px;
      }
      .title{
        box-sizing: border-box;
        padding: 0 25px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .coming-soon-btn{
        width: 100px;
      }
      .list-item{
        box-sizing: border-box;
        padding: 20px 25px;
        border-bottom:  1px solid #e6eaee;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        &.center-aligned{
          align-items: center;
        }
        &:last-child{
          border-bottom:  none
        }
        .right-gray-text{
          font-size: 14px;
          font-weight: bold;
          color: #7f8fa4;
        }
        .list-item-left{
          width: 70%;
          margin-right: 20px;
          .subtitle{
            font-size: 14px;
            font-weight: bold;
          }
          .description{
            font-size: 12px;
          }
          &.has-icon{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            &.center-aligned{
              align-items: center;
            }
            .icon-container{
              width: 25px;
              margin-right: 15px;
              img{
                width: 25px;
              }
            }
          }
        }
      }
    }
  }
}

//
// PAGES
//
.store-owner-pages {
  .busy-overlay {
    .position(fixed, 0, 0, 0, 0, 100%, 100%);
    background: rgba(255, 255, 255, 0.6);
  }

  .website-builder iframe {
    width: 100%;
    min-height: 600px;
    height: 90vh;
  }
}

// 
// AUDIENCE
// 
.store-owner-audience-view {
>>>>>>> 090928a32dcebd3c3b07e07c57e977ac6b696bf0
  .common-view-layout;
  padding: 4vh 10vw 0 10vw;
  .left-side-content{
    .main-table-header,
    .main-table{
      .columns-header,
      .columns-data{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        .name-col{
          width: 29%;
          padding-right: 1%;
        }
        .promoted-col{
          width: 9%;
          padding-right: 1%;
          text-align: center;
        }
        .sku-col{
          width: 13%;
          padding-right: 1%;
        }
        .size-col{
          width: 13%;
        }       
        .email-col{
          width: 34%;
          padding-right: 1%;
        }
        .date-col
        {
          width: 21%;
          padding-right: 1%;
        }
        .campaign-col{
          width: 19%;
          padding-right: 1%;
        }
        .type-col{
          width: 22%;
        }
        .name-col{
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          img{
            height: 40px;
            max-height: 40px;
            margin-right: 10px;
          }
        }
      }
    }
    .main-table-header{
      margin-top: 0px;
      .main-header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        padding: 0px 37px 0 20px;
        .title-container{
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          .title{
            font-size: 24px;
            font-weight: normal;
            padding: 20px 10px 20px 0;
          }
          .separator{
            border-left: 1px solid #dfe3e9;
          }
          .email-count{
            margin-left: 10px;
            font-size: 14px;
            color: #7f8fa4;
          }
        }
        .header-right{
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center; 
          .common-btn-gray-black,
          .common-btn-black{
            margin-left: 20px;
          }
        }
      }
      .columns-header{
        background-color: #f5f8fa;
        border-top: solid 1px #e6eaee;
        color: #7f8fa4;
        padding: 10px 57px 10px 40px;
        .fa{
          margin-left: 10px;
        }
      }
    }
    .main-table{
      .columns-data{
        padding: 10px 40px;
        border-bottom: 1px solid #e6eaee;
        &:last-child{
          border-bottom: none;
        }
        &:hover{
          background-color: rgba(215,251,232,0.2);
        }
        .campaign-col,
        .type-col,
        .date-col{
          font-weight: normal;
        }
      }
    }
  }
}

.common-top-bar{
  background-color: #fff;
  height: 60px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  .date-filter{
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .fa-minus{
      margin-right: 15px;
      color: #7383a1;
      font-size: 10px;
    }
    .common-btn-gray{
      margin-right: 15px;
      &:last-child{
        margin-right:0px;
      }
      &.active{
        background-image: linear-gradient(to bottom, #2ea77a, #32a279);
        border-color: #2bbf88;
        color: #fff;
      }
    }
  }
}

//
// HOME VIEW
//
.store-owner-home-view {
  background-color: #eff3f6;
  color: #354052;
  position: relative;

  .chart {
    padding: 0 30px;
    box-sizing: border-box;

    .figure {
      font-size: 40px;
      font-weight: 300;
      color: #354052;
    }
  }

  .main-content{
    padding: 30px 3vw 10vh 3vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    .main-left-column{
      width: 25%;
      .common-white-box {
        .row {
          &.sources {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
            padding: 0 30px;
            box-sizing: border-box;

            .name {
              width: 40%;
            }

            .visual {
              position: relative;
              flex: 1;

              .bar {
                position: absolute;
                width: 130px;
                height: 4px;
                background: #e2e7ee;
                border-radius: 2px;
                overflow: hidden;
              }

              .amount {
                position: absolute;
              }

              .bar, .amount {
                top: 50%;
                transform: translateY(-50%);
              }
            }

            .name, .amount {
              font: 14px 'SourceSansPro-Regular', sans-serif;
              color: #7f8fa4;
            }
          }
        }
      }
      .top-products{
        padding: 25px 0 0 0;
        .top-product{
          border-top: 1px solid #dfe2e5;
          padding: 15px 15px 15px 30px;
          font-size: 14px;
          color: #354052;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          .name{
            .ellipsized;
            margin-right: 10px;
          }
          .view-prod{
            color: #29b575;
          }
          &:hover{
            background-color: #fafbfc;
          }
        }
      }

    }
    .main-right-column{
      width: 73%;
      .top-stats{
      }
    }
  }
}

// 
// REPORTS
// 
.store-owner-reports-view {
  font-size: 14px;
  color: #354052;
  .main-container{
    padding: 20px 3vw 0px 3vw;    
    .reports-tab-icons{
      margin: 0 0 30px 0;
      border-bottom: 3px solid #2bbf88;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      &.website{
        border-color: #2bbf88;
      }
      &.facebook{
        border-color: #3b5998;
      }
      &.twitter{
        border-color: #2daae1;
      }
      &.emails{
        border-color: #313d4f;
      }
      &.tablet{
        border-color: #9fa9ba;
      }
      .tab-icon{
        padding-bottom: 6px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 46px;
        height: 36px;
        box-sizing: border-box;
        transition: width .2s ease-in-out; 
        .icon{
          width: 30px;
          height: 30px;
          margin: 0 8px;
          transition: transform .2s ease-in-out; 
          &:hover { transform: scale(1.3); }
        }
        .title{
          transition: all .2s ease-in-out; 
          width: 0;
          max-width: 0;
          min-width: 0;
          overflow: hidden;
          font-weight: bold;
        }
        &.active{
          width: 100%;
          .title{
            width: 100%;
            max-width: 100%;
            min-width: 100%;
          }
        }
      }
    }
    .tab-container{
      padding: 0 1vw;

      [ui-view].ng-enter, [ui-view].ng-leave {
        transition:all .6s ease-in-out;
      }
      [ui-view].ng-enter {
        opacity: 0;
      }
      [ui-view].ng-enter-active {
        opacity: 1;
      }
      [ui-view].ng-leave {
        opacity: 0;
      }
      [ui-view].ng-leave-active {
        opacity: 0;   
      }

      .white-box{
        padding: 25px;
        height: 400px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #e6eaee;
      }
    }
  }
}

//
// REPORT VIEW
//
.store-owner-reports-view {
  .main-content {
    padding: 30px 3vw 10vh 3vw;

    .reports-info {
      height: 413px;

      .chart {
        width: 65%;
      }

      .sources {
        width: 30%;
        margin-left: 5%;

        .row {
          display: flex;
          width: 100%;
          margin-bottom: 20px;

          .name {
            width: 40%;
          }

          .visual {
            margin-left: auto;
            width: 40%;
            position: relative;

            .bar {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 130px;
              height: 4px;
              background: #e2e7ee;
              border-radius: 2px;
              overflow: hidden;

              .progress {
                width: 50%;
                height: 100%;
                border-radius: 2px;
              }
            }
          }

          .percent {
            width: 20%;
            text-align: right;
          }

          .name, .percent {
            font: 14px 'Avenir-Book', sans-serif;
            color: #354052;
          }
        }
      }

      .chart, .sources {
        float: left;
        padding: 24px 30px;
        box-sizing: border-box;
        height: 100%;
      }
    }
  }
}