section.userList {

  .invite {
    background-color: @green;
    color: white;
  }
  .userbox {
    background: white;
    padding: 20px;

  }
  @media screen and (max-width: 700px) {
    .inner {

    }
  }
}
.user-management{
  .userbox {
    padding: 20px;
  }
  .edit-user{
    .controls{
      margin-top: 20px;
    }
    .temp-password{
      font-size: 16px;
      margin-top: 30px;
      
      span{
        font-size: 18px;
        font-weight: bold;

      }
    }
  }
}
.content{

  .pagecontent.user-invite{
    padding-top: 3vh;
    .send-invite-btn{
      padding: 0 20px;
      @media @small-only {
        width: 100%;
        margin: 0px;
      }
    }
  }
}

