@black:         #000000;
@blue:          #3299BB;
@dark-blue:     #43619C;
@green:         #2ECC71;
@pink:          #FE3A6D;
@darkest-grey:  #171625;
@dark-grey:     #1f2532;
@med-grey:      #8D9AA5;
@light-grey:    #E2E2E2;
@red:           #FF0000;
@white:         #ffffff;
@orange:        #FFA500;

/* VIRTUAL COLORS */
@brand-primary: @pink;
@brand-primary-75: rgba(25, 84, 127, 0.75);
@brand-primary-50: rgba(25, 84, 127, 0.5);
@brand-primary-25: rgba(25, 84, 127, 0.25);
@brand-light: @white;
@brand-info: #00ADDC;
@brand-dark: #0F3456;
@brand-success: @green;
@brand-warning: @orange;
@brand-danger: @red;


/* BRANDING */
@logo: '../img/logo_black.png';
@home_bg:  ' ../img/bg_3.png ';


/* SHADING / GRADIENTS */
@gradient-top: rgba(2, 54, 73, 0.59);
@gradient-bottom: rgba(124, 13, 51, 0.49) ;
@gradient-split: ;
@gradient-start: 50%;

body {
  background: #f5f5f5;
}

.content {
  margin: 10vh 0 0 0;

  .titlebar {
    background: @dark-grey;
    padding: 20px 0;

    h1 {
      margin: 0 5vw;
      color: white;
    }
  }
  .pagecontent {
    margin: 2vh 5vw 0;
  }
}


a {
  color: @pink;
  text-decoration: none;
  &:hover {
   color: @darkest-grey;
  }
}


md-list .md-subheader {
  font-size: 24px;

}
