<div class="top-match-container">
  <div class="store-info">
    <div class="name">That Other Alcohol Store</div>
    <div class="prod-count">43 reveived products</div>
  </div>
  <div class="main-info">
    <div class="control-arrow">
      <i class="fa fa-caret-left"></i>
    </div>
    <div class="prod-info">
      <div class="info-item">Product 1/8598</div>
      <div class="info-item">Name: Undefined</div>
      <div class="info-item">Sku: 027724197502</div>
      <div class="info-item">Type: Spirits</div>
      <div class="info-item">Product ID: 203806</div>
    </div>
    <div class="prod-image">
      YYY
    </div>
    <div class="prod-actions">
      <div class="common-btn-gray"><i class="fa fa-expand"></i> View Product</div>
      <div class="common-btn-gray"><i class="fa fa-search"></i> Find Similar</div>
      <div class="common-btn-negative"><i class="fa fa-trash-o"></i> Remove</div>
    </div>
    <div class="control-arrow">
      <i class="fa fa-caret-right"></i>
    </div>
  </div>
  <div class="actions">
    <div class="common-btn-positive">Save and Exit</div>
  </div>
</div>