<div ui-view="match"></div>
<div class="editor-products-view-content large-sidebar">
  <!-- <div class="auto-save-box" ng-show="ui.display !== 'fulltable'">
    <i class="fa fa-circle"></i> Automatically Saved
  </div> -->
  <div ng-class="['left-side-content', {full: ui.display === 'fulltable'}]">
    <div class="title">All Products</div>
    <div class="main-table">
      <!--
      FILTER HEADER
      -->
      <div class="filter-header">
        <div class="left-filter">
          <div ng-class="['common-select-container', {active:ui.searchOptionsMenu}]">
            <input type="text" placeholder="" class="common-input search-input" ng-model="searchOptions.searchText" ng-focus="openMenu('searchOptionsMenu')">
            <div ng-class="['common-select-trigger ignore-click-trigger', {active:ui.searchOptionsMenu}]" ng-click="searchProducts()">
              Search
            </div>
            <div class="common-select-options" ng-show="ui.searchOptionsMenu">
              <div class="search-option close" ng-click="ui.searchOptionsMenu = false">
                <i class="fa fa-caret-up"></i>
              </div>
              <div class="search-option">
                <div class="filter-item">
                  <input class="custom-checkbox" type="checkbox" id="myproductscheck" checked ng-model="searchOptions.filterByUserId" ng-change="toggleFilterByUserId()" />
                  <label for="myproductscheck">Show only my products</label>
                </div>
              </div>
              <div class="search-option">
                <div class="common-field-title">Select store</div>
                <selectize class="custom-selectize" config="selectStoreFilterConfig" options="searchOptions.allStores" ng-model="searchOptions.storeId">
                </selectize>
              </div>
              <div class="search-option">
                <div class="common-field-title">Category</div>
                <div class="filter-item">
                  <input class="custom-checkbox" type="checkbox" id="beercheck" ng-model="searchOptions.beerTypeCheck" />
                  <label for="beercheck">Beer</label>
                </div>
                <div class="filter-item">
                  <input class="custom-checkbox" type="checkbox" id="winecheck" ng-model="searchOptions.wineTypeCheck" />
                  <label for="winecheck">Wine</label>
                </div>
                <div class="filter-item">
                  <input class="custom-checkbox" type="checkbox" id="spiritcheck" ng-model="searchOptions.spiritTypeCheck" />
                  <label for="spiritcheck">Spirit</label>
                </div>
              </div>
              <div class="search-option">
                <div class="common-field-title">Status</div>
                <div class="filter-item">
                  <input class="custom-radio" type="radio" id="allradio" name="statusfilterradio" ng-model="searchOptions.statusRadio" value="" />
                  <label for="allradio"><span></span>All</label>
                </div>
                <div class="filter-item">
                  <input class="custom-radio" type="radio" id="newradio" name="statusfilterradio" ng-model="searchOptions.statusRadio" value="new" />
                  <label for="newradio"><span></span>New</label>
                </div>
                <div class="filter-item">
                  <input class="custom-radio" type="radio" id="progressradio" name="statusfilterradio" ng-model="searchOptions.statusRadio" value="inprogress" />
                  <label for="progressradio"><span></span>In Progress</label>
                </div>
                <div class="filter-item">
                  <input class="custom-radio" type="radio" id="doneradio" name="statusfilterradio" ng-model="searchOptions.statusRadio" value="done" />
                  <label for="doneradio"><span></span>Done</label>
                </div>
                <div class="filter-item">
                  <input class="custom-radio" type="radio" id="approvedradio" name="statusfilterradio" ng-model="searchOptions.statusRadio" value="approved" />
                  <label for="approvedradio"><span></span>Approved</label>
                </div>
              </div>
              <div class="search-option">
                <div class="common-field-title">Search In...</div>
                <div class="filter-item">
                  <input class="custom-checkbox" type="checkbox" id="allcheck" ng-model="searchOptions.searchInAll" ng-change="toggleSearchInAll()" />
                  <label for="allcheck">All</label>
                </div>
                <div class="filter-item">
                  <input class="custom-checkbox" type="checkbox" id="namecheck" ng-model="searchOptions.searchInName" />
                  <label for="namecheck">Name</label>
                </div>
                <div class="filter-item">
                  <input class="custom-checkbox" type="checkbox" id="descriptioncheck" ng-model="searchOptions.searchInDescription" />
                  <label for="descriptioncheck">Description</label>
                </div>
                <div class="filter-item">
                  <input class="custom-checkbox" type="checkbox" id="productidcheck" ng-model="searchOptions.searchInProductId" />
                  <label for="productidcheck">Product Id</label>
                </div>
                <div class="filter-item">
                  <input class="custom-checkbox" type="checkbox" id="skucheck" ng-model="searchOptions.searchInSKU" />
                  <label for="skucheck">SKU</label>
                </div>
                <div class="filter-item">
                  <input class="custom-checkbox" type="checkbox" id="notescheck" ng-model="searchOptions.searchInNotes" />
                  <label for="notescheck">Notes</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-filter">
          <div ng-show="pes.show.newProducts" class="common-btn-black autowidth" ng-click="loadNewProducts()" ng-bind="newProductsLabel"></div>
        </div>
      </div>
      <!--
      COLUMNS HEADER
      -->
      <div class="columns-header">
        <div ng-class="['check-col', {productsactionsbar: ui.showProductsSelectedActions}]">
          <div class="header-check">
            <input id="productcheckall" type="checkbox" class="custom-checkbox" ng-model="ui.allProductsSelected" ng-change="toggleSelectAllProducts()">
            <label for="productcheckall">&nbsp;</label>
          </div>
          <div class="common-btn-gray" ng-show="ui.showProductsSelectedActions && selectedProducts.length > 1" ng-click="mergeProducts()">
            Merge Products
          </div>
          <div class="common-btn-negative small" ng-if="permissions.curator" ng-click="pes.bulkUpdateStatus(selectedProducts, 'inprogress')">
            Reject
          </div>
          <div class="common-btn-positive small" ng-if="permissions.curator" ng-click="pes.bulkUpdateStatus(selectedProducts, 'approved')">
            Approve
          </div>
          <div class="selected-count" ng-show="ui.showProductsSelectedActions">
            {{selectedProducts.length}} products selected
          </div>
        </div>
        <div class="name-col" ng-click="reOrderList('name')" ng-show="!ui.showProductsSelectedActions"><span>Product Name</span> <i class="fa fa-sort"></i></div>
        <div class="sku-col" ng-click="reOrderList('sku')" ng-show="!ui.showProductsSelectedActions"><span>SKU's</span> <i class="fa fa-sort"></i></div>
        <div class="image-col" ng-click="reOrderList('image')" ng-show="!ui.showProductsSelectedActions"><span>Image</span> <i class="fa fa-sort"></i></div>
        <div class="status-col" ng-click="reOrderList('status')" ng-show="!ui.showProductsSelectedActions"><span>Status</span> <i class="fa fa-sort"></i></div>
        <div class="type-col" ng-click="reOrderList('type')" ng-show="!ui.showProductsSelectedActions"><span>Type</span> <i class="fa fa-sort"></i></div>
      </div>
      <!--
      COLUMNS DATA ROWS
      -->
      <div class="columns-data" ng-repeat="product in pes.productList track by product.productId">
        <div class="check-col">
          <input id="productcheck{{$index}}" type="checkbox" class="custom-checkbox" ng-model="product.selected" ng-change="toggleSelectProduct(product)">
          <label for="productcheck{{$index}}">&nbsp;</label>
        </div>
        <div class="name-col" ng-bind-html="(product.displayName || product.name) | highlight:searchOptions.searchText" ng-click="viewProduct(product)"></div>
        <div class="sku-col" ng-bind="product.sku_count" ng-click="viewProduct(product)"></div>
        <div class="image-col" ng-click="viewProduct(product)">
          <i ng-class="['fa common-fa', {'fa-check': product.image >= 1, 'fa-times': product.image === 0}]"></i>
        </div>
        <div class="status-col" ng-bind="product.status" ng-click="viewProduct(product)"></div>
        <div class="type-col" ng-bind="product.productTypeId === 1 ? 'Wine' : product.productTypeId === 2 ? 'Beer' : product.productTypeId === 3 ? 'Spirit' : ''" ng-click="viewProduct(product)"></div>
      </div>
    </div>
  </div>
  <!--
  DYNAMIC RIGHT SIDE
  -->
  <div ui-view="sidepanel" class="right-side-content" ng-show="ui.display !== 'fulltable'"></div>
</div>