<div class="editor-products-view">
  <div class="auto-save-box" ng-show="ui.display !== 'fulltable'">
    <i class="fa fa-circle"></i> Automatically Saved
  </div>
  <div ng-class="['left-side-content', {full: ui.display === 'fulltable'}]">
    <div class="title">All Products</div>
    <div class="main-table">
      <!--
      FILTER HEADER
      -->
      <div class="filter-header">
        <div class="left-filter">
          <div class="common-select-container">
            <div ng-class="['common-select-trigger ignore-click-trigger', {active:ui.filterOptionsSelect}]" ng-click="openMenu('filterOptionsSelect')" ng-mouseover="openMenu('filterOptionsSelect')">
              Filter
            </div>
            <div class="common-select-options" ng-show="ui.filterOptionsSelect">
              <div class="common-select-option">Filter 1</div>
              <div class="common-select-option">Filter 2</div>
              <div class="common-select-option">Filter 3</div>
              <div class="common-select-option">Filter 4</div>
            </div>
          </div>
          <div class="common-input-with-icon">
            <input type="text" placeholder="Search" class="common-input" ng-model="ui.search">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <div class="right-filter">
          <div class="common-btn-black" ng-click="openCreateAccountSidebar()">Create Account</div>
        </div>
      </div>
      <!--
      COLUMNS HEADER
      -->
      <div class="columns-header">
         <div ng-class="['check-col', {plan: ui.mergeProductsButton}]">
          <div class="header-check">
            <input type="checkbox" class="common-checkbox" ng-click="allChecksChange()" ng-model="ui.allCheck">
          </div>
          <div class="make-plan" ng-show="ui.mergeProductsButton" ng-click="ui.display = 'addPlan'">
            Merge Products
          </div>
          <div class="selected-count" ng-show="ui.mergeProductsButton">
            5 products selected
          </div>
          <div class="select-all" ng-show="ui.mergeProductsButton" ng-click="allChecksChange(true)">
            Select All
          </div>
        </div>
        <div class="name-col" ng-click="reOrderList('name')" ng-show="!ui.mergeProductsButton"><span>Product Name</span> <i class="fa fa-sort"></i></div>
        <div class="sku-col" ng-click="reOrderList('sku')" ng-show="!ui.mergeProductsButton"><span>SKU's</span> <i class="fa fa-sort"></i></div>
        <div class="image-col" ng-click="reOrderList('image')" ng-show="!ui.mergeProductsButton"><span>Image</span> <i class="fa fa-sort"></i></div>
        <div class="status-col" ng-click="reOrderList('status')" ng-show="!ui.mergeProductsButton"><span>Status</span> <i class="fa fa-sort"></i></div>
        <div class="type-col" ng-click="reOrderList('type')" ng-show="!ui.mergeProductsButton"><span>Type</span> <i class="fa fa-sort"></i></div>
      </div>
      <!--
      COLUMNS DATA ROWS
      -->
      <div class="columns-data" ng-repeat="account in accountsService.accounts | filterBy:['accountId','name','contactName','email']:ui.search | orderBy:ui.sortExpression track by account.accountId">
        <div class="check-col">
          <input type="checkbox" class="common-checkbox" ng-model="ui.checkArray[product.id]" ng-change="checkChange()">
        </div>
        <div class="name-col" ng-bind-html="account.accountId | highlight:ui.search"></div>
        <div class="sku-col"></div>
        <div class="image-col">
          <i class="fa fa-check common-fa" ng-if="account.website"></i>
          <i class="fa fa-times common-fa" ng-if="!account.website"></i>
        </div>
        <div class="status-col"></div>
        <div class="type-col"></div>
      </div>
    </div>
  </div>
  <!--
  DYNAMIC RIGHT SIDE
  -->
  <div ui-view class="right-side-content" ng-show="ui.display !== 'fulltable'"></div>
</div>