<div ng-class="['common-modal-dialog upload-csv-dialog', {confirm: csv.view === 'confirm'}]">
  <div class="dialog-title" ng-switch="csv.view">
    <span ng-switch-when="import">Import CSV</span>
    <span ng-switch-when="configure">Configure your Import</span>
    <span ng-switch-when="confirm">Confirm Import</span>
  </div>
  <div class="main-container">
    <div class="single-side">
      <div class="single-side-content">
        <!--
        1. IMPORT VIEW
        -->
        <div ng-show="csv.view === 'import'">
          <div class="common-btn-black" ng-click="openCsvImport()">Select a File</div>
          <ng-csv-import
          id="csvimporter"
          class="ng-csv-import-directive"
          result="csv.result"
          header="csv.header"
          separator="','"
          accept="'.csv'"
          acceptSize="4194304"
          callback="initCsvImport"></ng-csv-import>
          <div class="common-field-title">Select a Store</div>
          <selectize config="selectStoresConfig" options="orderDataService.allStores" ng-model="csv.storeId">
          </selectize>
          <div ng-if="csv.result">
            <div class="common-field-title">CSV File chosen</div>
            <div>{{csv.result.filename}} ({{csv.result.length}} items)</div>
          </div>
        </div>
        <!--
        2. CONFIGURE VIEW
        -->
        <div ng-show="csv.view === 'configure'">
          <div class="instructions">Tell us which fields you would like to match and which you would like to create.</div>
          <div class="headers-checkbox">
            <div class="common-field-title">First row is used for titles</div>
            <input type="checkbox" ng-model="csv.header" class="common-checkbox">
          </div>
          <div ng-repeat="column in csv.columns">
            <div class="common-field-title" ng-bind="(csv.header && csv.loaded) ? column.name : 'Column' + ($index+1)"></div>
            <selectize config="selectFieldsConfig" options="column.availableFields" ng-model="column.mapping">
            </selectize>
          </div>
        </div>
        <!--
        3. CONFIRM VIEW
        -->
        <div ng-show="csv.view === 'confirm'">
          <div class="instructions">Are you sure you want to import {{csv.result.length}} items?</div>
        </div>
      </div>
      <div class="action-footer">
        <div class="common-btn-gray small" ng-click="closeDialog()">Cancel</div>
        <button class="common-btn-positive small" ng-if="csv.view === 'import'" ng-click="csv.view = 'configure'" ng-disabled="!csv.result || !csv.storeId">Next</button>
        <button class="common-btn-positive small" ng-if="csv.view === 'configure'" ng-click="csv.view = 'confirm'" ng-disabled="false">Next</button>
        <button class="common-btn-positive" ng-if="csv.view === 'confirm'" ng-click="submitCSV()" ng-disabled="false">Import Items</button>
      </div>
    </div>
  </div>
</div>