<div class="row">
    <div class="col-xs-9 col content">
        <div ng-if="mediaObject.Head.Metadata.type == 'image'"
             class="image"
             back-img="{{'https://oncue-viktor.s3.amazonaws.com/' + mediaObject.Key}}"></div>
        <video ng-if="mediaObject.Head.Metadata.type == 'video'" controls>
            <source ng-src="{{'https://oncue-viktor.s3.amazonaws.com/' + mediaObject.Key | trusted}}"
                    type="{{mediaObject.Head.ContentType}}"/>
        </video>
    </div>
    <div class="col-xs-3 col info">
        <h3 class="clearfix">
            <span class="pull-left">{{media}}</span>
            <span class="pull-right">05 / 2015</span>
        </h3>
        <h4 class="clearfix">
            <span class="pull-left">Brand Name</span>
            <span ng-show="mediaObject.Head.Metadata.type == 'video'" class="pull-right">
                <i class="fa fa-video-camera"></i>
            </span>
            <span ng-show="mediaObject.Head.Metadata.type == 'image'" class="pull-right">
                <i class="fa fa-picture-o"></i>
            </span>
        </h4>

        <p>
            {{mediaObject.Head.Metadata.description}}
        </p>
    </div>
</div>
