<!--Right Side view for editing accounts-->
<!--Uses AccountManagerController in accountManager.client.controller.js-->

<section class="inner">

  <h1>Editing Account: {{ accountsService.editAccount.name }}</h1>
  <md-button class="md-button md-raised md-primary" ng-click="accountsService.deleteAccount(accountsService.editAccount)">Remove Account</md-button>
  <form name="editAccountForm" ng-submit="accountsService.updateAccount()" novalidate>
    <div layout-xs="column" layout-sm="column" layout-align="space-between center">

      <md-input-container class="md-block" flex-gt-sm>
        <label>Name</label>
        <input ng-model="accountsService.editAccount.name">
        <div ng-messages="editAccountForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Account name is required.</p>
        </div>
      </md-input-container>
    </div>

    <div>
      <md-button class="md-button md-raised upload" ngf-select="upload($files, accountsService.editAccount.accountId)" ngf-multiple="true">
        Upload Image
      </md-button>
    </div>
    <md-progress-linear md-mode="determinate" value="{{determinateValue}}"
                        ng-show="determinateValue"></md-progress-linear>


    <img ng-src="{{ accountsService.editAccount.logo || currentAccountLogo }}" height="100">

    <div layout="row" layout-align="space-between center">
      <label>Device Authentication Code: </label>
      <p><strong>{{ accountsService.editAccount.authCode || 123456 }}</strong></p>
      <md-button class="md-button md-raised md-accent" ng-click="accountsService.generateAuthCode(accountsService.editAccount.authCode)">Generate New Code
      </md-button>
    </div>



    <md-button class="md-button md-raised md-primary" type="submit">
      Update
    </md-button>

    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>

  </form>
</section>
