<section class="content dashboard" ng-controller="DashboardController as vm" data-ng-init="init()">


  <div layout="row" layout-wrap>
    <div flex="60" style="background:red" layout-padding>
      STATS TO GO HERE....
    </div>
    <div flex="33" flex-offset="5" layout-padding>
      <!--{{analytics}}-->
      <md-list class="md-whiteframe-5dp">
        <md-subheader>Top 10 Analytics</md-subheader>
          <md-list-item class="" ng-repeat="analytic in analytics |  limitTo:10" >
            <!--<md-icon md-svg-icon="{{setting.icon}}"></md-icon>-->
              <p>{{analytic.opt_value}}</p><p class="md-secondary"> {{analytic.cnt}}</p>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>

      </md-list>
    </div>
  </div>
  <div layout="row" layout-wrap>
    <div flex="60" style="background:whitesmoke">
      <div ng-repeat="phone in filteredPhones = (phones | filter: query)" ></div>

      <section layout="row" layout-sm="column" layout-align="space-around center" layout-wrap>

        <div ng-repeat="email in filteredEmails = (emails | filter: query)" ></div>

        <md-button ng-csv="emails" csv-header="['Emails']" filename="loyalty_list_emails.csv"><img src="lib/material-design-icons/communication/1x_web/ic_email_white_48dp.png"/>
          {{filteredEmails.length}}</md-button>
        <md-button ng-csv="phones" csv-header="['Phone #s']" filename="loyalty_list_phones.csv" >
          <img src="lib/material-design-icons/communication/1x_web/ic_call_end_white_48dp.png"/>gh{{filteredPhones.length}}</md-button>

      </section>


    </div>


  </div>




      <md-content layout="row" layout-align="space-between none">
        <md-subheader ng-repeat="locs in specificLoc "ng-if="list_devices.locationId == specificLoc.locationId">
          {{locs.locationName}}
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="device in list_devices" ng-if="device.locationId == locs.locationId">
            <div class="md-list-item-text">
              <h3>{{device.deviceName}}</h3>
            </div>


          </md-list-item>
          <!--<md-divider></md-divider>-->


        </md-list>
          </md-subheader>
      </md-content>

      <!--<div ng-repeat="phone in filteredPhones = (phones | filter: query)" ></div>-->
      <md-divider></md-divider>
    </md-list>
  </md-content>
  <div ui-view></div>
</section>

