<section class="content dashboard" ng-controller="DashboardController as vm" data-ng-init="init()">

  <div class="titlebar"><h1 class="md-display-2">Dashboard</h1></div>

  <div class="pagecontent">
  <div layout="row" layout-wrap>

    <div flex="60" style="" class="chart" layout-padding>
      <h1>Store Activity</h1>
      <!--CHART JS STUFF-->

      <canvas id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-click="onClick" >
      </canvas>


    </div>
    <div flex="33" flex-offset="5" class="topten" >
      <!--{{analytics}}-->
      <md-list class="md-whiteframe-5dp">
        <md-toolbar >
          <div class="md-toolbar-tools">
            <h2>
              <span>Top 10 Items <i class="fa fa-bar-chart"></i></span>
            </h2>
          </div>
        </md-toolbar>
        <md-list-item class="" ng-repeat="analytic in analytics |  limitTo:10" >
          <!--<md-icon md-svg-icon="{{setting.icon}}"></md-icon>-->
          <p>{{analytic.opt_value}}</p>
          <p class="md-secondary"> {{analytic.cnt}}</p>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </div>
  </div>
  <div layout="row" layout-wrap>
    <div flex="60"  class="" >
      <div ng-repeat="phone in filteredPhones = (phones | filter: query)" ></div>
      <div ng-repeat="email in filteredEmails = (emails | filter: query)" ></div>
      <section class="leads" >
        <h1>Customer Leads:</h1>
        <div class="leadgen md-whiteframe-5dp" ng-csv="emails" csv-header="['Emails']" filename="loyalty_list_emails.csv" aria-label="Download CSV">
          <!--<span class="overlay">Click to download CSV</span>-->
          <div class="icon"><i class="fa fa-mobile"></i></div>
          <div class="data">
            <div class="centerhelp">
              <span class="number">{{filteredEmails.length}}</span>
              <span class="label">Email Addresses</span>
            </div>
          </div>
        </div>
        <div class="leadgen md-whiteframe-5dp" ng-csv="phones" csv-header="['Phone #s']" filename="loyalty_list_phones.csv" aria-label="Download CSV" >
          <!--<span class="overlay">Click to download CSV</span>-->
					<span class="icon">
					<i class="fa fa-envelope"></i>
					</span>
          <div class="data" >
            <div class="centerhelp">
              <span class="number">{{filteredPhones.length}} </span> <span class="label">Phone Numbers</span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div layout="column">
    <br>
<h1 class="md-display-2">Devices</h1>
    <md-divider></md-divider>
    <div class="devices " ng-repeat="locs in specificLoc "ng-if="list_devices.locationId == specificLoc.locationId">
      <h1>{{locs.locationName}}</h1>
      <div class="device" ng-repeat="device in list_devices" ng-if="device.locationId == locs.locationId" >
        <div class="icon"><i class="fa fa-desktop"></i></div>
        <p>{{device.deviceName}}</p>

      </div>

    </div>

  </div>
  <div ui-view></div>

  </div><!-- endpage -->
</section>
