<!--Right Side view for editing locations-->
<!--Uses LocationManagerController in locationManager.client.controller.js-->

<section class="inner">

  <h1>Editing Location: {{ location.name }}</h1>
  <md-button class="md-button md-raised md-primary" ng-click="remove()">Remove Location</md-button>
  <form name="locationForm" ng-submit="update(locationForm.$valid)" novalidate>
    <div layout-xs="column" layout-sm="column" layout-align="space-between center">

      <md-input-container class="md-block" flex-gt-sm>
        <label>First Name</label>
        <input ng-model="location.name">
        <div ng-messages="locationForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Location name is required.</p>
        </div>
      </md-input-container>

    </div>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Address</label>
      <input ng-model="location.address">
      <div ng-messages="locationForm.address.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Location address is required.</p>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>City</label>
      <input ng-model="location.city">
      <div ng-messages="locationForm.city.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Location city is required.</p>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>State</label>
      <input ng-model="location.state">
      <div ng-messages="locationForm.state.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Location state is required.</p>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Zip Code</label>
      <input type="number" ng-model="location.zipCode">
      <div ng-messages="locationForm.zipCode.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Location Zip Code is required.</p>
      </div>
    </md-input-container>

    <md-button class="md-button md-raised md-primary" type="submit">
      Update
    </md-button>

    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>

  </form>
</section>
