<!--Right Side view for editing locations-->
<!--Uses LocationManagerController in locationManager.client.controller.js-->

<section class="inner">

  <h1>Editing Location: {{ locationsService.editLocation.name }}</h1>
  <md-button class="md-button md-raised md-primary" ng-click="locationsService.deleteLocation(locationsService.editLocation)">Remove Location</md-button>
  <form name="editLocationForm" ng-submit="locationsService.updateLocation()" novalidate>
    <div layout-xs="column" layout-sm="column" layout-align="space-between center">

      <md-input-container class="md-block" flex-gt-sm>
        <label>Name</label>
        <input ng-model="locationsService.editLocation.name">
        <div ng-messages="editLocationForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Location name is required.</p>
        </div>
      </md-input-container>

    </div>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Address</label>
      <input ng-model="locationsService.editLocation.address">
      <div ng-messages="editLocationForm.address.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Location address is required.</p>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>City</label>
      <input ng-model="locationsService.editLocation.city">
      <div ng-messages="editLocationForm.city.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Location city is required.</p>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>State</label>
      <input ng-model="locationsService.editLocation.state">
      <div ng-messages="editLocationForm.state.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Location state is required.</p>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Zip Code</label>
      <input ng-model="locationsService.editLocation.zipCode">
      <div ng-messages="editLocationForm.zipCode.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Location Zip Code is required.</p>
      </div>
    </md-input-container>

    <md-button class="md-button md-raised md-primary" type="submit">
      Update
    </md-button>

    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>

  </form>
</section>
