<section class="content" ng-controller="LoyaltyManagerController as vm" data-ng-init="init()">
  <md-subheader style="padding-top:2vh;">
    <h2>USER EMAILS FROM DEVICE</h2>
  </md-subheader>
  <md-content layout="row" layout-align="space-between none">
    <md-list>
      <md-list-item class="md-3-line"  ng-repeat="email in emails track by $index" >
        <div class="md-list-item-text" layout="column" >
          <p  ng-bind="email"></p>

        </div>
      </md-list-item>
      <md-list-item class="md-3-line" ng-repeat="phone in phones track by $index" >
        <div class="md-list-item-text" layout="column" >
          <p  ng-bind="phone"></p>
        </div>
        <br>
        </md-list-item>
      </md-list-item>
      <button type="button" ng-csv="loyalty" filename="loyalty_list.csv">Export To CSV</button>
      <md-divider></md-divider>
    </md-list>
  </md-content>
  <div ui-view></div>
</section>

