<!-- <div class="store-owner-home-view-mobile mobile-has-header">
  <ng-include autoscroll src="'/modules/core/client/views/mobile-nav.html'"></ng-include>
  <div class="main-container">
    <div class="tab-filter">
      <div class="tab">DAY</div>
      <div class="tab">WEEK</div>
      <div class="tab active">MONTH</div>
    </div>
    <div class="month-filter">
      <div class="arrow-left"><i class="fa fa-chevron-left"></i></div>
      <div class="month">April</div>
      <div class="arrow-right"><i class="fa fa-chevron-right"></i></div>
    </div>
    <div class="square-indicators">
      <div class="subscribers-square">
        <img src="/img/subscribers-icon.svg" alt="icon" class="icon">
        <div class="title">
          New Subscribers
        </div>
        <div class="indicators">
          <div>8</div>
          <div class="percentage">7%</div>
        </div>
      </div>
      <div class="facebook-square">
        <img src="/img/facebook-icon.svg" alt="icon" class="icon">
        <div class="title">
          New Facebook Likes
        </div>
        <div class="indicators">
          <div>18</div>
          <div class="percentage">4%</div>
        </div>
      </div>
    </div>
    <div class="square-indicators">
      <div class="website-square">
        <img src="/img/website-icon.svg" alt="icon" class="icon">
        <div class="title">
          Website visitors
        </div>
        <div class="indicators">
          <div>100</div>
          <div class="percentage">20%</div>
        </div>
      </div>
      <div class="twitter-square">
        <img src="/img/twitter-icon.svg" alt="icon" class="icon">
        <div class="title">
          New Twitter FOllower
        </div>
        <div class="indicators">
          <div>37</div>
          <div class="percentage">1%</div>
        </div>
      </div>
    </div>
    <div class="info-box">
      <div class="title">Top Products</div>
      <div class="top-products-list">
        <div class="item">
          <div class="name">Jim Beam Kentucky</div>
          <div class="clicks">250 clicks</div>
        </div>
        <div class="item">
          <div class="name">Jim Beam Kentucky</div>
          <div class="clicks">250 clicks</div>
        </div>
        <div class="item">
          <div class="name">Jim Beam Kentucky</div>
          <div class="clicks">250 clicks</div>
        </div>
        <div class="item">
          <div class="name">Jim Beam Kentucky</div>
          <div class="clicks">250 clicks</div>
        </div>
        <div class="item">
          <div class="name">Jim Beam Kentucky</div>
          <div class="clicks">250 clicks</div>
        </div>
        <div class="item">
          <div class="name">Jim Beam Kentucky</div>
          <div class="clicks">250 clicks</div>
        </div>
        <div class="item">
          <div class="name">Jim Beam Kentucky</div>
          <div class="clicks">250 clicks</div>
        </div>
        <div class="item">
          <div class="name">Jim Beam Kentucky</div>
          <div class="clicks">250 clicks</div>
        </div>
        <div class="item">
          <div class="name">Jim Beam Kentucky</div>
          <div class="clicks">250 clicks</div>
        </div>
      </div>
    </div>
  </div>
</div> -->