<div class="my-profile">
    <p>Edit your personal information below. This information will be used by Sellr to contact you.</p>

    <fieldset layout="column" class="nomargin">
        <md-input-container>
            <label>First Name</label>
            <input type="text" value="Christine">
        </md-input-container>

        <md-input-container>
            <label>Last Name</label>
            <input type="text" value="Hong">
        </md-input-container>

        <md-input-container>
            <label>Email</label>
            <input type="email" value="christine@getsellr.com">
        </md-input-container>

        <md-input-container>
            <label>Phone Number</label>
            <input type="text" value="555-555-5555">
        </md-input-container>
    </fieldset>
</div>
