<form class="my-profile" name="userForm" ng-submit="updateUserProfile(userForm.$valid)" novalidate autocomplete="off">
    <md-toolbar class="header-bar">
        <div class="md-toolbar-tools">
            <h1>My Profile</h1>
            <span flex></span>
            <md-button type="submit" class="save green">Save</md-button>
        </div>
    </md-toolbar>

    <div class="view">
        <p>Edit your personal information below. This information will be used by Sellr to contact you.</p>

        <fieldset class="nomargin" layout="column">
            <md-input-container show-errors>
                <label>Display name</label>
                <input type="text" ng-model="user.displayName" name="displayName" required maxlength="100" autofocus>
                <ng-messages for="userForm.displayName.$error" class="alert">
                    <ng-message when="required">Display name is required.</ng-message>
                    <ng-messages-include src="error-messages"></ng-messages-include>
                </ng-messages>
            </md-input-container>

            <md-input-container show-errors>
                <label>Email</label>
                <input type="email" ng-model="user.email" name="email" required maxlength="200">
                <ng-messages for="userForm.email.$error" class="alert">
                    <ng-message when="required">Email address is required.</ng-message>
                    <ng-message when="email">Email address is invalid.</ng-message>
                    <ng-messages-include src="error-messages"></ng-messages-include>
                </ng-messages>
            </md-input-container>
        </fieldset>
    </div>
</form>
