<section ng-controller="SettingsController" class="settings-container">
    <div class="settings-view" layout-wrap layout="row" layout-padding>

        <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off" flex="40" flex-xs="100">
            <h2 class="text-center" style="margin-bottom: 30px">Edit your profile</h2>
            <fieldset class="nomargin" class="nomargin" layout="column">
                <md-input-container show-errors>
                    <label>Display name</label>
                    <input type="text" ng-model="user.displayName" name="displayName" required maxlength="100">
                    <ng-messages for="userForm.displayName.$error" class="alert">
                        <ng-message when="required">Display name is required.</ng-message>
                        <ng-messages-include src="error-messages"></ng-messages-include>
                    </ng-messages>
                </md-input-container>

                <md-input-container show-errors>
                    <label>Email</label>
                    <input type="email" ng-model="user.email" name="email" required maxlength="200">
                    <ng-messages for="userForm.email.$error" class="alert">
                        <ng-message when="required">Email address is required.</ng-message>
                        <ng-message when="email">Email address is invalid.</ng-message>
                        <ng-messages-include src="error-messages"></ng-messages-include>
                    </ng-messages>
                </md-input-container>

                <div class="text-center form-group">
                    <md-button type="submit" class="md-raised md-primary">Save Profile</md-button>
                </div>
                <div ng-show="user_success" class="text-center text-success">
                    <strong>Profile Saved Successfully</strong>
                </div>
                <div ng-show="user_error" class="text-center text-danger">
                    <strong ng-bind="user_error"></strong>
                </div>
            </fieldset>
        </form>


        <form name="passwordForm" ng-submit="changeUserPassword(passwordForm.$valid)" class="signin" novalidate autocomplete="off" flex="40" flex-xs="100">
            <h2 class="text-center" style="margin-bottom: 30px">Change your password</h2>
            <fieldset class="nomargin" layout="column">
                <md-input-container show-errors>
                    <label>Current Password</label>
                    <input type="password" ng-model="passwordDetails.currentPassword" name="currentPassword" required>
                    <ng-messages for="passwordForm.currentPassword.$error" class="alert">
                        <ng-message when="required">Your current password is required.</ng-message>
                        <ng-messages-include src="error-messages"></ng-messages-include>
                    </ng-messages>
                </md-input-container>

                <md-input-container show-errors>
                    <label>New Password</label>
                    <!--<input type="password" ng-model="passwordDetails.newPassword" name="newPassword" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>-->
                    <input type="password" ng-model="passwordDetails.newPassword" name="newPassword" required minlength="6">
                    <ng-messages for="passwordForm.newPassword.$error" class="alert">
                        <ng-message when="required">Enter a new password.</ng-message>
                        <ng-message when="minlength">The password must be at least 6 characters long.</ng-message>
                        <!--<ng-message when="requirements">
                            <p class="help-block error-text" ng-repeat="passwordError in passwordErrors">{{passwordError}}</p>
                        </ng-message>-->
                        <ng-messages-include src="error-messages"></ng-messages-include>
                    </ng-messages>
                </md-input-container>

                <md-input-container show-errors>
                    <label>Verify Password</label>
                    <input type="password" ng-model="passwordDetails.verifyPassword" name="verifyPassword" required
                           password-verify="passwordDetails.newPassword">
                    <ng-messages for="passwordForm.verifyPassword.$error" class="alert">
                        <ng-message when="required">Verify your new password.</ng-message>
                        <ng-message when="passwordVerify">Passwords do not match.</ng-message>
                        <ng-messages-include src="error-messages"></ng-messages-include>
                    </ng-messages>
                </md-input-container>

                <div class="text-center form-group">
                    <md-button type="submit" class="md-raised md-primary">Save Password</md-button>
                </div>
                <div ng-show="password_success" class="text-center text-success">
                    <strong>Password Changed Successfully</strong>
                </div>
                <div ng-show="password_error" class="text-center text-danger">
                    <strong ng-bind="password_error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
