<section ng-controller="SettingsController" class="settings-container">
    <div class="settings-view" layout-wrap layout="row" layout-padding>

        <div class="account-menu" layout="column">
            <md-sidenav md-is-locked-open="true" md-whiteframe="3" layout-padding>
                <h1>My Account</h1>
                <md-divider></md-divider>
                <a class="active" ui-sref="settings.profile" ui-sref-active="active">My Profile</a>
                <a ui-sref="settings.store" ui-sref-active="active">Store Profile</a>
                <a ui-sref="settings.tablets" ui-sref-active="active">Tablets</a>
                <a ui-sref="settings.services" ui-sref-active="active">Services</a>
                <a ui-sref="settings.billing" ui-sref-active="active">Billing History</a>
            </md-sidenav>
        </div>

        <div class="view-container" md-whiteframe="3" ui-view>
        </div>
    </div>
</section>
