<section ng-controller="SettingsController" class="settings-container">
    <div class="settings-view show-sidenav" layout="row" layout-xs="column" layout-padding
         ng-class="{ fullsize: $mdMedia('xs') || !$mdMedia('gt-md') && $state.is('settings.store') }">

        <div class="account-menu" layout="column">
            <md-sidenav md-is-locked-open="true" md-whiteframe="3" layout-padding>
                <h1>My Account</h1>
                <md-divider></md-divider>
                <a ui-sref="settings.store" ui-sref-active="active">Store Profile</a>
                <a ui-sref="settings.tablets" ui-sref-active="active">Tablets</a>
            </md-sidenav>
        </div>

        <div class="view-container" ui-view layout="row" layout-xs="column">
        </div>
    </div>
</section>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
