<div class="accounts-manager-view">
  <div class="auto-save-box" ng-show="ui.display !== 'fulltable'">
    <i class="fa fa-circle"></i> Automatically Saved
  </div>
  <div ng-class="['left-side-content', {full: ui.display === 'fulltable'}]">
    <div class="title">All Accounts</div>
    <div class="main-table">
      <!--
      FILTER HEADER
      -->
      <div class="filter-header">
        <div class="left-filter">
          <div class="common-input-with-icon">
            <input type="text" placeholder="Search" class="common-input" ng-model="ui.search">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <div class="right-filter">
          <div class="common-btn-black" ng-click="openCreateAccountSidebar()">Create Account</div>
        </div>
      </div>
      <!--
      COLUMNS HEADER
      -->
      <div class="columns-header">
        <div class="id-col" ng-click="reOrderList('accountId')"><span>ID</span> <i class="fa fa-sort"></i></div>
        <div class="name-col" ng-click="reOrderList('name')"><span>Name</span> <i class="fa fa-sort"></i></div>
        <div class="created-col" ng-click="reOrderList('createdDateMoment')"><span>Created</span> <i class="fa fa-sort"></i></div>
        <div class="users-col" ng-click="reOrderList('usersNum')"><span>Users</span> <i class="fa fa-sort"></i></div>
        <div class="products-col" ng-click="reOrderList('productsNum')"><span>Products</span> <i class="fa fa-sort"></i></div>
        <div class="contact-col" ng-click="reOrderList('contactName')"><span>Contact</span> <i class="fa fa-sort"></i></div>
        <div class="website-col" ng-click="reOrderList('website')"><span>Website</span> <i class="fa fa-sort"></i></div>
        <div class="actions-col"><span>&nbsp;</span></div>
      </div>
      <!--
      COLUMNS DATA ROWS
      -->
      <div class="columns-data" ng-repeat="account in accountsService.accounts | filterBy:['accountId','name','contactName','email']:ui.search | orderBy:ui.sortExpression track by account.accountId">
        <div class="id-col" ng-bind-html="account.accountId | highlight:ui.search"></div>
        <div class="name-col" ng-bind-html="account.name | highlight:ui.search">Beam</div>
        <div class="created-col" ng-bind="account.createdDateStr"></div>
        <div class="users-col" ng-bind="account.usersNum"></div>
        <div class="products-col" ng-bind="account.productsNum || 0" ></div>
        <div class="contact-col">
          <div ng-bind-html="account.contactName | highlight:ui.search">Maurice Chavez</div>
          <div ng-if="account.email" ng-bind-html="account.email | highlight:ui.search"></div>
          <div ng-if="account.phone" ng-bind="account.phone"></div>
        </div>
        <div class="website-col">
          <input class="custom-checkbox" type="checkbox" id="accountwebsite{$index}" ng-model="account.website" disabled />
          <label for="accountwebsite{$index}">&nbsp;</label>
        </div>
        <div class="actions-col">
          <div class="common-select-container">
            <div ng-class="['common-select-trigger ignore-click-trigger', {active:ui.actionsOptionsSelect[$index]}]" ng-click="openMenu('actionsOptionsSelect', $index)">
              Actions
            </div>
            <div class="common-select-options" ng-show="ui.actionsOptionsSelect[$index]" ng-mouseleave="ui.actionsOptionsSelect[$index] = false">
              <div class="common-select-option" ng-click="openEditAccountSidebar(account)">Edit Account</div>
              <div class="common-select-option" ng-click="showManageStoresDialog($event)">Manage Stores</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  ACCOUNT RIGHT SIDE
  -->
  <div class="right-side-content" ng-show="ui.display !== 'fulltable'" ng-switch="ui.display">
    <div class="title" ng-switch-when="createAccount">New Account</div>
    <div class="title" ng-switch-when="editAccount">Edit Account</div>
    <div class="side-panel">
      <form name="accountForm" ng-submit="submitAccount(accountForm.$valid)" novalidate>
        <div class="common-field-title">Account Name</div>
        <input type="text" class="common-input" name="name" ng-model="ui.currentAccount.name" required>
        <input-error-msg form="accountForm" field="name" errors="{required: 'Account name is required'}"></input-error-msg>
        <div class="common-field-title">Contact Name</div>
        <input type="text" class="common-input" name="contactName" ng-model="ui.currentAccount.contactName" required>
        <input-error-msg form="accountForm" field="contactName" errors="{required: 'Contact name is required'}"></input-error-msg>
        <div class="common-field-title">Email</div>
        <input type="email" class="common-input" name="email" ng-model="ui.currentAccount.email" required>
        <input-error-msg form="accountForm" field="email" errors="{required: 'Email is required', email: 'Wrong email format'}"></input-error-msg>
        <div class="checks-container">
          <div class="shoppr-check">
            <div class="common-field-title">Shoppr</div>
            <input class="custom-checkbox" type="checkbox" id="currentaccountshoppr" ng-model="ui.currentAccount.preferences.shoppr" />
            <label for="currentaccountshoppr">&nbsp;</label>
          </div>
          <div class="website-check">
            <div class="common-field-title">Website</div>
            <input class="custom-checkbox" type="checkbox" id="currentaccountwebsite" ng-model="ui.currentAccount.preferences.website" />
            <label for="currentaccountwebsite">&nbsp;</label>
          </div>
        </div>
        <div class="common-field-title">Website Url</div>
        <input type="text" class="common-input" ng-model="ui.currentAccount.preferences.websiteUrl">
        <div class="auth-code" ng-switch-when="editAccount">
          <div class="auth-text">Device Authentication Code: <span ng-bind="ui.currentAccount.authCode"></span></div>
          <div class="common-btn-black" ng-click="getNewAuthCode()">Get New Code</div>
        </div>
        <!-- CONTACT INFO ADDRESS is Store info -->
        <!-- CONTACT INFO ADDRESS is Store info -->
        <!-- CONTACT INFO ADDRESS is Store info -->
        <!--   <div class="common-field-title">Phone</div>
        <input type="text" class="common-input" ng-model="ui.currentAccount.phone">
        <div class="common-field-title">Address</div>
        <input type="text" class="common-input" name="address" ng-model="ui.currentAccount.address" required>
        <input-error-msg form="accountForm" field="address" errors="{required: 'Address is required'}"></input-error-msg>
        <div class="common-field-title">City</div>
        <input type="text" class="common-input" name="city" ng-model="ui.currentAccount.city" required>
        <input-error-msg form="accountForm" field="city" errors="{required: 'City is required'}"></input-error-msg>
        <div class="state-zip-container">
          <div class="state">
            <div class="common-field-title">State</div>
            <selectize placeholder="Select a state" class="custom-selectize" config="stateSelectConfig" options="stateSelectOptions" ng-model="ui.currentAccount.state">
            </selectize>
            <div class="common-input-error-msg" ng-show="ui.stateRequired">State is required</div>
          </div>
          <div class="zip">
            <div class="common-field-title">Zip</div>
            <input type="text" class="common-input" name="zipCode" ng-model="ui.currentAccount.zipCode" required maxlength="5" ng-pattern="/^\d{5}$/">
            <input-error-msg form="accountForm" field="zipCode" errors="{required: 'Zipcode is required', pattern: 'Invalid Zipcode'}"></input-error-msg>
          </div>
        </div> -->
        <!-- WEBSITE THEME -->
        <!-- WEBSITE THEME -->
        <!-- WEBSITE THEME -->
        <!--   <div class="common-field-title">Website Theme</div>
        <div class="common-select-container">
          <div ng-class="['common-select-trigger ignore-click-trigger', {active:ui.websiteThemesOptionsSelect}]" ng-click="openMenu('websiteThemesOptionsSelect')">
            Website Theme
          </div>
          <div class="common-select-options" ng-show="ui.websiteThemesOptionsSelect" ng-mouseleave="ui.websiteThemesOptionsSelect = false">
            <div class="common-select-option">Theme 1</div>
            <div class="common-select-option">Theme 2</div>
            <div class="common-select-option">Theme 3</div>
            <div class="common-select-option">Theme 4</div>
          </div>
        </div> -->
        <div class="common-btns-bar">
          <div class="common-btn-negative small has-left-icon" ng-click="showDeleteAccountDialog()" ng-switch-when="editAccount"><i class="fa fa-trash-o"></i> Delete</div>
          <div class="common-btn-gray small" ng-click="ui.display = 'fulltable'">Cancel</div>
          <button class="common-btn-positive" type="submit" ng-bind="ui.display === 'createAccount' ? 'Create' : 'Update'"></button>
        </div>
      </form>
    </div>
  </div>
</div>