<div class="product-types-manager-view">
  <div class="left-column">
    <div class="gray-container">
      <selectize class="custom-selectize" config="industryTypeConfig" options="industryTypes" ng-model="ui.industryFilter">
      </selectize>
    </div>
    <div class="type-container">
      <div class="type-image">
        <img src="/img/beer_grey_placeholder.png" alt="icon">
      </div>
      <div>
        <div><strong>Spirit</strong></div>
        <div class="industry">Beverage</div>
      </div>
    </div>
    <div class="type-container">
      <div class="type-image">
        <img src="/img/beer_grey_placeholder.png" alt="icon">
      </div>
      <div>
        <div><strong>Spirit</strong></div>
        <div class="industry">Beverage</div>
      </div>
    </div>
    <div class="type-container">
      <div class="type-image">
        <img src="/img/beer_grey_placeholder.png" alt="icon">
      </div>
      <div>
        <div><strong>Spirit</strong></div>
        <div class="industry">Beverage</div>
      </div>
    </div>
    <div class="type-container">
      <div class="type-image">
        <img src="/img/beer_grey_placeholder.png" alt="icon">
      </div>
      <div>
        <div><strong>Spirit</strong></div>
        <div class="industry">Beverage</div>
      </div>
    </div>
    <div class="gray-container">
      <div class="common-btn-black small">New Type</div>
    </div>
  </div>
  <div class="right-column">
    <div class="top-section">
      <div class="type-definition">
        <div class="type-definition-input">
          <div class="common-field-title">Type Name</div>
          <input type="text" class="common-input" name="name" ng-model="type">
        </div>
        <div class="type-definition-input">
          <div class="common-field-title">Industry</div>
          <input type="text" class="common-input" name="name" ng-model="type">
        </div>
        <div class="type-image">
          <img src="/img/beer_grey_placeholder.png" alt="icon">
        </div>
      </div>
      <div>
        <div class="common-btn-positive small save-btn">Save</div>
        <div class="common-btn-gray small">Cancel</div>
      </div>
    </div>
    <div class="separator">
      Fields
    </div>
    <div class="form-element" ng-repeat="formElement in ui.formElements">
      <div class="form-element-definition">
        <div class="element-definition-input">
          <div class="common-field-title">Form Element</div>
          <selectize class="custom-selectize" config="formElementTypeConfig" options="formElementTypes" ng-model="formElement.type">
          </selectize>
        </div>
        <div class="element-definition-input">
          <div class="common-field-title">Label</div>
          <input type="text" class="common-input" name="name" ng-model="type">
        </div>
        <div class="element-definition-input">
          <div class="common-field-title">Instructions</div>
          <input type="text" class="common-input" name="name" ng-model="type">
        </div>
        <div class="element-definition-input-single" ng-if="formElement.type === 'Select Dropdown'">
          <div class="common-field-title">Options</div>
          <input type="text" class="common-input" name="name" ng-model="type">
        </div>
      </div>
      <div>
        <div class="element-definition-checkbox">
          <input class="custom-checkbox" type="checkbox" id="ownercanedit{{$index}}" ng-model="formElement.ownercanedit" />
          <label for="ownercanedit{{$index}}">Store Owner Can Edit</label>
        </div>
        <div>
          <input class="custom-checkbox" type="checkbox" id="editorcanedit{{$index}}" ng-model="formElement.editorcanedit" />
          <label for="editorcanedit{{$index}}">Product Editor can edit</label>
        </div>
      </div>
    </div>
    <div class="add-more">
      <span class="add-container" ng-click="addFormElement()">
        <i class="fa fa-plus"></i>
      </span>
    </div>
  </div>
</div>