#topNav {
  width: 100%;
  top: 0;
  position: fixed;
  left: 0;
  transition: all .25s;
  overflow: hidden !important;
  z-index: 1;
  background: #2B333F;
  color: white;
}
#topNav:hover {
  width: 100%;
}
#topNav .md-toolbar-tools {
  height: 15vh;
  max-height: 15vh;
}
#topNav .md-menu {
  right: 0;
  overflow: visible;
  z-index: inherit;
}
#topNav #profmenu {
  right: 0;
  overflow: visible;
  z-index: 9999;
}
#topNav #profbutton img {
  height: 5vh;
  width: 5vh;
}
#topNav #profbutton {
  padding-top: 5vh;
  padding-right: 10vh;
  overflow: visible;
  z-index: inherit;
}
#topNav #pagebutton {
  padding-top: 10vh;
  display: inline-block;
}
#topNav md-toolbar.md-default-theme:not(.md-menu-toolbar),
#topNav md-toolbar:not(.md-menu-toolbar) {
  background-color: transparent;
}
