#topNav {
  width: 100%;
  height: 25vh;
  top: 0;
  position: fixed;
  left: 0;
  transition: all .25s;
  overflow: visible !important;
  background: #1f1f1f;
  color: white;
}
#topNav:hover {
  width: 100%;
}
#topNav .md-menu {
  right: 0;
  z-index: auto;
}
#topNav #profbutton {
  padding-top: 6vh;
  overflow: auto;
}
#topNav #pagebutton {
  padding-left: 10vh;
  padding-top: 10vh;
  display: inline-block;
}
#topNav md-toolbar.md-default-theme:not(.md-menu-toolbar),
#topNav md-toolbar:not(.md-menu-toolbar) {
  background-color: transparent;
}
