/* VIRTUAL COLORS */
/* BRANDING */
/* SHADING / GRADIENTS */
/* SITE FRAMEWORK */
body.dashboard {
  background: #f5f5f5;
  height: auto;
  font-size: 15px;
}
body.dashboard .content {
  position: absolute;
  width: 100vw;
  top: 120px;
}
body.dashboard .content .titlebar {
  background: #1f2532;
  padding: 20px 0;
}
body.dashboard .content .titlebar h1 {
  margin: 0 auto;
  color: white;
  max-width: 1200px;
}
body.dashboard .content .pagecontent {
  margin: 2vh auto 0;
  max-width: 1200px;
  padding: 0 5vw;
}
body.dashboard a {
  color: #2DC89A;
  text-decoration: none;
}
body.dashboard a:hover {
  color: #171625;
}
body.dashboard md-list .md-subheader {
  font-size: 24px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
body {
  height: auto;
}
#topNav .md-toolbar-tools {
  font-size: 100%;
  width: 100%;
  top: 0;
  min-height: 120px;
  position: fixed;
  left: 0;
  transition: all .25s;
  overflow: hidden !important;
  z-index: 999;
  background: #151922;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
}
#topNav .md-toolbar-tools .my-active-class {
  color: #2DC89A;
  background: transparent;
}
#topNav .md-toolbar-tools .my-inactive-class {
  color: white;
  background: transparent;
}
#topNav .md-toolbar-tools .brand {
  background-image: url('../img/logo_white.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 180px;
  opacity: .25;
}
#topNav .md-toolbar-tools:hover {
  width: 100%;
}
#topNav .md-toolbar-tools .md-toolbar-tools {
  margin: 0 auto;
  padding: 0;
}
#topNav .md-toolbar-tools .md-menu {
  right: 0;
  overflow: visible;
  z-index: 9999;
}
#topNav .md-toolbar-tools .md-menu button {
  font-size: 1em;
}
#topNav .md-toolbar-tools #profmenu {
  right: 0;
  overflow: visible;
  z-index: 9999;
}
#topNav .md-toolbar-tools #profbutton {
  padding-top: 25px;
  padding-right: 10vh;
  overflow: visible;
  z-index: inherit;
}
#topNav .md-toolbar-tools #profbutton img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#topNav .md-toolbar-tools #pagebutton {
  margin-top: 3vh;
  display: inline-block;
}
#topNav .md-toolbar-tools #pagebutton .md-button {
  text-transform: none;
  font-size: 16px;
  margin: 6px 0;
}
#topNav .md-toolbar-tools #pagebutton .md-button:hover {
  color: #FE3A6D;
  background-color: transparent;
}
#topNav .md-toolbar-tools md-toolbar.md-default-theme:not(.md-menu-toolbar),
#topNav .md-toolbar-tools md-toolbar:not(.md-menu-toolbar) {
  background-color: transparent;
}
.md-menu-bar-menu {
  padding: 0;
}
.md-menu-bar-menu.md-dense md-menu-item {
  padding-left: 20px;
  color: #142332;
  line-height: 48px;
  height: auto;
}
.md-menu-bar-menu.md-dense md-menu-item:hover {
  color: #2DC89A;
  background: #DFE3EB;
  cursor: pointer;
}
.md-open-menu-container {
  z-index: 1000;
}
section.userList .invite {
  background-color: #2DC89A;
  color: white;
}
section.userList .userbox {
  background: white;
}
.sign-in {
  background-image: url(' ../img/bg_3.png ');
  background-size: cover;
  background-position: center;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-repeat: no-repeat;
}
.sign-in .shading {
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  min-height: 100vh;
  top: 0;
  position: absolute;
  background: #43cf07;
}
.sign-in #login-form,
.sign-in #reset-form {
  max-width: 580px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.sign-in #login-form .alt-actions,
.sign-in #reset-form .alt-actions {
  margin-top: 2vh;
  font-size: 13px;
  color: #efefef;
}
.sign-in #login-form .alt-actions a,
.sign-in #reset-form .alt-actions a {
  color: #2DC89A;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s;
}
.sign-in #login-form .alt-actions a:hover,
.sign-in #reset-form .alt-actions a:hover {
  color: white;
  transition: all .5s;
}
.sign-in #login-form form,
.sign-in #reset-form form {
  background: white;
  padding: 50px 100px;
}
.sign-in #login-form input:-webkit-autofill,
.sign-in #reset-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border-color: #333;
}
.sign-in #login-form .logo,
.sign-in #reset-form .logo {
  margin: 1vh auto 4vh auto;
  display: block;
  background-image: url('../img/logo_black.png');
  background-size: contain;
  min-height: 130px;
  max-height: 15vh;
  background-position: center;
  background-repeat-x: no-repeat;
  background-repeat: no-repeat;
}
.sign-in #login-form input[type=text],
.sign-in #reset-form input[type=text] {
  height: 42px;
  border-radius: 0px;
  font-weight: 200;
  font-size: 19px;
  max-width: 100%;
  margin: 10px auto;
}
.sign-in #login-form input[type=password],
.sign-in #reset-form input[type=password] {
  height: 42px;
  border-radius: 0px;
  font-weight: 200;
  font-size: 19px;
  max-width: 100%;
  margin: 10px auto;
}
.sign-in #login-form input[type=username],
.sign-in #reset-form input[type=username] {
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  margin-bottom: -5px;
}
.sign-in #login-form label,
.sign-in #reset-form label {
  display: inline-block;
}
.sign-in #login-form input[type=password]:focus,
.sign-in #reset-form input[type=password]:focus {
  background-color: #ffffff;
}
.sign-in #login-form input[type=text]:focus,
.sign-in #reset-form input[type=text]:focus {
  background-color: #ffffff;
}
.sign-in #login-form input[type=checkbox],
.sign-in #reset-form input[type=checkbox] {
  margin-left: 5px;
}
.sign-in #login-form .action,
.sign-in #reset-form .action {
  background-color: #2DC89A;
  color: white;
  max-width: 100%;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px;
  margin: 30px 0 30px;
}
.sign-in #login-form .action:hover,
.sign-in #reset-form .action:hover {
  background-color: #142332;
  color: #ffffff;
}
.sign-in #login-form #remember,
.sign-in #reset-form #remember {
  margin-right: 8px;
  margin-left: 32px;
}
@media (max-width: 767px) {
  .sign-in form#login-form img {
    margin-top: 0;
  }
}
.adManager .live {
  background: ;
}
.adManager .live .tab {
  background: red;
  color: white;
  padding: 2vh 5%;
  display: table;
}
.adManager .library {
  margin-top: 2vh;
}
.adManager .library hr {
  border-width: 4px;
}
.adManager .library .ads,
.adManager .library .ads .ad {
  background: transparent;
  color: black;
}
.adManager .upload {
  background-color: #2DC89A;
  color: white;
}
.adManager .ads {
  background: white;
  padding: 0 2.5%;
}
.adManager .ads .ad {
  width: 23%;
  display: inline-block;
  padding: 10px;
  text-align: center;
  color: white;
  position: relative ;
}
.adManager .ads .ad p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.adManager .ads .ad .action {
  display: inline;
  opacity: 0;
  background: green;
  position: relative;
  margin: 0 auto;
  top: 90px;
  height: auto%;
  text-align: center;
  color: white;
  border-radius: ;
  padding: 10px;
  vertical-align: middle;
  transition: all .3s ease;
  z-index: 10;
}
.adManager .ads .ad .action.delete {
  background: red;
}
.adManager .ads .ad:hover .action {
  opacity: 1;
  cursor: pointer;
  transition: all .3s ease;
}
.adManager .ads .ad:hover .img {
  opacity: 0.5;
  transition: all .3s ease;
}
.adManager .ads .ad .img {
  height: 180px;
  background: url('http://placehold.it/1920x1080/333333');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  float: ;
}
.dashboard .topten md-list {
  padding-top: 0;
  background: white;
}
.dashboard .topten md-list-item {
  padding: 8px 30px;
  font-weight: 400;
  color: #5a6772;
}
.dashboard .topten md-toolbar {
  background-color: #1f2532;
  color: #DFE3EB;
}
.dashboard .chartbox {
  padding: 16px;
}
.dashboard .leads .leadgen {
  background: white;
  color: #1f2532;
  width: 48%;
  height: 12vh;
  float: left;
  text-align: center;
  transition: all .3s ease;
}
.dashboard .leads .leadgen:first-of-type {
  margin-right: 4%;
}
@media (max-width: 480px) {
  .dashboard .leads .leadgen {
    width: 100%;
    margin: 0 0 2vh !important ;
  }
}
.dashboard .leads .leadgen .overlay {
  opacity: 0;
  height: 12vh;
  width: 100%;
  text-align: center;
  display: none;
  background: rgba(0, 0, 0, 0.3);
  line-height: 12vh;
  position: fixed;
}
.dashboard .leads .leadgen:hover {
  transition: all .3s ease;
  cursor: pointer;
  background: #8D9AA5;
  color: white;
}
.dashboard .leads .leadgen:hover .overlay {
  transition: all .3s ease;
  display: inline-block;
  opacity: 1;
}
.dashboard .leads .leadgen .icon {
  background: #3299BB;
  display: table;
  position: relative;
  float: left;
  width: 30%;
  color: white;
  height: 12vh;
}
.dashboard .leads .leadgen .icon i {
  font-size: 60px;
  vertical-align: middle;
  display: table-cell;
}
@media (max-width: 1200px) {
  .dashboard .leads .leadgen .icon i {
    font-size: 40px;
  }
}
.dashboard .leads .leadgen .data {
  display: table;
  height: 12vh;
  width: 70%;
}
.dashboard .leads .leadgen .data .centerhelp {
  height: 12vh;
  display: table-cell;
  vertical-align: middle;
}
.dashboard .leads .leadgen .data .number {
  font-size: 60px;
  line-height: 60px;
  left: 65px;
  font-weight: bold;
  position: inherit;
  text-transform: initial;
}
.dashboard .leads .leadgen .data .label {
  display: block;
  margin-top: 5px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.dashboard .devices {
  float: left;
}
.dashboard .devices .device {
  min-width: 8vw;
  min-height: 9vh;
  float: left;
  text-align: center;
  padding: 2.5%;
  max-width: 200px;
  min-height: 150px;
}
@media (max-width: 768px) {
  .dashboard .devices .device {
    min-width: 26%;
  }
}
@media (max-width: 480px) {
  .dashboard .devices .device {
    min-width: 40%;
  }
}
.dashboard .devices .device p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  text-transform: capitalize;
}
@media (max-width: 480px) {
  .dashboard .devices .device p {
    font-size: 14px;
  }
}
.dashboard .devices .device .icon {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  font-size: 70px;
  line-height: 90px;
  color: #2DC89A;
}
.dashboard .devices .device .icon.error {
  color: #FF0000;
}
.pricingcalc {
  font-size: 18px;
  margin-top: 10vh;
}
.pricingcalc .toprow {
  display: table;
  width: 100%;
  padding: 5vh 0 ;
}
.pricingcalc .toprow .plus {
  width: 5%;
  float: left;
  font-size: 50px;
  line-height: 150px;
  color: #999;
}
.pricingcalc .pccol {
  width: 26%;
  float: left;
  padding: 3vh 1.5vw;
  text-align: center;
}
.pricingcalc .pccol h1 {
  font-size: 80px;
  font-weight: 900;
  margin: 0;
}
.pricingcalc .pccol h4 {
  margin: 0;
}
.pricingcalc .pccol .select {
  margin-top: 5vh;
}
.pricingcalc .pccol .item {
  display: block;
  float: left;
  width: 100%;
}
.pricingcalc .pccol .item .title {
  text-align: left;
  float: left;
  padding: 10px 15px;
  font-weight: bold;
}
.pricingcalc .pccol .item input {
  float: right;
  margin: 15px 0 ;
}
.pricingcalc .pccol .item .btn {
  float: right;
  color: white;
  padding: 6px 12px;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
}
.pricingcalc .pccol .item .btn.add {
  background: #00AB51;
}
.pricingcalc .pccol .item .btn.remove {
  background: #B2B2B2;
  margin-right: 10px;
}
.pricingcalc .bottomrow {
  margin-top: 5vh;
  background: #313131;
  display: table;
  width: 100%;
  color: White;
}
.pricingcalc .bottomrow .discount {
  float: right;
  color: #333;
  background: #efefef;
  padding: 2vh 5vw;
  width: 100%;
}
.pricingcalc .bottomrow .discount h4 {
  float: right;
  margin-right: 2.5vw;
}
.pricingcalc .bottomrow .discount select {
  float: right;
}
.pricingcalc .bottomrow .total {
  padding: 2vh 5vw;
  float: right;
}
.pricingcalc .bottomrow .total h4,
.pricingcalc .bottomrow .total h1 {
  display: inline-block;
  float: right;
  line-height: 40px;
}
.pricingcalc .bottomrow .total h4 {
  margin-right: 2.5vw;
}
.stats .left {
  width: 50vw;
  height: 100vw;
  float: left;
}
.stats .left .deviceframe {
  transform: scale(0.3);
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
}
.stats .right {
  width: 50vw;
  height: 100vw;
  float: left;
  padding: 5%;
}
.stats .devices {
  float: left;
  position: absolute;
  top: 50vw;
  padding: 0 2%;
}
.stats .devices .device {
  width: 25%;
  height: 15vh;
  float: left;
  text-align: center;
  padding: 2.5%;
}
@media (max-width: 768px) {
  .stats .devices .device {
    width: 33%;
  }
}
@media (max-width: 480px) {
  .stats .devices .device {
    width: 50%;
  }
}
.stats .devices .device p {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  text-transform: capitalize;
}
@media (max-width: 480px) {
  .stats .devices .device p {
    font-size: 14px;
  }
}
.stats .devices .device .icon {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  font-size: 50px;
  line-height: 50px;
  color: #00AB51;
}
.stats .devices .device .icon.error {
  color: red;
}
.productEditor {
  padding-top: 120px;
}
.productEditor .stats {
  text-align: center;
  background: #142332;
  width: 100vw;
  z-index: 50;
  min-height: 100px;
  color: white;
  position: fixed;
  top: 120px;
  -webkit-box-shadow: inset 0px 0px 30px 5px #000000;
  -moz-box-shadow: inset 0px 0px 30px 5px #000000;
  box-shadow: inset 0px 0px 30px 5px #000000;
}
.productEditor .stats #searchStore {
  margin-top: 10%;
  width: 160px;
}
.productEditor .stats .status:hover {
  cursor: pointer;
  background: rgba(137, 137, 137, 0.89);
  transition: all .5s ease;
}
.productEditor .stats .status:focus {
  outline: 0;
}
.productEditor .stats .status.active {
  background: white;
  color: #2DC89A;
}
.productEditor .stats .btn-group {
  top: 33px;
}
.productEditor .stats h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0px;
}
.productEditor .stats span {
  font-size: 14px;
  padding-bottom: 25px;
  font-weight: bold;
  display: block;
}
.productEditor .stats a:hover {
  text-decoration: none;
}
.productEditor .stats .grey a {
  color: #888;
}
.productEditor .stats .orange a {
  color: #E67E22;
}
.productEditor .stats:nth-child(1) a {
  color: #fff;
}
.productEditor .stats:nth-child(3) a {
  color: #3CD669;
}
.productEditor .stats md-progress-circular {
  margin: 0 auto;
}
.productEditor .stats .progressCirculardemoBasicUsage .visible {
  border-color: #2DC89A;
}
.productEditor .reference {
  max-width: 33%;
}
.productEditor .sidebar-entry {
  margin-bottom: 30px;
}
.productEditor .sidebar-entry a {
  color: #333;
}
.productEditor #sidebar-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 900;
}
.productEditor #last-edited {
  font-size: 12px;
}
.productEditor label {
  opacity: .7;
}
.productEditor #note {
  position: fixed;
  z-index: 101;
  top: 0px;
  color: white;
  right: 0px;
  left: 0px;
  height: 55px;
  font-size: 19px;
  opacity: 0.85;
  width: 100vw;
  background: #00AB51;
  text-align: center;
  line-height: 2.7;
  overflow: hidden;
  display: none;
  transition: display .3s;
  animation: note 0.5s 1;
  -webkit-animation: note 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
  /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}
@keyframes note {
  from {
    opacity: .85;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes note {
  from {
    opacity: .85;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-ms-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-o-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
.productEditor .loading-anim .uil-ripple-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.productEditor .loading-anim .uil-ripple-css div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  border-width: 12px;
  border-style: solid;
  -ms-animation: uil-ripple 2s ease-out 5;
  -moz-animation: uil-ripple 2s ease-out 5;
  -webkit-animation: uil-ripple 2s ease-out 5;
  -o-animation: uil-ripple 2s ease-out 5;
  animation: uil-ripple 2s ease-out 5;
}
.productEditor .loading-anim .uil-ripple-css div:nth-of-type(1) {
  border-color: #2dc89a;
}
.productEditor .loading-anim .uil-ripple-css div:nth-of-type(2) {
  border-color: #142332;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.productEditor medium-editor,
.productEditor [medium-editor] {
  height: auto;
  min-height: 150px;
}
.productEditor medium-editor a,
.productEditor [medium-editor] a {
  cursor: pointer;
  pointer-events: none;
}
.productEditor medium-editor .medium-insert-buttons,
.productEditor [medium-editor] .medium-insert-buttons {
  display: none;
  margin-left: -55px;
}
.productEditor medium-editor .medium-insert-buttons a,
.productEditor [medium-editor] .medium-insert-buttons a {
  pointer-events: auto;
}
.productEditor medium-editor img,
.productEditor [medium-editor] img {
  pointer-events: none;
}
.productEditor medium-editor .image.uploading,
.productEditor [medium-editor] .image.uploading {
  position: relative;
  vertical-align: top;
}
.productEditor medium-editor .image.uploading img,
.productEditor [medium-editor] .image.uploading img {
  opacity: 0.3;
}
.productEditor medium-editor .image.uploading .progress,
.productEditor [medium-editor] .image.uploading .progress {
  background: transparent;
  box-shadow: none;
  color: darkgrey;
  font-size: 16pt;
  height: 30px;
  left: 10px;
  position: absolute;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  top: 5px;
  width: 200px;
}
.productEditor .feedback.alert {
  background-color: #46c4d4;
  border: none;
  color: #ffffff;
}
.productEditor .product-editor-list {
  position: relative;
}
.productEditor .product-editor-list .bottom-action-menu {
  position: fixed;
  bottom: -100px;
  transition: all 0.5s ease;
  overflow: hidden;
  left: 0px;
  width: 40%;
  background-color: #151922;
  height: 50px;
  color: #fff;
  border: 1px solid #95989a;
}
.productEditor .product-editor-list .bottom-action-menu.active {
  bottom: 0px;
}
.productEditor .product-editor-list .bottom-action-menu .action-btn {
  background-color: #549788;
  float: right;
  margin-right: 20px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 7px;
}
.productEditor .product-editor-list .list-container {
  padding: 40px 20px;
}
.productEditor .product-editor-list .list-container .search-input {
  height: 40px;
  font-size: 22px;
  color: #8D9AA5;
  border: 1px solid #DFE3EB;
  border-right: none;
  width: 100%;
  margin: 0px;
  padding: 5px 10px 5px 15px;
  outline: none;
  border-radius: 3px;
}
.productEditor .product-editor-list .list-container .search-button {
  border: none;
  background-color: #454545;
  color: #d1d1d1;
  height: 52px;
  font-size: 18px;
  text-align: center;
  line-height: 52px;
  cursor: pointer;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.productEditor .product-editor-list .list-container .search-button .fa {
  font-size: 16px;
}
.productEditor .product-editor-list .list-container .product-table-container {
  width: 100%;
  margin: 30px 0px;
}
.productEditor .product-editor-list .list-container .product-table-container table {
  border-collapse: collapse;
}
.productEditor .product-editor-list .list-container .product-table-container table thead {
  border-bottom: 1px solid #95989a;
}
.productEditor .product-editor-list .list-container .product-table-container table thead th {
  color: #95989a;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
  padding: 5px 3px;
  width: 10%;
}
.productEditor .product-editor-list .list-container .product-table-container table thead th:nth-child(2) {
  width: 45%;
  text-align: left;
}
.productEditor .product-editor-list .list-container .product-table-container table thead th:nth-child(3) {
  width: 15%;
}
.productEditor .product-editor-list .list-container .product-table-container table thead th md-checkbox {
  margin: 0 auto;
}
.productEditor .product-editor-list .list-container .product-table-container table thead th md-checkbox.md-checked.blue-check .md-icon {
  background-color: #3299BB;
}
.productEditor .product-editor-list .list-container .product-table-container table thead th .th-title {
  display: inline-block;
}
.productEditor .product-editor-list .list-container .product-table-container table thead th .fa-sort-asc,
.productEditor .product-editor-list .list-container .product-table-container table thead th .fa-sort-desc {
  line-height: 12px;
  cursor: pointer;
}
.productEditor .product-editor-list .list-container .product-table-container table tbody tr:first-child td {
  padding-top: 25px;
}
.productEditor .product-editor-list .list-container .product-table-container table tbody td {
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
  padding: 12px 3px;
  width: 10%;
  color: #5a5c5d;
  font-weight: bold;
}
.productEditor .product-editor-list .list-container .product-table-container table tbody td:nth-child(2) {
  width: 45%;
  text-align: left;
}
.productEditor .product-editor-list .list-container .product-table-container table tbody td:nth-child(3) {
  width: 15%;
  color: #95989a;
}
.productEditor .product-editor-list .list-container .product-table-container table tbody td md-checkbox {
  margin: 0 auto;
}
.productEditor .product-editor-list .list-container .product-table-container table tbody td md-checkbox.md-checked.blue-check .md-icon {
  background-color: #3299BB;
}
.productEditor .product-editor-list .list-container .product-table-container table tbody td .fa-check {
  color: #2DC89A;
}
.productEditor .product-editor-list .list-container .product-table-container table tbody td .fa-times {
  color: #FF0000;
}
md-menu-content.product-search-menu {
  padding: 0px 20px;
}
md-menu-content.product-search-menu md-menu-item {
  font-size: 16px;
  color: #5a5c5d;
}
md-menu-content.product-search-menu md-menu-item md-checkbox.md-checked.blue-check .md-icon {
  background-color: #3299BB;
}
body.editor-products-detail .medium-editor-toolbar {
  margin-top: -220px;
}
.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 200px;
  height: 65px;
  text-align: center;
  padding-top: 25px;
  margin: 10px;
}
.dragover {
  border: 5px dashed blue;
}
body .productEditor .oncue-grid {
  transition: all 1s;
  height: 75vh;
  width: 80vw;
}
body .productEditor .editPanel {
  z-index: 100;
  width: 20vw;
  color: #ffffff;
  background-color: #1f2532;
  position: absolute;
  right: -9999px !important;
}
body .productEditor .editPanel.showPanel {
  padding: 15px;
  transition: all 0.5s;
  position: absolute;
  right: 0 !important;
}
body .productEditor .loading-data svg {
  margin-left: 35%;
  width: 30%;
  height: 30%;
}
body .productEditor .loading-data .rotate-45 {
  transform-origin: center;
  transform: rotate(45deg);
}
body .productEditor .loading-data .rotate {
  transform-origin: center;
  animation: rotate 1s ease-in-out infinite;
}
body .productEditor .loading-data .rotate-back {
  transform-origin: center;
  animation: rotate 1s ease-in-out infinite;
  animation-direction: reverse;
}
body .productEditor .loading-data .left {
  animation: move 1s ease-in-out infinite;
}
body .productEditor .loading-data .right {
  animation: move 1s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(calc(135deg));
  }
}
@keyframes move {
  50% {
    transform: translate(-30px, -30px);
  }
}
