/* VIRTUAL COLORS */
/* BRANDING */
/* SHADING / GRADIENTS */
/* SITE FRAMEWORK */
body {
  background: #f5f5f5;
  height: auto;
}
.content {
  margin: 10vh 0 0 0;
}
.content .titlebar {
  background: #1f2532;
  padding: 20px 0;
}
.content .titlebar h1 {
  margin: 0 auto;
  color: white;
  max-width: 1200px;
}
.content .pagecontent {
  margin: 2vh auto 0;
  max-width: 1200px;
  padding: 0 5vw;
}
a {
  color: #FE3A6D;
  text-decoration: none;
}
a:hover {
  color: #171625;
}
md-list .md-subheader {
  font-size: 24px;
}
#topNav {
  width: 100%;
  top: 0;
  position: fixed;
  left: 0;
  transition: all .25s;
  overflow: hidden !important;
  z-index: 999;
  background: #151922;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
}
#topNav .my-active-class {
  color: #FE3A6D;
}
#topNav .brand {
  background-image: url('../img/logo_white.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 180px;
  opacity: .25;
}
#topNav:hover {
  width: 100%;
}
#topNav .md-toolbar-tools {
  height: 10vh;
  max-height: 10vh;
  margin: 0 auto;
  padding: 0 ;
}
#topNav .md-menu {
  right: 0;
  overflow: visible;
  z-index: inherit;
}
#topNav #profmenu {
  right: 0;
  overflow: visible;
  z-index: 9999;
}
#topNav #profbutton {
  padding-top: 1.5vh;
  padding-right: 10vh;
  overflow: visible;
  z-index: inherit;
}
#topNav #profbutton img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#topNav #pagebutton {
  margin-top: 3vh;
  display: inline-block;
}
#topNav #pagebutton .md-button {
  text-transform: none;
  font-size: 16px;
}
#topNav #pagebutton .md-button:hover {
  color: #FE3A6D;
  background-color: transparent;
}
#topNav md-toolbar.md-default-theme:not(.md-menu-toolbar),
#topNav md-toolbar:not(.md-menu-toolbar) {
  background-color: transparent;
}
section.userList .invite {
  background-color: #2ECC71;
  color: white;
}
section.userList .userbox {
  background: white;
}
.sign-in {
  background-image: url(' ../img/bg_3.png ');
  background-size: cover;
  background-position: center;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
.sign-in .shading {
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  min-height: 100vh;
  top: 0;
  position: absolute;
  background: #43cf07;
  background: -moz-linear-gradient(45deg, rgba(2, 54, 73, 0.59) 50%, rgba(124, 13, 51, 0.49) );
  background: -webkit-linear-gradient(45deg, rgba(2, 54, 73, 0.59) 50%, rgba(124, 13, 51, 0.49) );
  background: linear-gradient(45deg, rgba(2, 54, 73, 0.59) 50%, rgba(124, 13, 51, 0.49) );
}
.sign-in #login-form,
.sign-in #reset-form {
  max-width: 580px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.sign-in #login-form .alt-actions,
.sign-in #reset-form .alt-actions {
  margin-top: 2vh;
  font-size: 13px;
  color: #efefef;
}
.sign-in #login-form .alt-actions a,
.sign-in #reset-form .alt-actions a {
  color: #FE3A6D;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s;
}
.sign-in #login-form .alt-actions a:hover,
.sign-in #reset-form .alt-actions a:hover {
  color: white;
  transition: all .5s;
}
.sign-in #login-form form,
.sign-in #reset-form form {
  background: white;
  padding: 50px 100px;
}
.sign-in #login-form input:-webkit-autofill,
.sign-in #reset-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border-color: #333;
}
.sign-in #login-form .logo,
.sign-in #reset-form .logo {
  margin: 1vh auto 2vh auto;
  display: block;
  background-image: url('../img/logo_black.png');
  background-size: contain;
  min-height: 160px;
  max-height: 15vh;
  background-position: center;
  background-repeat-x: no-repeat;
  opacity: .15;
}
.sign-in #login-form input[type=text],
.sign-in #reset-form input[type=text] {
  height: 42px;
  border-radius: 0px;
  font-weight: 200;
  font-size: 19px;
  max-width: 100%;
  margin: 10px auto;
}
.sign-in #login-form input[type=password],
.sign-in #reset-form input[type=password] {
  height: 42px;
  border-radius: 0px;
  font-weight: 200;
  font-size: 19px;
  max-width: 100%;
  margin: 10px auto;
}
.sign-in #login-form input[type=username],
.sign-in #reset-form input[type=username] {
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  margin-bottom: -5px;
}
.sign-in #login-form label,
.sign-in #reset-form label {
  display: inline-block;
}
.sign-in #login-form input[type=password]:focus,
.sign-in #reset-form input[type=password]:focus {
  background-color: #ffffff;
}
.sign-in #login-form input[type=text]:focus,
.sign-in #reset-form input[type=text]:focus {
  background-color: #ffffff;
}
.sign-in #login-form input[type=checkbox],
.sign-in #reset-form input[type=checkbox] {
  margin-left: 5px;
}
.sign-in #login-form .action,
.sign-in #reset-form .action {
  background-color: #FE3A6D;
  color: white;
  max-width: 100%;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px;
  margin: 30px 0 30px;
}
.sign-in #login-form .action:hover,
.sign-in #reset-form .action:hover {
  background-color: #0F3456;
  color: #ffffff;
}
.sign-in #login-form #remember,
.sign-in #reset-form #remember {
  margin-right: 8px;
  margin-left: 32px;
}
@media (max-width: 767px) {
  .sign-in form#login-form img {
    margin-top: 0;
  }
}
.adManager .live {
  background: ;
}
.adManager .live .tab {
  background: red;
  color: white;
  padding: 2vh 5%;
  display: table;
}
.adManager .library {
  margin-top: 2vh;
}
.adManager .library hr {
  border-width: 4px;
}
.adManager .library .ads,
.adManager .library .ads .ad {
  background: transparent;
  color: black;
}
.adManager .upload {
  background-color: #2ECC71;
  color: white;
}
.adManager .ads {
  background: white;
  padding: 0 2.5%;
}
.adManager .ads .ad {
  width: 23%;
  display: inline-block;
  padding: 10px;
  text-align: center;
  color: white;
  position: relative ;
}
.adManager .ads .ad p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.adManager .ads .ad .action {
  display: inline;
  opacity: 0;
  background: green;
  position: relative;
  margin: 0 auto;
  top: 90px;
  height: auto%;
  text-align: center;
  color: white;
  border-radius: ;
  padding: 10px;
  vertical-align: middle;
  transition: all .3s ease;
  z-index: 10;
}
.adManager .ads .ad .action.delete {
  background: red;
}
.adManager .ads .ad:hover .action {
  opacity: 1;
  cursor: pointer;
  transition: all .3s ease;
}
.adManager .ads .ad:hover .img {
  opacity: 0.5;
  transition: all .3s ease;
}
.adManager .ads .ad .img {
  height: 180px;
  background: url('http://placehold.it/1920x1080/333333');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  float: ;
}
.dashboard .topten md-list {
  padding-top: 0;
  background: white;
}
.dashboard .topten md-list-item {
  padding: 8px 30px;
  font-weight: 400;
  color: #5a6772;
}
.dashboard .topten md-toolbar {
  background-color: #1f2532;
  color: #E2E2E2;
}
.dashboard .chartbox {
  padding: 16px;
}
.dashboard .leads .leadgen {
  margin-top: ;
  background: white;
  color: #1f2532;
  width: 48%;
  height: 12vh;
  float: left;
  text-align: center;
  transition: all .3s ease;
}
.dashboard .leads .leadgen:first-of-type {
  margin-right: 4%;
}
@media (max-width: 480px) {
  .dashboard .leads .leadgen {
    width: 100%;
    margin: 0 0 2vh !important ;
  }
}
.dashboard .leads .leadgen .overlay {
  opacity: 0;
  height: 12vh;
  width: 100%;
  text-align: center;
  display: none;
  background: rgba(0, 0, 0, 0.3);
  line-height: 12vh;
  position: fixed;
}
.dashboard .leads .leadgen:hover {
  transition: all .3s ease;
  cursor: pointer;
  background: #8D9AA5;
  color: white;
}
.dashboard .leads .leadgen:hover .overlay {
  transition: all .3s ease;
  display: inline-block;
  opacity: 1;
}
.dashboard .leads .leadgen .icon {
  background: #3299BB;
  display: table;
  position: relative;
  float: left;
  width: 30%;
  color: white;
  height: 12vh;
}
.dashboard .leads .leadgen .icon i {
  font-size: 60px;
  vertical-align: middle;
  display: table-cell;
}
@media (max-width: 1200px) {
  .dashboard .leads .leadgen .icon i {
    font-size: 40px;
  }
}
.dashboard .leads .leadgen .data {
  display: table;
  height: 12vh;
  width: 70%;
}
.dashboard .leads .leadgen .data .centerhelp {
  height: 12vh;
  display: table-cell;
  vertical-align: middle;
}
.dashboard .leads .leadgen .data .number {
  font-size: 60px;
  line-height: 60px;
  left: 65px;
  font-weight: bold;
  position: inherit;
  text-transform: initial;
}
.dashboard .leads .leadgen .data .label {
  display: block;
  margin-top: 5px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.dashboard .devices {
  float: left;
}
.dashboard .devices .device {
  width: 20%;
  min-height: 9vh;
  background: ;
  float: left;
  text-align: center;
  padding: 2.5%;
  max-width: 200px;
  min-height: 150px;
}
@media (max-width: 768px) {
  .dashboard .devices .device {
    min-width: 26%;
  }
}
@media (max-width: 480px) {
  .dashboard .devices .device {
    min-width: 40%;
  }
}
.dashboard .devices .device p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  text-transform: capitalize;
}
@media (max-width: 480px) {
  .dashboard .devices .device p {
    font-size: 14px;
  }
}
.dashboard .devices .device .icon {
  background: ;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  font-size: 70px;
  line-height: 90px;
  color: #2ECC71;
}
.dashboard .devices .device .icon.error {
  color: #FF0000;
}
.pricingcalc {
  font-size: 18px;
  margin-top: 10vh;
}
.pricingcalc .toprow {
  display: table;
  width: 100%;
  padding: 5vh 0 ;
}
.pricingcalc .toprow .plus {
  width: 5%;
  float: left;
  font-size: 50px;
  line-height: 150px;
  color: #999;
}
.pricingcalc .pccol {
  width: 26%;
  float: left;
  padding: 3vh 1.5vw;
  text-align: center;
}
.pricingcalc .pccol h1 {
  font-size: 80px;
  font-weight: 900;
  margin: 0;
}
.pricingcalc .pccol h4 {
  margin: 0;
}
.pricingcalc .pccol .select {
  margin-top: 5vh;
}
.pricingcalc .pccol .item {
  display: block;
  float: left;
  width: 100%;
}
.pricingcalc .pccol .item .title {
  text-align: left;
  float: left;
  padding: 10px 15px;
  font-weight: bold;
}
.pricingcalc .pccol .item input {
  float: right;
  margin: 15px 0 ;
}
.pricingcalc .pccol .item .btn {
  float: right;
  color: white;
  padding: 6px 12px;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
}
.pricingcalc .pccol .item .btn.add {
  background: #00AB51;
}
.pricingcalc .pccol .item .btn.remove {
  background: #B2B2B2;
  margin-right: 10px;
}
.pricingcalc .bottomrow {
  margin-top: 5vh;
  background: #313131;
  display: table;
  width: 100%;
  color: White;
}
.pricingcalc .bottomrow .discount {
  float: right;
  color: #333;
  background: #efefef;
  padding: 2vh 5vw;
  width: 100%;
}
.pricingcalc .bottomrow .discount h4 {
  float: right;
  margin-right: 2.5vw;
}
.pricingcalc .bottomrow .discount select {
  float: right;
}
.pricingcalc .bottomrow .total {
  padding: 2vh 5vw;
  float: right;
}
.pricingcalc .bottomrow .total h4,
.pricingcalc .bottomrow .total h1 {
  display: inline-block;
  float: right;
  line-height: 40px;
}
.pricingcalc .bottomrow .total h4 {
  margin-right: 2.5vw;
}
