@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.container {
  top: 30vh;
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
.container {
  position: relative;
}
.container-fluid {
  postition: absolute;
  top: 123px;
}
.section {
  margin-top: 30px;
  margin-bottom: 30px;
}
.list {
  border: 1px solid #000;
  border-radius: 15px;
  list-style: none outside none;
  overflow: auto;
  margin: 10px;
  padding: 10px;
}
.item {
  padding: 5px 10px;
  margin: 5px 0;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #247BA0;
  overflow: auto;
  /*font-size: 1.1em;*/
  /*font-weight: bold;*/
  text-align: center;
  cursor: move;
}
#location {
  margin-bottom: 1%;
}
#admanager{
  padding-top: 10vh;
}
#homecontent {
  position: relative;
  overflow: auto;
}
#homecontent-mid {
  min-height: 100%;
  top: -40px;
}
.sliderdiv {
  /*background: none repeat scroll;*/
  float: left;
  /*overflow:auto;*/
  /*max-height: 10%;*/
  overflow: hidden;
  white-space: nowrap;
}
.sliderdiv img {
  max-height: 20vh;
  max-width: 30vh;
}
.main-search img {
  max-height: 15vh;
  max-width: 20vh;
  overflow: scroll;
}
.source-card {
  max-width: 40vh;
  float: left;
}
.card-wrapper {
  /*float:right;*/
  max-width: inherit;
}
.main-search {
  overflow: scroll;
  /*padding: 20px 10px;*/
}
.card-text {
  white-space: pre-wrap;
  /* CSS3 */
}
.side-nav-container {
  max-height: 80vh;
  overflow-y: scroll;
  max-width: 80vh;
}
