<div class="public-signin-view">
  <div class="left-column">
    <div class="left-content">
      <img src="/img/placeholdericon60x60.png" alt="icon">
      <div class="title">Welcome to Sellr Dashboard</div>
      <div class="subtitle">Something about what Sellr is?</div>
    </div>
  </div>
  <div class="right-column">
    <div class="right-content">
      <div class="login-text" ng-bind="ui.resetpass ? 'Reset Password' : 'Login to your account'"></div>
      <div class="login-box">
        <div ng-if="ui.resetpass">
          <div class="reset-text">Enter your email address below and we'll send a password reset link to this email</div>
          <div class="common-field-title">Email</div>
          <input type="text" class="common-input" placeholder="" value="">
        </div>
        <div ng-if="!ui.resetpass">
          <div class="common-field-title">Email</div>
          <input type="text" class="common-input" placeholder="" value="">
          <div class="common-field-title">Password</div>
          <input type="password" class="common-input" placeholder="" value="">
        </div>
      </div>
      <div class="login-buttons" ng-if="ui.resetpass">
        <div class="common-btn-black">Send Email</div>
        <div class="forgot-pass" ng-click="ui.resetpass = false">Cancel</div>
      </div>
      <div class="login-buttons" ng-if="!ui.resetpass">
        <div class="common-btn-black">Sign In</div>
        <div class="forgot-pass" ng-click="ui.resetpass = true">Forgot Password?</div>
      </div>
      <div class="login-buttons" ng-if="!ui.resetpass">
        <div class="common-btn facebook">Facebook login</div>
        <div class="sign-up">Don't have an account? <span ui-sref="getStarted">Sign Up</span></div>
      </div>
    </div>
  </div>
</div>